<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main payment_external">

    <!--/*主题*/-->
    <div class="container " >
        <h5 class="page-header row bx">
            <span>当前位置：</span>
            <small>师傅确认订单页面</small>
            <span>>></span>
        </h5>
    </div>
    <input type="hidden" id="order_number" value="{$order_number}">
    <input type="hidden" id="wid" value="{$wid}">
    <input type="hidden" id="cid" value="{$cid}">
    <input value="<?php echo date('Y-m-d H:i:s')?>" hidden="hidden" id="sending_time">
    <div class="container">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 ">联系客户</div>
        </div>
        <div class="row">
            <div class="col-md-12 The-test-panel-body text-center">
                <i class="glyphicon text-success glyphicon-ok-sign" style="font-size: 40px"></i><span  class="text-success" style="font-size: 20px;position: relative;top: -10px;left: 10px; ">接单成功!</span>
                <h3 class="h3">客户联系方式</h3>
                <h4 class="h4">{$data['contact_phone']}</h4>
                <h4 class="p mt-30">注:请在2小时内联系客户，并选择前往维修时间</h4>
            </div>
        </div>
		<!--
        <div class="text-center row border-aspx pt-20 pb-20">
            客户已上传维修所需表格，请前往订单状态-订单详情查看并下载 <a href="" class="text-blue">点击下载</a>
        </div>
		-->
        <div class="row">
            <div class="col-md-12 The-test-panel-body text-left">
                <div class="form-group row">
                    <label for="" class="col-md-2 col-xs-12 col-sm-4 col-md-offset-4 h5">选择前往维修时间</label>
                    <div class="col-md-3 col-sm-4 col-xs-8">
                        <input class="layui-input" name="hours" placeholder="自定义日期格式" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss',min: laydate.now()})">
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-4">
                        <input type="button" class="btn border-radius btn-blue" id="hours" value="已确定时间">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="" class="col-md-2 col-xs-12 col-md-offset-4 h5">无法联系客户原因</label>
                    <div class="col-md-3 col-xs-8">
                    <select name="quiz1" class="form-control" id="reasons" >
                        <option value="1">无法接通</option>
                        <option value="2">电话空号</option>
                        <option value="3">电话停机</option>
                    </select>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <input type="button" class="btn border-radius btn-blue reason"  value="未确定时间">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5 mt-20">
            <a  href="__PUBLIC__orders/master" class="form-control border-radius btn btn-success">查看订单 </a>
        </div>
    </div>
</div>
</div>

</div>
<script>
    $('#hours').click(function(){
        var hours = $('input[name="hours"]').val();
        if(hours==''){
            layer.msg('请选择时间');
            return  false;
        }
        var order_number = $('#order_number').val();
        $.ajax({
            url:'__PUBLIC__hours',
            data:{hours:hours,order_number:order_number},
            dataType:'json',
            type:'post',
            success:function(data){
                if(data.code==200){
                    $('#hours').addClass('btn-green');
                    $('#hours').removeClass('btn-blue');
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    });
                }else if(data.code==100){
                     if(data.id==2){
                         layer.msg(data.msg, {
                        icon: 2,
                        time: 1000
                       }, function() {
                        location.href="__PUBLIC__help_master/"+order_number;
                       });
                    }else if(data.id==1){
                        layer.msg(data.msg, {
                        icon: 2,
                        time: 1000
                        }, function() {
                        location.href="__PUBLIC__install_help_master/"+order_number;
                        });
                    }else if(data.id==6){
                        layer.msg(data.msg, {
                        icon: 2,
                        time: 1000
                        }, function() {
                        location.href="__PUBLIC__coaming_help_master/"+order_number;
                        });
                    }
					else if(data.id==5){
                        layer.msg(data.msg, {
                        icon: 2,
                        time: 1000
                        }, function() {
                        location.href="__PUBLIC__gjm_help_master/"+order_number;
                        });
                    }
                  
                }else{
                    msg(data.msg,2,6,1000);
                }
            }
        })
    })


    $('.reason').click(function(){
        var reason=$("#reasons option:selected").text();
        var order_number = $('#order_number').val();
        $.ajax({
            url:'__PUBLIC__reason',
            data:{reason:reason,order_number:order_number},
            dataType:'json',
            type:'post',
            success:function(data){
                if(data.code==200){
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    });
                    var message_type='2';
                    var source_id=$('#wid').val();
                    var receive_id=$('#cid').val();
                    var content='您预留的手机号，师傅没有联系上，请及时查看手机号是否正确';
                    var sending_time = $('#sending_time').val();

                    $.ajax({
                        url: '__PUBLIC__api/message',
                        dataType: 'json',
                        data: {
                            message_type:message_type,
                            source_id:source_id,
                            receive_id:receive_id,
                            content:content,
                            sending_time:sending_time,
                        },
                        type: 'post',
                        success: function(data) {
                            if (data.code == 200) {
                            } else {
                                layer.msg(data.msg, {
                                    icon: 2,
                                    time: 1000
                                });
                            }
                        },
                    })
                }else{
                    msg(data.msg,2,6,1000);
                }

            }
        })
    })


</script>
{include file="public/footer" }