<!--客户维修确认表-->
<!--nav-->
{include file="public/header" }
<style>
    .main img{
        cursor: url('__PUBLIC__static/index/images/seachh.png'),auto;
    }
    #imgseach{
        cursor:pointer;
        margin:0px auto;
        display: block;
    }
</style>
<script>
    window.onload = function(){
      $('.main img').click(function(){
          var imgUrl = $(this).attr('src'); 
          $('#imgmodal').on('show.bs.modal', function (e) {
                $('#imgseach').attr('src',imgUrl);
            })
         $('#imgmodal').modal('show');
      });  
    };
    
</script>
<!--main-->
<div class='modal fade' id='imgmodal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style='font-size:2em'>&times;</span></button>
            <img src="" id='imgseach' alt="">
        </div>
    </div>
</div>
<div class="main client_affirm_accomplish">
    <!--/*主题*/-->
    <div class="container pl-0_media pr-0-media " >
        <h5 class="page-header bx">
            <span class="pl-10">当前位置：</span>
            <small>客户维修施工报告</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 ">客户维修施工报告</div>
        </div>
        
            <div class="row The-test-panel-body pl-0 pr-0">
                <div class="col-md-12">
                    <!--客户信息-->
                    <div class="row  border-bottom-1 ">
                            <!--维修项目名称-->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-md-3 mt-10">维修项目名称</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly="" required name="project_name" id="project_name" order_number="{$report[0]['order_number']}" class="form-control" value="{$report[0]['itemname']}">
                                    </div>
                                </div>
                            </div>
                            <!--店铺联系-->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label for="input_date" class="col-sm-3 mt-10">店铺联系人</label>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="input-append date form_datetime" id="input_date" data-date="2013-02-21T15:25:00Z">
                                            <input size="11" type="text" readonly=""  class="form-control" id="store_contact" value="{$report[0]['contactofcus']}" name="store_contact" >
                                            <span class="add-on"><i class="icon-remove"></i></span>
                                            <span class="add-on"><i class="icon-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--项目地址-->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-md-3 mt-10">项目地址</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly="" name="project_address" required id=" project_address" class="form-control" value="{$report[0]['address']}">
                                    </div>
                                </div>
                            </div>
                            <!--联系人电话-->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-md-3 mt-10">店铺联系人电话</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly="" name="phone_number_of_the_contact" required id="phone_number_of_the_contact" class="form-control" value="{$report[0]['phoneofcus']}">
                                    </div>
                                </div>
                            </div>
                            <!--施工公司-->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-md-3 mt-10">施工公司</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly="" name="construction_company" id="construction_company" required class="form-control" value="{$report[0]['company']}">
                                    </div>
                                </div>
                            </div>
                            <!--施工师傅-->
                            <div class="col-sm-6">
                                <div class="form-group row">
                                    <label class="col-md-3 mt-10">施工师傅</label>
                                    <div class="col-md-9">
                                        <input type="text" readonly="" name="Construction_of_the_teacher" required id="Construction_of_the_teacher" class="form-control" value="{$report[0]['master']}">
                                    </div>
                                </div>
                            </div>
                            <!--施工联系人-->
                            <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-md-3 mt-10">施工联系人</label>
                                <div class="col-md-9">
                                    <input type="text" readonly="" name="Construction_contact" id="Construction_contact" required class="form-control" value="{$report[0]['master']}">
                                </div>
                            </div>
                        </div>
                            <!--维修项目完成时间-->
                            <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-md-3 mt-10">维修项目完成时间</label>
                                <div class="col-md-9">
                                    <input type="text" readonly="" name="maintenance_project_completion_time" required id="maintenance_project_completion_time" class="form-control" value="{$report[0]['finish_time']|date='Y-m-d H:i:s',###}">
                                </div>
                            </div>
                        
                        </div>
                            <!--施工联系电话-->
                            <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-md-3 mt-10">施工联系人电话</label>
                                <div class="col-md-9">
                                    <input type="text" readonly="" name="construction_contact_number" id="construction_contact_number" required class="form-control" value="{$report[0]['master_phone']}">
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="row 1 border-bottom-1">
                        <div class="col-md-12  mb-30 mt-20">
                       
                            <div class="row border-bottom-1 pb-10">
                                <div class="col-md-6 col-xs-12">
                                    <input type="hidden" id="data_photo" name="aimg[]">
                                    <div id="fileList" class="uploader-list" style="float:right">
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            
                                            <input type="button" class="btn border-radius btn-default" value="门头照片">
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            
                                            <img id="img_data" class="pull-left_on_xs mt-0_xs" height="100px" style="float:left;margin-left: 50px;margin-top: -10px;" src="__DsQINiu__{$report[0]['doorpics']}"/>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <input type="hidden" id="data_photo1" name="bimg[]">
                                    <div id="fileList1" class="uploader-list" style="float:right">
                                    </div>

                                         <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            
                                        <input type="button" class="btn border-radius btn-default" value="维修签收单">
                                        </div>
                                   
                                        
                                        <div class="col-xs-12 col-md-6">
                                            
                                            <img id="img_data1" class="pull-left_on_xs mt-0_xs" height="100px" style="float:left;margin-left: 50px;margin-top: -10px;" src="__DsQINiu__{$report[0]['signrecvpics']}"/>
                                        </div>
                                    </div>

                                    
                                    
                                </div>
                            </div>
                            <div class="row border-bottom-1 mt-30 pb-10">
                                <div class="col-md-1 col-sm-2 mt-30">
                                    <input type="button" class="btn border-radius btn-default" value="专柜全景">
                                </div>
                                    <div class="col-md-3 col-sm-3">
                                        <img id="" height="100px" class="mt-0_xs" style="float:left;margin-left: 50px;margin-top: -10px;" src="__DsQINiu__{$report[0]['overviewpics']}"/>
                                    </div>
                            </div>
                            {volist name='info' id='v'}
                            <div class="row  mt-20 ">
                                <div class="col-md-1  col-sm-2 mt-30">
                                    <input type="button" class="btn border-radius btn-default" value="维修前">
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <img id="" height="100px" class="mt-0_xs" style="margin-left: 50px;margin-top: -10px;" src="__DsQINiu__{$v.before['image']}"/>
                                </div>
                                <div class="col-md-1 col-xs-6 col-sm-2 mt-30">
                                <input type="button" class="btn border-radius btn-default" value="维修后">
                            </div>
                                <div class="col-md-5 col-sm-4">
                                    <img id="" height="100px" class="mt-0_xs" style="margin-left: 50px;margin-top: -10px;" src="__DsQINiu__{$v.after['image']}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea readonly="" class="form-control p-10 mt-20">{$v.detials}</textarea>
                                </div>
                            </div>
                            {/volist}
                        </div>
                    </div>
                    <?php if(empty($report[0]['user_sign'])){ ?>
                    <div class="row mt-30">
                        <div class="col-md-2 col-xs-6 mt-10-media_xs col-sm-2">
                            <input type="button" class="btn df btn-default border-radius form-control" data-target='#queren' data-toggle='modal' value="客户方签字" id='kehuqianming'>
                        </div>
                        <div class="col-md-4 mt-10-media_xs col-xs-6 col-sm-4">
                            <div id='oippp'></div>
                            <input type="hidden" value="" name="user_sign" id='user_sign' class="form-control border-radius">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 col-xs-6 col-sm-4 text-center  mt-20">
                            <input id="submit" type="button" value="确认"  class="btn btn-success border-radius form-control">
                        </div>
                        <div class="col-md-4 col-xs-6 col-sm-4 col-sm-offset-3 text-center mt-20">
                                <a href='__PUBLIC__client/issue_feedback/{$report[0]["order_number"]}'  class="btn btn-blue border-radius form-control">报告有问题</a>
                        </div>
                    </div>
                    <?php }else{ ?>
                    <div class="row mt-30">
                        <div class="col-xs-6 mt-10-media_xs col-sm-2">
                            <input type="button" class="btn df btn-default border-radius form-control" value="客户方签字">
                        </div>
                        <div class=" mt-10-media_xs col-xs-6 col-sm-4">
                            <img src="__PUBLIC__public/{$report[0]['user_sign']}" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-4 col-xs-6 col-sm-4 col-sm-offset-3 text-center mt-20">
                            <a href='__PUBLIC__client/issue_feedback/{$report[0]["order_number"]}'  class="btn btn-blue border-radius form-control">报告有问题</a>
                        </div> -->
                        <div class="col-md-2 col-xs-6 text-center mt-20">
                            <a class="btn btn-success" onclick='javscript:;window.history.go(-1);'>返回</a>
                        </div>
                    </div>
                    <?php } ?>
                     
                    <!--提交按钮-->
                    
                </div>
            </div>

    </div>

</div>
    <script src="__PUBLIC__static/index/js/jq/flashcanvas.js"></script>
    <script src="__PUBLIC__static/index/js/jq/jSignature.min.js"></script>
<div class='modal fade' id='queren'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    客户签名
                </div>
            </div>
            <div class='modal-body' id='jSignature' style='border:1px solid #aaf;'>
            </div>
            <div class="modal-footer">
                <button class='btn btn-info' id='ok'>确定</button>
                <button class='btn btn-danger' id='rest' data-dismiss='modal'>关闭</button>
            </div>
        </div>
    </div>
</div>


<script>

var name_se=$("input[name='se']");
    name_se.change(function () {
        $("#xiandan").prop('disabled',false);
        $("#xiandan").css('background',"#ff5200").css('color',"#fff").css("border-color","#ff5200")
    })
//    判断radio单选框
    var radio=function () {
        name_se=$("input[name='se']");
        for(let i=0;i<name_se.length;i++){

            if($(name_se[i]).prop("checked")){
                $("#xiandan").prop('disabled',false);
                $("#xiandan").css('background',"#ff5200").css('color',"#fff").css("border-color","#ff5200");
            }else{
                $("#xiandan").prop('disabled',true);
                $("#xiandan").css('background',"#fff").css('color',"#000").css("border-color","#ddd");
            }
        }
    }
    radio();
</script>
<script >
$(function(){
    var orderNumber = $('#project_name').attr('order_number');
    $jSignature = $('#jSignature');
    $('#queren').on('shown.bs.modal', function() {
    width = $jSignature.parent().width() - 20;
    $jSignature.jSignature({
        height: 200,
        width: width,
        lineWidth: "2",
        signatureLine: false
    });
});
$('#queren').on('hide.bs.modal', function() {
    $jSignature.html('');
});
$('#ok').on('click', function() {
    layer.confirm('您是确定好签名了吗？', {
        btn: ['确定', '取消'] //按钮
    }, function(index) {
        var datapair = $jSignature.jSignature("getData", "image");
        var i = new Image();
        i.src = "data:" + datapair[0] + "," + datapair[1];
        $(i).appendTo($("#oippp"));
        if (i.src != '') {
            AJAXsignature = function(url,file_data,folder_id,file_id,type,classname){
                $.ajax({
                url:url,
                type: 'post',
                dataType:'json',
                data: {
                    file_data:file_data,
                    folder_id:folder_id,
                    file_id:file_id,
                    type:type,
                    },
                    success:function(response) {
                        $('#'+classname).val(response.ids);
                    },
                    error: function(response) {
                    }
                });
        }
            $("#kehuqianming").parent().html("<input type='button' class='btn df btn-default border-radius form-control' value='客户方签字' id='kehuqianming'>");
            AJAXsignature('__PUBLIC__signature', i.src, '6', orderNumber, 'qianming', 'user_sign');
            
            $('#queren').modal('hide'); 
        }
        layer.close(index);
    }, function() {
        layer.close();
    });

});
$('#submit').on('click',function(){
     layer.confirm('确认提交吗？', {
        btn: ['确定', '取消'] //按钮
    }, function() {
        if($('#user_sign').val() == ''){
            msg('请先签名,再提交');
            return ;   
        }
        $.ajax({
                url:'__PUBLIC__update_client_affirm_accomplish/'+orderNumber,
                type: 'post',
                dataType: 'json',
                data: {
                    user_sign:$('#user_sign').val(),
                },
                success:function(data) {
                    msg(data.msg,1);
                    window.location.href='__PUBLIC__client_affirm_accomplishs/'+data.data;
                },
                error: function(data) {
                    msg(data.msg);
                }
            });
    }, function() {
        layer.close();
    });
});
});
</script>
{include file="public/footer" }