<?php 
ini_set('date.timezone','Asia/Shanghai');
//error_reporting(E_ERROR);
require_once "wxpay/lib/WxPay.Api.php";
require_once "wxpay/example/WxPay.JsApiPay.php";
require_once 'wxpay/example/log.php';

//初始化日志
$logHandler= new CLogFileHandler("../logs/".date('Y-m-d').'.log');
$log = Log::Init($logHandler, 15);

//打印输出数组信息
function printf_info($data)
{
    foreach($data as $key=>$value){
        echo "<font color='#00ff55;'>$key</font> : $value <br/>";
    }
}

 $aa = '100';
 $bb = $aa*$qq;
 $bb = ceil($bb);
//①、获取用户openid
$openId = session('openid');
//$openId = GetOpenid();
//②、统一下单
$input = new WxPayUnifiedOrder();
$input->SetBody("账户充值");
$input->SetAttach("账户充值");
//$input->SetOut_trade_no(WxPayConfig::MCHID.date("YmdHis"));
 $num=WxPayConfig::MCHID.date("YmdHis");
 $input->SetOut_trade_no($num);
$input->SetTotal_fee($bb);
$input->SetTime_start(date("YmdHis"));
$input->SetTime_expire(date("YmdHis", time() + 600));
$input->SetGoods_tag("test");
$input->SetNotify_url("http://http://www.bj-wang.com/wxpay/example/notify.php");
$input->SetTrade_type("JSAPI");
$input->SetOpenid($openId);
$order = WxPayApi::unifiedOrder($input);
//echo '<font color="#f00"><b>统一下单支付单信息</b></font><br/>';
//printf_info($order);
$jsApiParameters = GetJsApiParameters($order);
//③、在支持成功回调通知中处理成功之后的事宜，见 notify.php
/**
 * 注意：
 * 1、当你的回调地址不可访问的时候，回调通知会失败，可以通过查询订单来确认支付是否成功
 * 2、jsapi支付时需要填入用户openid，WxPay.JsApiPay.php中有获取openid流程 （文档可以参考微信公众平台“网页授权接口”，
 * 参考http://mp.weixin.qq.com/wiki/17/c0f37d5704f0b64713d5d2c37b468d75.html）
 */
?>
<input type="hidden" id="uid" value="{$uid}">
<input type="hidden" id="qq" value="{$qq}">
   {include file="public/header"/}
    <script type="text/javascript">
	//调用微信JS api 支付
	function jsApiCall()
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			<?php echo $jsApiParameters; ?>,
			function(res){
				WeixinJSBridge.log(res.err_msg);
				  if(res.err_msg == "get_brand_wcpay_request:ok"){ 
                          var uid = $('#uid').val();
					      var total = $('#qq').val();
					   $.ajax({
					       url:'__PUBLIC__api_money',
						   data:{uid:uid,total:total},
						   dataType:'json' ,
						   type:'post',
						   success:function(data){
						      if(data.code==200){
							   // setTimeout("location.href='http://www.bj-wang.com/'",2000);  
							   location.href='http://www.bj-wang.com/core/master';
							  }
						   }
					   })
                      //alert(res.err_code+res.err_desc+res.err_msg);  
                      // window.location.href="http://www.bj-wang.com/";  
                   }else{  
                       //返回跳转到订单详情页面  
                        alert(支付失败);  
                       window.location.href='http://www.bj-wang.com/core/master';         
                   } 
				//alert(res.err_code+res.err_desc+res.err_msg);
			}
		);
	}
	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
	</script>
    <br/>
	
	<div class='container pt-20' style="">
		<div class='row'>
			<div class='col-xs-12 pt-30'>
				<div class='panel panel-orange'>
					<div class='panel-heading'>
						<div class='panel-title'>
							<span>标匠订单:<?php echo $num;?></span>
						</div>
					</div>
					<div class='panel-body'>
						<p style="font-size:1.3em;color: #000;font-weight:bold"></p>
						<p class="pt-30">师傅工号：{$uid}</p>
						<p class="pt-30">类型：{$service}</p>
						<p class="pt-30"> <b>项目费用：<span style="color:#f00;font-size:32px">￥{$qq}</span></b></p><br/><br/>
					</div>
				</div>
			  	
			</div>
		</div>	               
	</div>				 
	<div align="center">
		<button style="width:210px; height:50px; border-radius: 15px;background-color:#FE6714; border:0px #FE6714 solid; cursor: pointer;  color:white;  font-size:16px;" type="button" onclick="callpay()" >立即支付</button>
	</div>
</body>
</html>