{include file='public/header'}
<div class="main" >
   <div class="container" >
   	   <div class="row" style="margin-top:3%">
   	   	    <div class="col-md-12">
   	   	    	<div class="panel panel-orange">
   	   	    		<div class="panel-heading">
   	   	    			<div class="panel-title">
   	   	    				<p class="panel-title-p">确认接单:{$order_number}</p>
   	   	    			</div>
   	   	    		</div>
   	   	    			<div class="panel-body"> 
   	   	    			<div class='row'>
		            	  <div class='col-md-8 col-md-offset-2'>
   	   	    				<div class="content" style="margin-top:2em;">
   	   	    				   <table class='table table-hover table-bordered table-responsive  table-striped'>
							   	{volist name="list" id="vo"}
   	   	    				       <tr>
   	   	    				       	  <td>勘测品牌类型</td><td>{$vo.brand}</td>
   	   	    				       </tr>
   	   	    				       <tr>
   	   	    				       	  <td>勘测面积</td><td>{$vo.survey_area}平方米</td>
   	   	    				       </tr>
   	   	    				       <tr>
   	   	    				       	  <td>空间高度</td><td>{$vo.height}米</td>
   	   	    				       </tr>
   	   	    				   	   <tr>
   	   	    				       	  <td>施工时间</td><td>{$vo.sg_time}</td>
   	   	    				       </tr>
   	   	    				   	   <tr>
   	   	    				       	  <td>完工期限</td><td>{$vo.wg_time}</td>
   	   	    				       </tr>
   	   	    				   	    <tr>
   	   	    				       	  <td>店铺地址</td><td>{$vo.full_location}-{$vo.address}</td>
   	   	    				       </tr>
   	   	    				   	   <tr>
   	   	    				       	  <td>联系人</td><td>{$vo.contacts}</td>
   	   	    				       </tr>
   	   	    				   	    <tr>
   	   	    				       	  <td>联系号码</td><td>{$vo.phone}</td>
   	   	    				       </tr>
   	   	    				   	   
   	   	    				   	    <tr>
   	   	    				       	  <td>特殊要求</td><td>{$vo.requirement}</td>
   	   	    				       </tr>
								   <tr>
   	   	    				       	  <td>总价</td><td>{$vo.price}</td>
   	   	    				       </tr>
								    <input type="hidden" value="{$vo.price}" id="price">
								  {/volist} 
   	   	    				   </table>
   	   	    				  <div class="submit text-center" >
								    <label onclick="ds_ok()"class="btn btn-info" style="background: #169BD5;padding:0.5em 3em;border-radius: 7%;margin-top:1em;float:right">
										<span>确认接单</span>
								   </label>
								   <input type="hidden" value="{$order_number}" id="order_number">
								   
							   </div>
                            </div>
   	   	    			</div>
   	   	    		</div> 
   	   	    	</div>
   	   	    </div>
   	   </div>
   	   
   </div>
</div>
</div>
<script>
function ds_ok(){
var  order_number=$('#order_number').val();
var  price=$('#price').val();
var  link='__PUBLIC__ds_survey_payment/'+order_number;
layer.confirm('确认接单？', {
  btn: ['确认','取消'] //按钮
}, function(){
	$.ajax({
				url:'__PUBLIC__ajax_survey_masterok',
				type:'post',
				dataType:'json',
				data:{
					order_number:order_number,
					link:link,
					price:price
				},
				success:function(data){
						if(data.code == 200){ 
							 layer.msg(data.msg, {icon: 6,time:1500,shade:0}, function(index){
								window.location.href="__PUBLIC__orders/master";
							});
						}else{
							 layer.msg(data.msg, {icon: 5,time:1500,shade:0});
							 return false;
						}
						
					}
					
			});
}, function(){

});
}

</script>
{include file='public/footer'}