{include file='public/header'}
 


    <div class='main' style="padding-top:5%;">
        <div class='container'>
          <div class='row'>
	          <div class='col-md-8 col-md-offset-2'>
	          	<div class='panel panel-red'>
                            <div class='panel-heading'>
                                <div class='panel-title'>
                                    <p class='panel-title-p' style=''>
                                        <span style="font-size:1em"> 任务发布成功</span>
                                    </p>
                                </div>
                            </div>
                           
                            <div class='panel-body mb-8'>
                                <div class='row'>
                                    <div class='col-md-12 text-center'>
                                       <i class="glyphicon glyphicon-ok-sign" style="font-size:5em;color:green;"></i>
                                    </div>
                                    <div class="content1 text-center" >
                                    	<span style="font-weight:bold;">你的任务已发布成功！</span>
                                    </div>
                                    <div class="content2 text-center" style="font-weight:bold;padding-top:1em">
                                    	<span>请耐心等待,平台师傅正在为你评估。</span>
                                    </div>
                                          <div class="centen2 text-center" style="margin-top:3em">
                                    	 <label class='btn btn-info btn-sm' style="border-radius:5%;font-size:2em">
                                            <a href="__PUBLIC__orders/client"><span>查看订单</span></a>
                                        </label>
                                    </div> 
                                
                                </div>
                            </div>
                        </div>
	          </div>
          </div>


    	</div>
    </div>
{include file='public/footer'}