@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?48iu40');
  src:  url('fonts/icomoon.eot?48iu40#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?48iu40') format('truetype'),
    url('fonts/icomoon.woff?48iu40') format('woff'),
    url('fonts/icomoon.svg?48iu40#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-保证金1:before {
  content: "\e96b";
  color: #84c2f0;
}
.icon-密码:before {
  content: "\e96c";
  color: #ff8f00;
}
.icon-提现:before {
  content: "\e96d";
  color: #ff5d00;
}
.icon-银行卡:before {
  content: "\e96e";
  color: #1a84d2;
}
.icon-保证金:before {
  content: "\e96a";
  color: #019f0c;
}
.icon-服务:before {
  content: "\e967";
  color: #ff5200;
}
.icon-品质:before {
  content: "\e968";
  color: #ff8f00;
}
.icon-售后:before {
  content: "\e969";
  color: #018ce7;
}
.icon-更多:before {
  content: "\e966";
}
.icon-删除:before {
  content: "\e965";
}
.icon-dingdan2:before {
  content: "\e964";
}
.icon-五角星-1:before {
  content: "\e962";
}
.icon-不满意:before {
  content: "\e94a";
}
.icon-不满意1:before {
  content: "\e961";
}
.icon-订单完成-(1):before {
  content: "\e950";
  color: #fd802e;
}
.icon-订单完成:before {
  content: "\e951";
  color: #fd802e;
}
.icon-定时:before {
  content: "\e952";
}
.icon-盾牌:before {
  content: "\e953";
}
.icon-发布:before {
  content: "\e954";
}
.icon-付款:before {
  content: "\e955";
}
.icon-满意-12:before {
  content: "\e956";
}
.icon-施工中:before {
  content: "\e957";
}
.icon-讨论:before {
  content: "\e958";
}
.icon-添加图片-(1):before {
  content: "\e959";
}
.icon-添加图片:before {
  content: "\e95a";
  color: #707070;
}
.icon-头像:before {
  content: "\e95b";
}
.icon-未确认:before {
  content: "\e95c";
}
.icon-五角星-(1):before {
  content: "\e95d";
}
.icon-招募灰:before {
  content: "\e95e";
}
.icon-不满意12:before {
  content: "\e95f";
}
.icon-满意-1:before {
  content: "\e94b";
}
.icon-一般:before {
  content: "\e94d";
}
.icon-不满意-(1):before {
  content: "\e960";
}
.icon-返回3:before {
  content: "\e94c";
}
.icon-满意:before {
  content: "\e94e";
}
.icon-五角星:before {
  content: "\e94f";
  color: #f77911;
}
.icon-camera3:before {
  content: "\e949";
}
.icon-返回2:before {
  content: "\e947";
}
.icon-右上角筛选:before {
  content: "\e946";
}
.icon-上箭头:before {
  content: "\e945";
}
.icon-箭头-上:before {
  content: "\1f315";
}
.icon-关闭:before {
  content: "\e944";
  color: #dbdbdb;
}
.icon-放大镜:before {
  content: "\e943";
  color: #cdcdcd;
}
.icon-fh:before {
  content: "\e942";
}
.icon-dingdan:before {
  content: "\e963";
}
.icon-返回:before {
  content: "\e941";
}
.icon-右下角勾选:before {
  content: "\e900";
}
.icon-搜索-线性:before {
  content: "\e901";
}
.icon-表头-倒序:before {
  content: "\e902";
}
.icon-filtrate:before {
  content: "\e903";
  color: #bfbfbf;
}
.icon-购物车添加:before {
  content: "\e904";
}
.icon-箭头-下2:before {
  content: "\e905";
}
.icon-扫一扫:before {
  content: "\e906";
}
.icon-搜索:before {
  content: "\e907";
}
.icon-下箭头:before {
  content: "\e908";
}
.icon-下拉:before {
  content: "\e909";
}
.icon-箭头-下:before {
  content: "\e90a";
}
.icon-brand:before {
  content: "\e90b";
  color: #630;
}
.icon-brand2:before {
  content: "\e90c";
}
.icon-brand3:before {
  content: "\e90d";
  color: #1e8cbe;
}
.icon-brand4:before {
  content: "\e90e";
  color: #da4648;
}
.icon-heart:before {
  content: "\e90f";
}
.icon-cloud:before {
  content: "\e910";
}
.icon-star:before {
  content: "\e911";
}
.icon-tv:before {
  content: "\e912";
}
.icon-sound:before {
  content: "\e913";
}
.icon-video:before {
  content: "\e914";
}
.icon-trash:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-key:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-settings:before {
  content: "\e919";
}
.icon-camera:before {
  content: "\e91a";
}
.icon-tag:before {
  content: "\e91b";
}
.icon-lock:before {
  content: "\e91c";
}
.icon-bulb:before {
  content: "\e91d";
}
.icon-pen:before {
  content: "\e91e";
}
.icon-diamond:before {
  content: "\e91f";
}
.icon-display:before {
  content: "\e920";
}
.icon-location:before {
  content: "\e921";
}
.icon-eye:before {
  content: "\e922";
}
.icon-bubble:before {
  content: "\e923";
}
.icon-stack:before {
  content: "\e924";
}
.icon-cup:before {
  content: "\e925";
}
.icon-phone:before {
  content: "\e926";
}
.icon-news:before {
  content: "\e927";
}
.icon-mail:before {
  content: "\e928";
}
.icon-like:before {
  content: "\e929";
}
.icon-photo:before {
  content: "\e92a";
}
.icon-note:before {
  content: "\e92b";
}
.icon-clock:before {
  content: "\e92c";
}
.icon-paperplane:before {
  content: "\e92d";
}
.icon-params:before {
  content: "\e92e";
}
.icon-banknote:before {
  content: "\e92f";
}
.icon-data:before {
  content: "\e930";
}
.icon-music:before {
  content: "\e931";
}
.icon-megaphone:before {
  content: "\e932";
}
.icon-study:before {
  content: "\e933";
}
.icon-lab:before {
  content: "\e934";
}
.icon-food:before {
  content: "\e935";
}
.icon-t-shirt:before {
  content: "\e936";
}
.icon-fire:before {
  content: "\e937";
}
.icon-clip:before {
  content: "\e938";
}
.icon-shop:before {
  content: "\e939";
}
.icon-calendar:before {
  content: "\e93a";
}
.icon-wallet:before {
  content: "\e93b";
}
.icon-vynil:before {
  content: "\e93c";
}
.icon-truck:before {
  content: "\e93d";
}
.icon-world:before {
  content: "\e93e";
}
.icon-document-cloud:before {
  content: "\e93f";
}
.icon-camera2:before {
  content: "\e948";
}
.icon-search2:before {
  content: "\e940";
}
