{include file="public/header_sy" }
<body>
<div id="bj-app">
    <div class="chengxinbaozheng">
        <si-headers></si-headers>
        <si-content></si-content>
    </div>
</div>
<script type="text/x-template" id="content">
        <div class="conten">
            <div class="tablet">
                <div class="weui-panel weui-panel_access">
                    <div class="weui-panel__bd">
                        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                            <div class="weui-media-box__hd">
                                <div class="title">
                                    <span class="icon-保证金"></span>
                                </div>

                            </div>
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">保证金</h4>
                                <p class="weui-media-box__desc">你还未缴纳保证金</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="weui-flex fuwu">
                    <div class="weui-flex__item">

                        <span class="icon-品质"></span>
                        品质保证
                    </div>
                    <div class="weui-flex__item acti">

                        <span class="icon-服务"></span>
                        服务保证
                    </div>
                    <div class="weui-flex__item acti"><span class="icon-售后"></span>
                        售后服务
                    </div>
                </div>

            </div>
            <div class="weui-flex xieyi">
                <div class="weui-flex__item ">
                    了解并同意
                    <a href="">《标匠平台用户保障协议》</a>
                </div>
            </div>
            <div class="weui-flex button">
                <div class="weui-flex__item">
                    <button  class="weui-btn bj_button_orange">我的缴纳</button>
                </div>
            </div>
            <div class="xinxi">
                <h3 class="title-xinxi">保证金说明</h3>
                <p class="text-xinxi">
                    1.保证金是根据《标匠平台用户保障服务协议》约定的条款和条件及标匠平台用户其他公示规则的规定缴存并冻结你的账户,在你未履行用户保障服务承若时用于对用户进行赔付的资金.

                </p>
                <p class="text-xinxi">
                    2.师傅缴纳保证金是对用户的一种保障m所以客户在下单时候会出现优先选择缴纳保证金的师傅
                </p>
                <p class="text-xinxi">
                    3.师傅缴纳保证金只收取12%的服务费,如果没有缴纳保证金将收取15%的服务费。</p>


            </div>
        </div>
</script>
<script>
    Vue.component('si-headers', {
        template: '#header',
        data: function () {
            return {
                title: "诚信保证金",
                left:"<span class=\"icon-返回2\"></span><a  style='color: #fff'>返回</a>",
                right:"<span>缴纳记录</span>"
            }
        },
        methods:{
            goback:function () {
                window.history.go(-1)
            }
        }
    });
    Vue.component('si-content', {
        template: '#content',
        data: function () {
            return {

            }
        },
        methods:{

        }
    });
    new Vue({
        el: '#bj-app',
        mounted:function () {

        },

        methods:{

        }
    })
</script>
</body>
