{include file="public/header_sy" }
<body>
<div id="bj-app">
    <div class="gerenxinxi">
        <si-headers></si-headers>
        <si-content></si-content>
    </div>
</div>
<script type="text/x-template" id="content">

        <div class="weui-cells_form">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd ">
                        <img src="" class="img">
                    </div>
                    <div class="weui-cell__bd text">
                        修改头像
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd ">
                        昵称
                    </div>
                    <div class="weui-cell__bd text">
                        花再开那年
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd ">
                        性别
                    </div>
                    <div class="weui-cell__bd text">
                        保密
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd ">
                        手机号
                    </div>
                    <div class="weui-cell__bd text">
                        18888888**88
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd ">
                        紧急联系人
                    </div>
                    <div class="weui-cell__bd text">
                        18888888**88
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd ">
                        所在地
                    </div>
                    <div class="weui-cell__bd text">
                       山东--菏泽--沙土
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__hd ">
                        密码管理
                    </div>
                    <div class="weui-cell__bd text">
                       登录密码和支付密码
                    </div>
                    <div class="weui-cell__ft">

                    </div>
                </a>
            </div>
            <div class="weui-flex button">
                <div class="weui-flex__item">
                    <button  class="weui-btn bj_button_orange">退出登录</button>
                </div>
            </div>
        </div>

</script>
<script>
    Vue.component('si-headers', {
        template: '#header',
        data: function () {
            return {
                title: "个人信息",
                left:"",
                right:""
            }
        },
    });
    Vue.component('si-content', {
        template: '#content',
        data: function () {
            return {
            }
        },
        methods:{

        }
    });
    new Vue({
        el: '#bj-app',
        mounted:function () {
        },
        methods:{

        }
    })
</script>
</body>
