{include file="public/header_sy" }
<body>
<div id="bj-app">
    <div class="">
        <si-headers></si-headers>
        <si-content></si-content>
    </div>
</div>
<script type="text/x-template" id="content">
    <form autocomplete="off">
        <div class="weui-cells_form">
            <div class="weui-cell bj-weui-cell">

                <div class="weui-cell__bd">
                    <input class="weui-input " type="text" name="brand"   id="brand" placeholder="请输入昵称">
                </div>
                <div class="">
                    <span class="icon-未确认"></span>
                </div>
            </div>
            </div>
            <div class="weui-flex button">
                <div class="weui-flex__item">
                    <button  class="weui-btn bj_button_orange">完成</button>
                </div>
            </div>
    </form>
</script>
<script>
    Vue.component('si-headers', {
        template: '#header',
        data: function () {
            return {
                title: "修改昵称",
                left:"<span class=\"icon-返回2\"></span><a  style='color: #fff'>返回</a>",
                right:""
            }
        },
        methods:{
            goback:function () {
                window.history.go(-1)
            }
        }
    });
    Vue.component('si-content', {
        template: '#content',
        data: function () {
            return {

            }
        },
        methods:{

        }
    });
    new Vue({
        el: '#bj-app',
        mounted:function () {

        },

        methods:{

        }
    })
</script>
</body>
