{include file="public/header_sy" }
<body>
<div id="bj-app">
    <div class="shezhimima">
        <si-headers></si-headers>
        <si-content></si-content>
    </div>
</div>
<script type="text/x-template" id="content">
    <div>
        <div class="weui-cells_form">
            <div class="weui-cell bj-weui-cell">

                <div class="weui-cell__bd">
                    <input class="weui-input "  type="text"   id="" placeholder="请输入原手机号码" value="">
                </div>
            </div>

            <div class="weui-cell bj-weui-cell">

                <div class="weui-cell__bd">
                    <input class="weui-input "  type="text"   id="" placeholder="请输入新手机号码" value="">
                </div>

            </div>
            <div class="weui-cell bj-weui-cell">

                <div class="weui-cell__bd">
                    <input class="weui-input "  type="text"   id="" placeholder="请输入手机验证码" value="">
                </div>
                <div class="weui-cell__hd">
                    <label class="weui-label bj-label-color">获取验证码</label>
                </div>
            </div>
        </div>

        <div class="weui-flex button">
            <div class="weui-flex__item">
                <button  class="weui-btn bj_button_orange">确定修改</button>
            </div>
        </div>

    </div>
</script>

<script>
    Vue.component('si-headers', {
        template: '#header',
        data: function () {
            return {
                title: "修改手机号",
                left:"<span class=\"icon-返回2\"></span><a  style='color: #fff'>返回</a>",
                right:""
            }
        },
        methods:{
            goback:function () {
                window.history.go(-1)
            }
        }
    });
    Vue.component('si-content', {
        template: '#content',
        data: function () {
            return {
                fuwuleixing:"",
                fuwuquyu:"",
                fuwushijian:"",
                yuangongrenshu:"",
                fuwushuliang:"",
                houchedaxiao:"",
                houcedunwei:"",
                fuwujiesho:""
            }
        },
        methods:{

        }
    });
    new Vue({
        el: '#bj-app',
        mounted:function () {

        },

        methods:{

        }
    })
</script>
</body>
