{include file="public/header_sy" }
<div id="bj-app" class="yanzeng">
    <form>
        <si-headers></si-headers>
        <si-content ></si-content>
        <si-footer ></si-footer>
    </form>
</div>
<script type="text/x-template" id="content">
    <div>
        <div class="bj-top-bar">
            <div class="bj-shaixuan-left">
                <a href="javascript:;" class="weui-btn weui-btn-yanzhemg bj_button_blues">挑师父</a>
            </div>
            <div class="bj-shaixuan-content">
                <span class="icon-放大镜 img"></span>
                <input type="text" v-model="fangdaShow"  class="bj-input" placeholder="请输入师傅工号/技能">
                <span class="icon-关闭 guanbi" @click="showFangda" v-show="fangdaShow"></span>
            </div>
            <div class="bj-shaixuan-right">
                <a href="javascript:;" class="weui-btn-yanzhemg weui-btn bj_button_dali">验证</a>
            </div>
        </div>
        <div class="weui-flex bj-huanyipi">
            <div class="weui-flex__item text-left">
                平台推荐师傅

            </div>
            <div class="weui-flex__item text-right">
                换一批
            </div>
        </div>
        <div class="weui-panel weui-panel_access">

            <div class="weui-panel__bd">
                <a href="javascript:void(0);" class="weui-media-box  weui-media-box_appmsg">
                    <div class="weui-media-box__hd weui-media-box_appmsg-img">
                        <img class="weui-media-box__thumb" src="__indexStatic__images/swiper-1.jpg">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">标题一</h4>
                        <p class="weui-media-box__desc">服务技能:</p>
                        <p class="weui-media-box__desc">服务标签:</p>
                        <p class="weui-media-box__desc size">累计接单:</p>
                    </div>
                    <div class="weui-media-box__bd button">
                        <input type="button" class="weui-btn  bj_button_bai" value="选中">
                    </div>
                </a>
            </div>
        </div>
    </div>

</script>
<script type="text/x-template" id="footer">

</script>
<script>



    Vue.component('si-headers', {
        template: '#header',
        data: function () {
            return {
                title: "挑选主任咨询主任师傅",
                left:"<span class=\"icon-返回2\"></span>返回",
                right:"",
            }
        },
        methods:{
            showFangda:function () {
                this.fangdaShow='';
            },
            goback:function () {
                window.history.go(-1)
            }
        }
    });
    Vue.component('si-content', {
        template: '#content',
        data: function () {
                        return {
                            fangdaShow:'0'
                        }
        },
        methods:{
            showFangda:function () {
                
            }
        }

    });
    Vue.component('si-footer', {
        template: '#footer',
        data: function () {
            return {

            }
        },
        methods:{
        }
    });
    new Vue({
        el: '#bj-app',
        mounted:function () {

        },
        methods:{
        }
    })
</script>
</body>
