<!--nav-->
{include file="public/header" }
<!--main-->
<style>

</style>
<div class="main install_master_filter">

    <div class="container pr-0-media pl-0_media" >
        <h5 class="page-header pl-10 bx">
            <span>当前位置：</span>
            <small>筛选师傅</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container">
        <!--/*标题*/-->
        <div class="The-test-panel-head">
            <div class=" pl-20">
                筛选师傅
            </div>
        </div>
        <div class=" pl-0 The-test-panel-body  ">
                <div class="pl-10 text-black">
                    <span class="" >全部分类 ></span>
                    <select id="fl" class="pl-10  pr-10 border-aspx" name="" id="" style="padding-top: 4px;padding-bottom: 4px">
                        <option value="as">安装</option>
                    </select>
                    <span class="g"> > </span>
                    <span style="padding-top: 5px;padding-bottom: 5px" class="border-aspx pl-10 pr-10 ">
                品牌:
                <i class="text-orange  pr-20" id="pin">
                    阿尼玛
                </i >
                <i class="text-orange x">
                    x
                </i>
            </span>
                    <span class="g">></span>
                    <span style="padding-top: 5px;padding-bottom: 5px" class="border-aspx pl-10 pr-10 ">
                师傅技能:
                <i id="jn" class="text-orange pr-20">
                    电工</i >
                <i class="text-orange x">
                    x
                </i>
            </span>
                    <span class="g"> > </span>
                    <input type="text" class="border-aspx" placeholder="师傅技能/师傅工号/师傅姓名" style="padding: 5px;min-width: 250px">
                    <input type="button" class="border-radius bg-orange" style="padding: 5px;" value="搜索">
              </div>
                <div style="background: #dddddd" class="pt-10 mt-10 mb-20  pl-10 pb-10">
                <span class="mr-20">师傅筛选   </span> <span>工20000位师傅</span>
            </div>
            <div class="container">
                <div class="row mr-0" >
                    <div class="col-md-1  mt-20">
                        品牌:
                    </div>
                    <div class="col-md-11">
                        <div class="layui-tab layui-tab-card" lay-filter="docDemoTabBrief">
                            <ul class="layui-tab-title">
                                <li class="layui-this">化妆品</li>
                                <li>服装</li>
                                <li>珠宝柜</li>
                                <li>商品食品</li>
                                <li>数码产品</li>
                                <li>手表</li>
                                <li>儿童玩具</li>
                                <li>
                                    <input type="text" placeholder="请输入品牌" class="pl-10" style="height: 30px;">
                                    <i class="glyphicon glyphicon-search" style="left: -20px"></i>
                                </li>
                            </ul>
                            <div class="layui-tab-content k_a">
                                <div class="layui-tab-item  layui-show">
                                    <div class="row pr-20">
                                        <div class="col-md-2 b_a pull-right text-center">
                                            <a href="javascript:;" class="dou">多选</a>
                                            <a href="javascript:;" class="quan">更多</a>
                                        </div>
                                        <div class="col-md-10 pull-right" >
                                            <ul class="mb-10 space pull-left">
                                                <li>
                                                    <a href=""  class=" a_s" >
                                                        <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                                                        <span class="img-responsive text-center " >
                                                    品怕

                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=""  class=" a_s" >
                                                        <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                                                        <span class="img-responsive text-center " >
                                                    品怕
                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href=""  class=" a_s" >
                                                        <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                                                        <span class="img-responsive text-center " >
                                                    品怕
                                                </span>
                                                    </a>
                                                </li>
                                                <li>
                                                <a href=""  class=" a_s" >
                                                    <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                                                    <span class="img-responsive text-center " >
                                                    品怕
                                                </span>
                                                </a>
                                                 </li>
                                                <li>
                                                <a href=""  class="border-aspx a_s" >
                                                    <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                                                    <span class="img-responsive text-center " >
                                                    品怕
                                                </span>
                                                </a>

                                            </li>
                                                <li>
                                                    <a href=""  class="border-aspx a_s" >
                                                        <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                                                        <span class="img-responsive text-center " >
                                                    品怕
                                                </span>
                                                    </a>

                                                </li>
                                            </ul>
                                            <div class="pos">
                                                <input type="button" disabled value="确认">
                                                <input id="qu" type="button" value="取消">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border-bottom-1 bo_b ">  </div>
                <div class="row pt-10">
                    <div class="col-md-1">
                        服务类型:
                    </div>
                    <div class="col-md-9  text-center">
                        <ul class="ul_list ul_listk">
                            <li  class="">
                               <span class="mr-10">安装</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">维修</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">勘测</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">更换灯片</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">工程监理</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">围板搭建</span>
                                <i>x</i>
                            </li>

                        </ul>
                        <div class="pos hidden mt-40">
                            <input type="button" disabled value="确认">
                            <input id="qsu" type="button" value="取消">
                        </div>
                    </div>
                    <div class="col-md-2 qsu text-center">
                        多选

                    </div>
                </div>
                <div class="border-bottom-1 bo_b ">  </div>
                <div class="row pt-10">
                    <div class="col-md-1">
                        师傅技能:
                    </div>
                    <div class="col-md-9  text-center">
                        <ul class="ul_list ul_lists">
                            <li  class="">
                                <span class="mr-10">电工</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">水管工</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">搬运工</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">泥瓦工</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">普工</span>
                                <i>x</i>
                            </li>
                            <li class="">

                                <span class="mr-10">油漆工</span>
                                <i>x</i>
                            </li>

                        </ul>
                        <div class="pos hidden mt-40">
                            <input type="button" disabled value="确认">
                            <input id="qsus" type="button" value="取消">
                        </div>
                    </div>
                    <div class="col-md-2 qsus text-center">
                        多选

                    </div>
                </div>
                <div class="border-bottom-1 bo_b ">  </div>
                <div class="row">
                    <div class="col-md-1 mt-10">服务区域:</div>
                    <div class="col-md-2">
                        <select name="" class="form-control" id="">
                            <option value="">0</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="" class="form-control" id="">
                            <option value="">0</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="" class="form-control" id="">
                            <option value="">0</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="bg-gray clearfix pl-10 mt-10 ">
                <ul class="li_screen">
                    <li class="item-list">
                        <span>综合</span>
                        <i class="glyphicon glyphicon-arrow-down"></i>
                    </li>
                    <li class="item-list">
                        <span>日薪</span>
                        <i class="glyphicon glyphicon-arrow-down"></i>
                    </li>
                    <li class="item-list">
                        <span>保证金</span>
                        <i class="glyphicon glyphicon-arrow-down"></i>
                    </li>
                    <li class="list-selct">

                        <span>平台等级</span>
                        <select name="" class="=" id=""></select>
                    </li>
                    <li class="list-selct">
                        <input type="text" placeholder="请选择时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    </li>
                    <li class="list-selct">
                        <input type="text"  placeholder="请选择时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="row ls mt-10 mr-20">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <input type="hidden" value="1">
                            <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                            <div class="caption " style="line-height: 25px" >
                                <h5 class="text-orange">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪 ： <span class="" >￥100</span></h5>
                                <p>师傅名称：<span>小果</span></p>
                                <p>师傅工号：<span>2566</span></p>
                                <p>师傅类型：<span>安装</span></p>
                                <p>师傅标签：<span class="bg-gray" style="padding: 0px 2px;margin: 2px">木工 </span> <span style="padding: 0px 2px;margin: 2px" class="bg-gray">电工</span></p>
                                <span style="padding: 0px 2px;margin-right: 5px" class="bg-orange">累计接单:200单</span>
                                <span style="border: 1px solid #ff5200;background: transparent;margin-left: 20px">
                                   <img src="" alt="" class="mr-20"> ￥200000
                                </span>
                                <span style="padding: 0px 10px;margin-right: 5px" class="bg-orange ">平台等级:5级</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <input type="hidden" value="1">
                            <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                            <div class="caption " style="line-height: 25px" >
                                <h5 class="text-orange">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪 ： <span class="" >￥100</span></h5>
                                <p>师傅名称：<span>小果</span></p>
                                <p>师傅工号：<span>2566</span></p>
                                <p>师傅类型：<span>安装</span></p>
                                <p>师傅标签：<span class="bg-gray" style="padding: 0px 2px;margin: 2px">木工 </span> <span style="padding: 0px 2px;margin: 2px" class="bg-gray">电工</span></p>
                                <span style="padding: 0px 2px;margin-right: 5px" class="bg-orange">累计接单:200单</span>
                                <span style="border: 1px solid #ff5200;background: transparent;margin-left: 20px">
                                   <img src="" alt="" class="mr-20"> ￥200000
                                </span>
                                <span style="padding: 0px 10px;margin-right: 5px" class="bg-orange ">平台等级:5级</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <input type="hidden" value="1">
                            <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                            <div class="caption " style="line-height: 25px" >
                                <h5 class="text-orange">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪 ： <span class="" >￥100</span></h5>
                                <p>师傅名称：<span>小果</span></p>
                                <p>师傅工号：<span>2566</span></p>
                                <p>师傅类型：<span>安装</span></p>
                                <p>师傅标签：<span class="bg-gray" style="padding: 0px 2px;margin: 2px">木工 </span> <span style="padding: 0px 2px;margin: 2px" class="bg-gray">电工</span></p>
                                <span style="padding: 0px 2px;margin-right: 5px" class="bg-orange">累计接单:200单</span>
                                <span style="border: 1px solid #ff5200;background: transparent;margin-left: 20px">
                                   <img src="" alt="" class="mr-20"> ￥200000
                                </span>
                                <span style="padding: 0px 10px;margin-right: 5px" class="bg-orange ">平台等级:5级</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <input type="hidden" value="1">
                            <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                            <div class="caption " style="line-height: 25px" >
                                <h5 class="text-orange">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪 ： <span class="" >￥100</span></h5>
                                <p>师傅名称：<span>小果</span></p>
                                <p>师傅工号：<span>2566</span></p>
                                <p>师傅类型：<span>安装</span></p>
                                <p>师傅标签：<span class="bg-gray" style="padding: 0px 2px;margin: 2px">木工 </span> <span style="padding: 0px 2px;margin: 2px" class="bg-gray">电工</span></p>
                                <span style="padding: 0px 2px;margin-right: 5px" class="bg-orange">累计接单:200单</span>
                                <span style="border: 1px solid #ff5200;background: transparent;margin-left: 20px">
                                   <img src="" alt="" class="mr-20"> ￥200000
                                </span>
                                <span style="padding: 0px 10px;margin-right: 5px" class="bg-orange ">平台等级:5级</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <input type="hidden" value="1">
                            <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                            <div class="caption " style="line-height: 25px" >
                                <h5 class="text-orange">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪 ： <span class="" >￥100</span></h5>
                                <p>师傅名称：<span>小果</span></p>
                                <p>师傅工号：<span>2566</span></p>
                                <p>师傅类型：<span>安装</span></p>
                                <p>师傅标签：<span class="bg-gray" style="padding: 0px 2px;margin: 2px">木工 </span> <span style="padding: 0px 2px;margin: 2px" class="bg-gray">电工</span></p>
                                <span style="padding: 0px 2px;margin-right: 5px" class="bg-orange">累计接单:200单</span>
                                <span style="border: 1px solid #ff5200;background: transparent;margin-left: 20px">
                                   <img src="" alt="" class="mr-20"> ￥200000
                                </span>
                                <span style="padding: 0px 10px;margin-right: 5px" class="bg-orange ">平台等级:5级</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <input type="hidden" value="1">
                            <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                            <div class="caption " style="line-height: 25px" >
                                <h5 class="text-orange">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;薪 ： <span class="" >￥100</span></h5>
                                <p>师傅名称：<span>小果</span></p>
                                <p>师傅工号：<span>2566</span></p>
                                <p>师傅类型：<span>安装</span></p>
                                <p>师傅标签：<span class="bg-gray" style="padding: 0px 2px;margin: 2px">木工 </span> <span style="padding: 0px 2px;margin: 2px" class="bg-gray">电工</span></p>
                                <span style="padding: 0px 2px;margin-right: 5px" class="bg-orange">累计接单:200单</span>
                                <span style="border: 1px solid #ff5200;background: transparent;margin-left: 20px">
                                   <img src="" alt="" class="mr-20"> ￥200000
                                </span>
                                <span style="padding: 0px 10px;margin-right: 5px" class="bg-orange ">平台等级:5级</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-3 text-right  ">
                        <div id="test1"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</div>
<script>

    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;

        laypage({
            cont: 'test1'
            ,pages: 100
            ,skip: true
        });


    });

</script>
<script>
    $(".ls").on('click','.thumbnail',function () {
        $(this).find("input:hidden").val();
        console.log($(this).find("input:hidden").val())
    })
    var html='';
    for(var i=0; i<50;i++){
        html+=` <li>
                                                    <a href=""  class=" a_s" >
                                                        <img src="__PUBLIC__static/index/images/banner.jpg" title="品怕" class="img-responsive"  alt=""/>
                                                        <span class="img-responsive text-center " >
                                                    品怕${i}
                                                </span>

                                                    </a>
                                                     <i>x</i>
                                                </li>`;

    }
    $(".space").html(html);
    $(".k_a").on(" click","a",function (e) {
        e.preventDefault();
        $("#pin").html($(this).text())

    });
$(".k_a").on(" mouseenter","a",function (data) {
    $(this).find("span").css("z-index",'10');
    $(this).find("img").css("z-index",'-1');
});
$(".k_a").on(" mouseleave","a",function (data) {
    $(this).find("span").css("z-index",'-1');
    $(this).find("img").css("z-index",'10');
});
var k=true;
$(".dou").click(function () {
    $(this).parent().parent().parent().parent().css("height",'300px');
    $(this).parent().siblings().find(".space ").addClass("k_a_s");
    $(this).parent().siblings().find(".pos ").removeClass("hidden")
//    $(".pos").removeClass("hidden");
    $(".k_a").off("click","a");
    $(".space li").on("click","a",function (e) {
        e.preventDefault();
        $(this).parent().addClass("activek");
        $(this).siblings('i').css("display",'inline-block');


    })
});
$(".space").on("click","i",function () {

    $(this).parent().removeClass("activek");
    $(this).css("display",'none');
});

$(".quan").click(function () {

    space()
if(k){

    $(this).text("收起")
    $(this).parent().parent().parent().parent().css("height",'300px');
    $(this).parent().siblings().find(".space ").addClass("k_a_s");
    $(this).parent().siblings().find(".pos ").addClass("hidden")
    k=false;
}else{
    $(this).parent().parent().parent().parent().css("height",'131px');
    $(this).parent().siblings().find(".space ").removeClass("k_a_s");
    $(this).parent().siblings().find(".pos ").addClass("hidden")
    k=true;
    $(this).text("更多")
}

});
$("#qu").click(function () {
    $(this).parent().parent().parent().parent().parent().css("height",'131px');
    $(this).parent().siblings(".space").removeClass("k_a_s");
    space()
})
    var space=function () {
        $(".k_a").off("click","a");
        $(".space li").removeClass("activek");

        $(".space li i").css("display",'none');
    }
</script>
<script>
    $(".qsu").click(function () {
        $(".ul_listk ").on("click",'i',function () {
            $(this).parent().removeClass("activek");
        });
            $(this).hide();
            $(this).siblings().find(".pos").removeClass("hidden");

        $(".ul_listk").off("click",'span');
        $(".ul_listk").on("click",'span',function () {
            $(this).parent().addClass("activek");
        });
    });
    $(".ul_listk").on("click",'span',function () {

        var html='<option value="'+$(this).text()+'">'+$(this).text()+'<option>'
        $("#fl").html(html)
    });
    $("#qsu").click(function () {
        $(".ul_listk").off("click","span");
        $(".ul_listk li").removeClass("activek");
        $(this).parent(".pos").addClass("hidden");
        $(".qsu").show();
    })

    $(".qsus").click(function () {
        $(".ul_lists").on("click",'i',function () {
            $(this).parent().removeClass("activek");
        });

        $(this).hide();
        $(this).siblings().find(".pos").removeClass("hidden");
        $(".ul_lists").off("click",'span');

        $(".ul_lists").on("click",'span',function () {
            $(this).parent().addClass("activek");
        });
    });
    $(".ul_lists").on("click",'span',function () {

        $("#jn").text($(this).text())
    });
    $("#qsus").click(function () {
        $(".ul_lists").off("click","span");
        $(".ul_lists li").removeClass("activek");
        $(this).parent(".pos").addClass("hidden");
        $(".qsu").show();
    })
</script>
<script>


</script>
{include file="public/footer" }