<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main payment_external">
    
    <!--/*主题*/-->
    <div class="container " >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>支付成功页面</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container ml-10_media mr-10_media ">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 text-center">支付成功页面</div>
        </div>
        <div class="row">
            <div class="col-md-12 The-test-panel-body text-center">
                <i class="glyphicon text-success glyphicon-ok-sign" style="font-size: 40px"></i><span  class="text-success" style="font-size: 20px;position: relative;top: -10px;left: 10px; ">付款成功!</span>
                <p class="text-darkgray">您的订单付款成功！<br>
                    请您耐心等待，师傅接单后会在2小时内联系您<br>
                    （平台师傅在线时间为8:00-18:00，若在此时间外，师傅可能会顺延时间）<br></p>

                <div class="col-md-3 col-md-offset-4">
                    <a href=" " class="btn btn-success border-radius">查看订单状态</a>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<script>
</script>
{include file="public/footer" }