{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>服务费用列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->

            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <table class="table table-bordered table-hover" style="table-layout: fixed;">
                        <thead>
                        <tr class="long-tr">
                            <th >咨询费</th>
                            <th>{$list['amount_consulting']}</th>
                            <th><a href="__RETURN__/cost/amount_consulting.html"class="btn btn-primary btn-xs btn-outline"> <i class="fa fa-paste"></i>编辑</a></label></th>
                        </tr>
                        <tr></tr>

                        </thead>



                        <tr class="long-tr">
                            <th  >没交保证金平台服务收费比例</th>
                            <th> {$list['platform_service']}</th>
                            <th><a href="__RETURN__/cost/platform_service.html"class="btn btn-primary btn-xs btn-outline"> <i class="fa fa-paste"></i>编辑</a></label></th>
                        </tr>

                        <tr class="long-tr">
                            <th >交完保证金之后的平台服务费</th>
                            <th> {$list['g_platform_service']}</th>
                            <th><a href="__RETURN__/cost/g_platform_service.html"class="btn btn-primary btn-xs btn-outline"> <i class="fa fa-paste"></i>编辑</a></th>
                        </tr>





                        <tbody id="list-content"></tbody>
                    </table>
                    <div id="AjaxPage" style=" text-align: right;"></div>
                    <div id="allpage" style=" text-align: right;"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>



{include file="public/footer" /}

<script type="text/javascript">






    function ad_state(val){
        $.post('{:url("ad_state")}',
            {id:val},
            function(data){

                if(data.code==1){
                    var a='<span class="label label-warning">已审核</span>'
                    $('#zt'+val).html(a);
                    layer.msg(data.msg,{icon:2,time:1500,shade: 0.1,});
                    return false;
                }else{
                    var b='<span class="label label-info">已审核</span>'
                    $('#zt'+val).html(b);
                    layer.msg(data.msg,{icon:1,time:1500,shade: 0.1,});
                    return false;
                }

            });
        return false;
    }

</script>
</body>
</html>