<!--本页的样式-->
<div class='left responsive_to_the_head' id='left'>
        <span class='btn text-elg text-orange hidden-lg hidden-md' style='position:absolute;z-index: 999;left:210px;' id='menu_btn'>
            <i class="fa fa-times hide text-orange" aria-hidden="true"></i>
            <i class="fa fa-bars text-orange" aria-hidden="true"></i>
        </span>
    <div class='row'>
        <div class='col-xs-12'>
            <ul class="list-group">

                <li class="list-group-item ">我的任务</li>
                <li class="list-group-item">帮助中心</li>
                <li class="list-group-item">我的钱包</li>
                <li class="list-group-item">账号安全</li>
                <li class="list-group-item">申请记录</li>
                <li class="list-group-item">服务保障</li>
                <li class="list-group-item">
                    地址管理
                </li>
                <li class="list-group-item">消息中心</li>
                <li class="list-group-item">交易记录</li>
                <li class="list-group-item">评价管理</li>
                <li class="list-group-item">退款管理</li>
                <li class="list-group-item">分享推荐</li>
                <li class="list-group-item">投诉建议</li>

            </ul>
        </div>
    </div>
</div>