<ul class="nav   nav-pills " id="DefineNavigationList">
    <li class="active">
        <a href="__PUBLIC__orders/master/quan" id="ds-all"  target="order" style='font-size:1em'>全部<i>|</i></a>
    </li>
    <li class="">
        <a href="__PUBLIC__orders/master/daiset" target="order" style='font-size:1em'>待定标<i>|</i></a>
    </li>
    <li>
        <a href="__PUBLIC__orders/master/daipay"   target="order" style='font-size:1em'>待付款<i>|</i></a>
    </li>
    <li>
        <a href="__PUBLIC__orders/master/daitob"   target="order" style='font-size:1em'>待完工<i>|</i></a>
    </li>
    <li>
        <a href="__PUBLIC__orders/master/daiche"   target="order" style='font-size:1em'>待验收<i>|</i></a>
    </li>
    <li>
        <a href="__PUBLIC__orders/master/daieva"  target="order" style='font-size:1em'>待评价</a>

    </li>
</ul>