<!--师傅安装确认表-->
<!--nav-->
{include file="public/header" }
<!--main-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__static/admin/webupload/webuploader.css">
<script type="text/javascript" src="__PUBLIC__static/admin/webupload/webuploader.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__static/admin/webupload/style.css">
<style>
    .webuploader-pick{
        background: #fff;
    }
</style>
<div class="main">  
    <!--/*主题*/-->
    <div class="container pl-0_media pr-0-media " >
        <h5 class="page-header bx">
            <span class="pl-10">当前位置：</span>
            <small>更幻灯片确认表</small>
            <span>>></span>
        </h5>
    </div>
    <div class="container">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 ">更幻灯片确认表</div>
        </div>
        <form id="fault_details" method="post" action="__PUBLIC__replace_ajaxpresentation">
        <input value="__PUBLIC__replace_customer_presentation/{$order_number}" hidden="hidden" id="sending_time" name="link">
            <div class="row The-test-panel-body pl-0 pr-0">
                <div class="col-md-12">
                    <!--客户信息-->
                    <div class="row  border-bottom-1 ">  
                        <!--店铺联系-->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label for="input_date" class="col-sm-3 mt-10">店铺联系人</label>
                                <div class="col-md-9 col-xs-12">
                                    <div class="input-append date form_datetime" id="input_date" data-date="2013-02-21T15:25:00Z">
                                        <input size="16" type="text" disabled class="form-control" id="store_contact" value="{$order.contact_name}" name="store_contact" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--项目地址-->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-md-3 mt-10">项目地址</label>
                                <div class="col-md-9">
                                    <input type="text" name="project_address" disabled required id="project_address" value="{$order.full_location}" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!--联系人电话-->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-md-3 mt-10">联系人电话</label>
                                <div class="col-md-9">
                                    <input type="text" name="phone_number_of_the_contact" disabled required value="{$order.contact_phone}" id="phone_number_of_the_contact" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        <!--施工师傅-->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-md-3 mt-10">施工师傅</label>
                                <div class="col-md-9">
                                    <input type="text " value="{$order.real_name}" name="Construction_of_the_teacher" disabled required id="Construction_of_the_teacher" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!--施工联系人-->
                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-md-3 mt-10">师傅电话</label>
                                <div class="col-md-9">
                                    <input type="text" name="Construction_contact" disabled id="Construction_contact" required value="{$order.phone}" class="form-control">
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="row 1 border-bottom-1">
                        <div id="zengjia" class="col-md-12  mb-30 mt-20">
                            
                            <div class="row border-bottom-1">
                                <div class="col-md-2 col-sm-2 mt-30">
                                    <a href="javascript:;" class="btn border-radius btn-default">门头照片</a>
                                </div>
                                <div class="col-md-3 col-sm-3" id="mentou">
                                    <input type="hidden" name="img3" id="mentouzhaopi" value="<?php if(!empty($list)){?>{$list.img3}<?php } ?>">
                                    <img id="img_data" class="pull-left_on_xs mt-0_xs"  style="margin-left: 10px;width: 150px;height: 150px;margin-bottom: 5px" onerror="this.src='__PUBLIC__static/index/images/tj.png'" src="<?php if(!empty($list)){?>__DsQINiu__{$list.img3}<?php } ?>"/>
                                </div>
                                 <div class="col-md-2 col-sm-2 mt-30">
                                    <a href="javascript:;" class="btn border-radius btn-default">幻灯片签收单</a>
                                </div>
                                <div class="col-md-4 col-sm-4" id="jindu">
                                    <input type="hidden" name="img5" id="anzhuangjindubiao" value="<?php if(!empty($list)){?>{$list.img5}<?php } ?>">
                                    <img id=""  class="mt-0_xs" style="margin-left: 10px;width: 150px;height: 150px;margin-bottom: 5px" onerror="this.src='__PUBLIC__static/index/images/tj.png'" src="<?php if(!empty($list)){?>__DsQINiu__{$list.img5}<?php } ?>"/>
                                </div>
                            </div>
                            <div class="row border-bottom-1 mt-30">
                                <div class="col-md-2 col-sm-2 mt-30">
                                    <a href="javascript:;" class="btn border-radius btn-default">专柜全景</a>
                                </div>
                                <div class="col-md-3 col-sm-3" id="zhuangui">
                                    <input type="hidden" name="img4" id="zhuanguiquanjin" value="<?php if(!empty($list)){?>{$list.img4}<?php } ?>">
                                    <img   class="mt-0_xs" style="margin-left: 10px;width: 150px;height: 150px;margin-bottom: 5px" onerror="this.src='__PUBLIC__static/index/images/tj.png'" src="<?php if(!empty($list)){?>__DsQINiu__{$list.img4}<?php } ?>"/>
                                </div>
                            </div>
                            <?php if(empty($lists)){?>
                        
                            <?php }else{ ?>

                            <?php foreach($lists as $key=>$vo){ ?>
                          
                                <div  class="row   mt-10">
                                    <div class="col-md-2 col-sm-2 mt-30">
                                        <a href="javascript:;" class="btn border-radius btn-default">更换前</a>
                                    </div>
                                    <div class="col-md-4 col-xs-12" id="qian{$key}">
                                        <input type="hidden" name="img1[]" value="{$vo.img1}">
                                        <img id=""  class="mt-0_xs" style="margin-left: 10px;width: 150px;height: 150px;margin-bottom: 5px" src="__DsQINiu__{$vo.img1}" onerror="this.src='__PUBLIC__static/index/images/tj.png'"/>
                                    </div>
                                    <div class="col-md-2 col-sm-2 mt-30">
                                        <a href="javascript:;" class="btn border-radius btn-default">更换后</a>
                                    </div>
                                    <div class="col-md-4 col-sm-4" id="huo{$key}">
                                        <input type="hidden" name="img2[]" value="{$vo.img2}">
                                        <img id=""  class="mt-0_xs" style="margin-left: 10px;width: 150px;height: 150px;margin-bottom: 5px" src="__DsQINiu__{$vo.img2}"onerror="this.src='__PUBLIC__static/index/images/tj.png'"/>
                                    </div>
                                </div>
                                <div class="row border-bottom-1 pb-10">
                                    <div class="col-md-10 col-xs-9 col-sm-9">
                                        <input type="text" placeholder="请详细描述故障详情" name="text[]" value="{$vo.texts}" class="form-control  mt-30 pr-30">
                                    </div>
                                    <div class="col-md-2 col-xs-3 mt-40 col-sm-3">
                                        <?php if(empty($list['is_ok'])){ ?>
                                            <?php if($key+1==$count){ ?>
                                            <i id="" class="fa miaoxie fa-plus-square" aria-hidden="true"></i>
                                             <?php }else{ ?>
                                             <i id="" class="fa miaoxie_s fa-minus-square-o" aria-hidden="true"></i>
                                              <?php } ?>
                                              <?php } ?>
                                    </div>
                                </div>
                           
                          <?php } ?>
                          <?php } ?>
                        </div>
                    </div>
                    <?php if($list['is_ok']==1):?>
                    <div class="row mt-30">
                        <div class="col-md-2 col-xs-6 mt-10-media_xs col-sm-2">
                           <img id="img_data2" class="mt-0_xs" height="100px" style="float:left;margin-left: 50px;margin-top: -10px;" src="__PUBLIC__public/{$list.user_sign}"/>
                        </div>
                        <div class="col-md-4 col-xs-6 col-sm-4">
                            <img  src="" alt="">
                        </div>
                        <div class="col-md-2 col-xs-6 mt-10-media_xs col-sm-2">
                            <input type="button" class="btn df btn-default border-radius form-control"  value="服务确认码">
                        </div>
                        <div class="col-md-4 mt-10-media_xs col-xs-6 col-sm-4">
                        
                            <input type="text" id='querenma' name='querenma' class='form-control' placeholder="客户已经确认！请填写服务确认码！">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-6 col-sm-4 text-center  mt-20">
                            <input onclick="ds_que()" type="submit" value="确认" class="btn btn-success border-radius form-control">
                        </div>
                       
                    </div>
                  <?php else:?>
 
                    <div class="row">
                        <div class="col-md-4 col-xs-6 col-sm-4 text-center  mt-20">
                            <input type="submit"  value="确认" class="btn btn-success border-radius form-control">
                        </div>
                       
                    </div>
                   
                 <?php endif;?>
                </div>
            </div> 
            <input type="hidden"  name="order_number" value="{$order_number}">
        </form>
    </div>
</div>
<script>


    $(function () {
       var i={$count};
       var is_ok={$is_ok}; 
        if(is_ok==""){
        // 门头照片
        WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('__PUBLIC__/admin/Uploads/dsupload')}",// 文件接收服务端。
            duplicate: true,// 重复上传图片，true为可重复false为不可重复
            pick: '#mentou',// 选择文件的按钮。可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function (file, data, response) {
                $("#mentou").find("input[type=hidden]").val(data._raw);
                $("#mentou").find("img").attr("src","__DsQINiu__"+data._raw);
            },
        });

//        专柜全景
        WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('__PUBLIC__/admin/Uploads/dsupload')}",// 文件接收服务端。
            duplicate: true,// 重复上传图片，true为可重复false为不可重复
            pick: '#zhuangui',// 选择文件的按钮。可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function (file, data, response) {
                $("#zhuangui").find("input[type=hidden]").val(data._raw);
                $("#zhuangui").find("img").attr("src","__DsQINiu__"+data._raw);
            },
        });

//        安装进度表
        WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('__PUBLIC__/admin/Uploads/dsupload')}",// 文件接收服务端。
            duplicate: true,// 重复上传图片，true为可重复false为不可重复
            pick: '#jindu',// 选择文件的按钮。可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function (file, data, response) {
                $("#jindu").find("input[type=hidden]").val(data._raw);
                $("#jindu").find("img").attr("src","__DsQINiu__"+data._raw);
            },
        });

//        签收单
        WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('__PUBLIC__/admin/Uploads/dsupload')}",// 文件接收服务端。
            duplicate: true,// 重复上传图片，true为可重复false为不可重复
            pick: '#qianshou',// 选择文件的按钮。可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function (file, data, response) {
                $("#qianshou").find("input[type=hidden]").val(data._raw);
                $("#qianshou").find("img").attr("src","__DsQINiu__"+data._raw);
            },
        });
//--------------------------------------------------
        //        增加维修前 和维修后
        var template=function (i) {
            //        更换前
            WebUploader.create({
                auto: true,// 选完文件后，是否自动上传。
                swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
                server: "{:url('__PUBLIC__/admin/Uploads/dsupload')}",// 文件接收服务端。
                duplicate: true,// 重复上传图片，true为可重复false为不可重复
                pick: '#qian'+i,// 选择文件的按钮。可选。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/jpg,image/jpeg,image/png'
                },
                'onUploadSuccess': function (file, data, response) {
                    $("#qian"+i).find("img").attr("src","__DsQINiu__"+data._raw);
                    $("#qian"+i).find("input[type=hidden]").val(data._raw);
                 
                },
            });
//        更换后
            WebUploader.create({
                auto: true,// 选完文件后，是否自动上传。
                swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
                server: "{:url('__PUBLIC__/admin/Uploads/dsupload')}",// 文件接收服务端。
                duplicate: true,// 重复上传图片，true为可重复false为不可重复
                pick: '#huo'+i,// 选择文件的按钮。可选。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/jpg,image/jpeg,image/png'
                },
                'onUploadSuccess': function (file, data, response) {
                    $("#huo"+i).find("img").attr("src","__DsQINiu__"+data._raw);
                    $("#huo"+i).find("input[type=hidden]").val(data._raw);
                },
            });
        }
        
        var increase=function () {
            var html='{include file="replace/sel" }';
            html=html.replace(/qian/g,"qian"+i);
            html=html.replace(/huo/g,"huo"+i);
            $("#zengjia").append(html);
            template(i);
            i++;
        }
        if(i){
            
        }else{
            if(is_ok==""){
                increase()
            }
            
        }
        
        $("#zengjia").on("click",".miaoxie",function () {
            increase();
            $(this).removeClass("miaoxie");
            $(this).addClass("miaoxie_s");
            $(this).addClass("fa-minus-square-o");
            $(this).removeClass("fa-plus-square");
        });
         for(var k=0;k<i+1;k++){
            template(k);
            }
            
    }
    });

    //----------------------------------------
    //删除
    $("#zengjia").on("click",".miaoxie_s",function () {
        $(this).parent().parent().prev().remove();

        $(this).parent().parent().remove()
    })

    // ----------------------------------------------------
    //请求数据 发送数据
    $('#fault_details').ajaxForm({
        beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
        success: complete, // 这是提交后的方法
        dataType: 'json'
    });

    // 发送数据 提交前
    function   checkForm(){
      if($("#mentouzhaopi").val()==""){
            layer.msg('请上传门头照片。', {
                icon:2,
                time: 2000
            });
            return false;
        }
        if($("#anzhuangjindubiao").val()==""){
            layer.msg('请上传更换幻灯片签收单。', {
                icon:2,
                time: 2000
            });
            return false;
        }
        if($("#zhuanguiquanjin").val()==""){
            layer.msg('请上传专柜全景', {
                icon:2,
                time: 2000
            });
            return false;
        }
        // if($("#genghuanqian").val()==""){
        //     layer.msg('请上传更新前照片', {
        //         icon:2,
        //         time: 2000
        //     });
        //     return false;
        // }
        // if($("#genghuanhou").val()==""){
        //     layer.msg('请上传更新后照片', {
        //         icon:2,
        //         time: 2000
        //     });
        //     return false;
        // }

    }

    // 发送数据 提交后

    function complete(data){
      if(data.code==200){
        layer.msg(data.msg,{icon:1,time:1000},function(){
           window.location.href="__PUBLIC__orders/master";
        });
      }else{
        layer.msg(data.msg, {icon:2,time:1000,shade:0});
          return false;
      }
        
    }
    //提交成功
    function success(){


    }
    // 提交失败
    function error(){


    }

    //
</script>
<script>

</script>
{include file="public/footer" }