<!--nav-->
{include file="public/header" }

<link href="__PUBLIC__static/index/css/select2.css" rel="stylesheet" />
<script src="__PUBLIC__static/index/js/select2.js"></script>
<style>
	.btn-numbox {

		margin-top: 0px;
	}
	.btn-numbox li {
		float: left;
	}
	.btn-numbox li .number,
	.kucun {
		display: inline-block;
		font-size: 12px;
		color: #808080;
		vertical-align: sub;
	}
	.btn-numbox .count {
		overflow: hidden;
		margin: 0 16px 0 -20px;
	}
	.btn-numbox .count .num-jian,
	.input-num,
	.num-jia {
		display: inline-block;
		width: 28px;
		height: 32px;
		line-height: 28px;
		text-align: center;
		font-size: 18px;
		color: #999;
		cursor: pointer;
		border: 1px solid #e6e6e6;
	}

	.btn-numbox .count .num-jia {
		margin-left: 1px;
	}

	.btn-numbox .count .input-num {
		width: 58px;
		height: 32px;
		color: #333;
		border-left: 0;
		border-right: 0;
	}
	.xin{
		position: relative;
		top: 3px;
	}
	@media (min-width: 776px ) {
		.metaclass{
			margin-top: 60px;
		}
	}

</style>
<link rel="stylesheet" type="text/css" href="__PUBLIC__static/admin/webupload/webuploader.css">

<link rel="stylesheet" type="text/css" href="__PUBLIC__static/admin/webupload/style.css">
<script type="text/javascript" src="__PUBLIC__static/admin/webupload/webuploader.min.js"></script>
<style>
	.file-item {
		float: left;
		position: relative;
		width: 110px;
		height: 110px;
		margin: 0 20px 20px 0;
	}

	.file-item .info {
		overflow: hidden;
	}

	.uploader-list {
		width: 100%;
		overflow: hidden;
	}

	.webuploader-pick {
		position: relative;
		display: inline-block;
		cursor: pointer;
		background: #fff;
		padding: 0;
		color: #fff;
		text-align: center;
		border-radius: 3px;
		overflow: hidden;
	}

	.dele1 {
		line-height: 40px;
	}

	.count * {
		line-height: 28px;
	}

	.j {
		border-bottom: 1px solid #dddddd;
		margin: 0px 0px 0px -10px;
	}

	.jk {
		padding: 10px 10px 10px 10px;
	}

	.l_lin {
		padding-top: 30px;
	}

	.jkdele1 {
		padding-top: 20px;
	}
</style>

<form autocomplete="off" id="myForm" class="" method="post" action="replace_add">
	<!--main-->
	<div class="container mt_md-130">
		<h5 class="page-header bx">
			<span>当前位置：</span>
			<small>更换灯片</small>
			<span>>></span>
		</h5>
	</div>
	<div class="container ">
		<!--/*标题*/-->
		<div class="The-test-panel-head">
			<span class="ml-10">更换灯片下单</span>
		</div>
		<div class="The-test-panel-body">
			<div style="line-height: 40px">
				<?php if(empty($_SESSION['think']['ds_username'])){ ?>
				<div class="row">
					<label style="float:left;" class="pl-50">您还未登录,登录后给您更好的服务</label>
					<div class="col-md-6 pl-40 ">
						<a href="__PUBLIC__auth" class="text-orange">登录>></a>
					</div>
				</div>
				<div class="j"></div>
				<?php } ?>
				<div class="row mt-10">
					<!--客户信息-->
					<!-- 未登入状态 -->
					<?php if(empty($_SESSION['think']['ds_username'])): ?>

					<div class="col-md-6 hidden">
						<div>
							<label style="float:left;">您还未登录,登录后给您更好的服务</label>
							<div class="col-md-6 pl-40 ">
								<a href="__PUBLIC__auth" class="text-orange">登录>></a>
							</div>
						</div>
						<div class="row hidden">
							<div class="col-md-3">
								<label>您还未登录,登录后给您更好的服务</label>
								<a href="__PUBLIC__auth" class="form-control text-orange">
									登录
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-6"></div>
					<!-- 登入后的状态 -->
					<?php else: ?>
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-2 col-xs-12">客户ID </label>
							<div class="col-md-8 col-xs-10">
								<input type="text" readonly unselectable="on" id="client" name="uid" class="form-control ds-uid" value="<?php echo $_SESSION['think']['id'] ?>">
								<input type="text" style="display:none" id="uname" name="uname" class="form-control ds-uid" value="<?php echo $_SESSION['think']['ds_username'] ?>">
							</div>
							<label class="col-xs-1"><b class='text-orange xin'>*</b></label>
						</div>
					</div>
					<?php endif; ?>
					<!--预约开始时间-->
					<div class="col-md-6">
						<div class="row">
							<label for="input_date" class="col-md-3 col-xs-12">预约施工时间</label>
							<div class="col-md-8 col-xs-10">
								<div class="input-append date form_datetime" id="input_date" data-date="2013-02-21T15:25:00Z">
									<input class="layui-input" autocomplete="off" id="form_datetime" class="form-control" placeholder="" name="appointment_time" onclick="layui.laydate({elem: this, format:'YYYY-MM-DD hh:mm:ss',istime: true,min: laydate.now()})">

									<span class="add-on"><i class="icon-remove"></i></span>
									<span class="add-on"><i class="icon-calendar"></i></span>
								</div>
							</div>
							<label class="col-xs-1"><b class='text-orange xin'>*</b></label>
						</div>
					</div>
				</div>
				<div class="row">
					<!--联系人-->
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-2 col-xs-12">联系人</label>
							<div class="col-md-8 col-xs-10">
								<input type="text" name="customer_name" id="linkman_contacts" class="form-control">
							</div>
							<label class="col-xs-1" ><b class='text-orange xin'>*</b></label>
						</div>
					</div>
					<!--目标维修地址-->
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-3 col-xs-12">店铺地址</label>
							<div class="col-md-8 col-xs-10">
								<div id="distpicker5" class="row">

									<div class="col-md-4 mb-10">
										<label class="sr-only" for="province10">Province</label>
										<input type="text" autocomplete="off" name="province" id="province10" class="form-control">



										</select>
									</div>

									<div class="col-md-4 mb-10">
										<label class="sr-only" for="city10">City</label>
										<input type="text" autocomplete="off" name="city" id="city10" class="form-control">



										</select>
									</div>

									<div class="col-md-4 mb-10">
										<label class="sr-only" for="district10">Area</label>
										<input type="text" autocomplete="off" name="area" id="district10" class="form-control">


										</select>
									</div>
								</div>

							</div>
							<label class="col-xs-1"><b class='text-orange xin'>*</b></label>
						</div>
					</div>
				</div>
				<div class="row">
					<!--联系电话-->
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-2 col-xs-12">联系电话</label>
							<div class="col-md-8 col-xs-10">
								<input type="text" autocomplete="off" name="contact_phone" id="telephone" class="form-control">
							</div>
							<label class="col-xs-1"><b class='text-orange xin'>*</b></label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-3 col-xs-12"> <b class='text-orange xin'></b></label>
							<div class="col-md-8 col-xs-10">
								<input type="text" autocomplete="off" name="address" id="address" placeholder="请输入详细地址，精确到街道、门牌号" class="form-control">
							</div>
							<label class="col-xs-1"><b class='text-orange xin'>*</b></label>
						</div>
					</div>
				</div>
				<div class="row pb-20">
					<div class="col-md-6">
						<div class=" row">
							<label class="col-md-2 col-xs-12" name="market_cer">商城名称</label>
							<div class="col-md-8 col-xs-10">
								<input type="text" autocomplete="off" name="market_cer" id="designation" class="form-control">
							</div>
							<label class="col-xs-1"><b class='text-orange xin'>*</b></label>
						</div>
					</div>
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-3 col-xs-12">品牌</label>
							<div class="col-md-8 col-xs-10">
								<select name="brand" id="brand" class="form-control js-example-tags" autocomplete="off">
									{volist name="brand" id="v"}
									<option value="{$v.brand}">{$v.brand}</option>
									{/volist}
								</select>
							</div>
							<label class="col-xs-1"><b class='text-orange xin'>*</b></label>
						</div>
					</div>
				</div>
				<div class="j"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-3 col-xs-12" name="">空间位置<b class='text-orange xin'>*</b></label>
							<div class="col-md-8 col-xs-10">

								<div class="row">
									<div class="col-xs-6">
										<input type="radio" autocomplete="off" value=1  name="space" id="indoor" class="">
										<label for="indoor">室内</label>
									</div>
									<div class="col-xs-6">
										<input type="radio" autocomplete="off" value=2  name="space" id="outdoor" class="">
										<label for="outdoor">室外</label>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-3 col-xs-12" name="">是否己到店<b class='text-orange xin'>*</b></label>
							<div class="col-md-8 col-xs-10">

								<div class="row">
									<div class="col-xs-6">
										<input type="radio" value="0" autocomplete=0  name="shop" id="arrive" class="">
										<label for="arrive">到店</label>
									</div>
									<div class="col-xs-6">
										<input type="radio" value="1" autocomplete=1  name="shop" id="no_show" class="">
										<label for="no_show">未到店</label>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10">
						<div class="row">
							<label class="col-md-2 col-xs-12" name="">预计到店时间<b class='text-orange xin'>*</b></label>
							<div class="col-md-9 col-xs-10">
								<div class="row">
									<div class="col-xs-5">
										<input type="text" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" autocomplete="off" name="start_time" id="kaisi" class="form-control">
									</div>
									<div class="col-xs-1" style="border: 1px solid #000;margin-top: 15px"></div>
									<div class="col-xs-5">
										<input type="text" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" autocomplete="off" name="end_time" id="jieshu" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-3 col-xs-12" name="">快递订单号<b class='text-orange xin'>*</b></label>
							<div class="col-md-8 col-xs-10">
								<div class="row">
									<div class="col-xs-12">
										<input type="text" autocomplete="off" name="orders_number" id="dingdan" class="form-control">
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="j"></div>
				<div id="shangp1" class="pt-20 hidden pb-20">
					<div class="row">
						<div class="col-md-8">
							商品信息<b class='text-orange xin'>*</b>
						</div>
						<div class="col-md-3 text-right">

							<i class="fa fa-trash-o dele1_sahn" aria-hidden="true"></i>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-2 ml-20">
							<div  id="imgPicker">
								<input type="hidden"  name="img_describe[]">
								<img  class="mt-0_xs"  src="__PUBLIC__static/index/images/tj.png" />
							</div>
						</div>
						<div class="col-xs-8">
							<div class="row">
								<div class="col-xs-2">画面材质</div>
								<input type="hidden" name="materia[]">
								<div class="col-xs-3">
									<input type="radio" value=0  class="materia" name="materia1[]" id="qr">
									<label for="qr" class="materia">玻璃/亚克力夹画</label>
								</div>
								<div class="col-xs-2">
									<input type="radio" value=1  class="materia" name="materia1[]" id="qs">
									<label for="qs" class="materia">弹簧佳画</label>
								</div>
								<div class="col-xs-2">
									<input type="radio"  value=2 class="materia" name="materia1[]" id="qb">
									<label for="qb" class="materia">橱窗灯布</label>
								</div>
								<div class="col-xs-2">
									<input type="radio" class="materia" value=3  name="materia1[]" id="qd">
									<label for="qd" class="materia">写真贴画</label>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2">画面尺寸(cm)</div>
								<div class="col-xs-3">
									<div class="row">
										<div class="col-xs-10">
											<input type="text" name="length[]" placeholder="长" class="form-control">
										</div>
										<div class="col-xs-1">
											x
										</div>
									</div>
								</div>

								<div class="col-xs-3">
									<div class="row">
										<div class="col-xs-10">
											<input type="text" name="wide[]" placeholder="宽" class="form-control">
										</div>
										<div class="col-xs-1">
											x
										</div>
									</div>
								</div>
								<div class="col-xs-3">
									<input type="text" name="high[]" placeholder="高" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2">特殊要求</div>
								<div class="col-xs-8">
									<input type="text" name="comments[]" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-xs-3">
									画面位置
								</div>
								<div class="col-xs-3" id="img_describe2">
									<input type="hidden" name="img_describe2[]">
									<input type="button"   class="btn btn-success border-radius" value="上传电子表格">
								</div>
							</div>
						</div>
					</div>
					<div class="j"></div>
				</div>

				<div id="shangp3">



				</div>
				<div id="shangp2">

				</div>
				<div class="j"></div>
					<div class="row j jk l_lin  Increase_the_project_title">
						<div class="col-md-5 pl-40">
							<input value="添加画面项目" type="button" class="btn border-radius mb-10 btn-blue" id="increase">
						</div>
					</div>
				<div class="j"></div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-5 col-xs-12" name="">是否需要师傅现场勘测地形<b class='text-orange xin'>*</b></label>
							<div class="col-md-7 col-xs-10">

								<div class="row">
									<div class="col-xs-6">
										<input type="radio" autocomplete="off" value=0  name="tender" id="need" class="">
										<label for="need">需要</label>
									</div>
									<div class="col-xs-6">
										<input type="radio" autocomplete="off" value=1  name="tender" id="do_withouts" class="">
										<label for="do_withouts">不需要</label>
									</div>
							</div>

						</div>
					</div>
				</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<label class="col-md-5 col-xs-12" name="">是否具备等高条件<b class='text-orange xin'>*</b></label>
							<div class="col-md-7 col-xs-10">
								<div class="row">
									<div class="col-xs-4 ">
										<input type="radio" autocomplete="off" value=0  name="hight" id="staging" class="">
										<label for="staging">脚手架</label>
									</div>
									<div class="col-xs-4">
										<input type="radio" autocomplete="off" value=1  name="hight" id="staircase" class="">
										<label for="staircase">梯子</label>
									</div>
									<div class="col-xs-4">
										<input type="radio" autocomplete="off" value=2  name="hight" id="b_staircase" class="">
										<label for="b_staircase">不具备</label>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="j"></div>
			<div class="row l_lin">
					<div class="col-xs-4">
						<div class="row ">
							<div class="col-xs-4 mt-10">
								选择施工人数
							</div>
							<div class="col-xs-8">
								<ul class="btn-numbox">
									<li>
										<ul class="count">
											<li><span id="num-jian" class="num-jian">-</span></li>
											<li><input type="text" name="num" class="input-num" id="input-num" value="0"
											/></li>
											<li><span id="num-jia" class="num-jia">+</span></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				<div class="col-xs-4">
					<div class="row">
						<div class="col-xs-6 mt-10">
							上传更换画面验收单
						</div>
						<div class="col-xs-6" id="shangchaunhuanmian">
							<input type="hidden" name="img_describe3">
							<input type="button" id=""  class="btn btn-blue border-radius " value="点击上传">
						</div>
					</div>
				</div>
			</div>

			<div class="row l_lin">
				<!--商场办证-->
				<div class="col-md-2  col-xs-12">
					商场办证 <b class='text-orange xin'>*</b>
				</div>
				<div class="col-md-2 col-xs-12">
					<div class="radio mt-0  radio-success">
						<input value="1" type="radio" id="master_worker" checked name="departure_permit">
						<label for="master_worker">
							师傅代办
						</label>
					</div>
				</div>
				<div class="col-md-2 col-xs-12">
					<div class="radio mt-0 radio-success">
						<input value="2" type="radio" id="clientele" name="departure_permit">
						<label for="clientele">
							客户办理
						</label>
					</div>
				</div>
				<div class="col-md-2 col-xs-12">
					<div class="radio mt-0 radio-success">
						<input value="3" type="radio" id="do_without" name="departure_permit">
						<label for="do_without">
							不需要办证
						</label>
					</div>
				</div>
			</div>
			<div class="row l_lin">
				<div class="col-md-2">
					<label class="btn btn-default">门头照片</label>
				</div>
				<div class="col-md-6" id="imgPickers">
					<input type="hidden" id="data_photos" name="photo_store">
					<img id="img_datas" class="mt-0_xs"  src="__PUBLIC__static/index/images/tj.png" />
				</div>
			</div>
			<div class="j"></div>
			<!--需求-->
			<div class="row j pb-20">
				<div class="col-md-12 mt-20">
					<div class="checkbox-warning checkbox">
						<input type="checkbox"  value="1"   id="nuclear_list_in_advance">
						<label for="nuclear_list_in_advance">
							需现场调查，进一步核实
						</label>
					</div>
				</div>
				<div class="col-md-3 mt-20">
					<div class="checkbox checkbox-primary">
						<input type="checkbox"  id="ds-s"    value="1" >
						<label for="ds-s">
							使用平台月结服务
						</label>
					</div>
					<input type="password" autocomplete="off"  name="pwd" placeholder="月结客户使用的密码" id="year_service_ordere_pwd" class="form-control" style="opacity: 0">
				</div>
			</div>
			<div class="row pt-20">
				<!--协议-->
				<div class="col-xs-6 " style="color:red;">
					注： <b class='text-orange xin'>*</b> 表示必填项
				</div>
			</div>
		</div>

		 <input id="ds-sub" name="ds_step" hidden="hidden" value="6">
        <!--同意协议-->
        <input value="0" id="ds_hedan" name="hedan" hidden="hidden">
        <input value="0" id="ds_yue" name="yue" hidden="hidden">
        <?php if(empty($_SESSION['think']['type'])) :?>
        <?php else: ?>
        <input value="<?php echo $_SESSION['think']['type']; ?>" id="ds_worker_type" name="ds_worker_type" hidden>
        <?php endif ?>
        
		<div class="row">
			<div class="col-md-12">
				<p class="mt-10 checkbox checkbox-success">
					<a id="yezhuxieyi" href="javascript:;" class="" id="yz">《业主协议》</a>
					<input type="radio" id="agreement">
					<label for="agreement">
						我同意协议
					</label>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-4  col-sm-4 col-xs-6 text-center mt-20">
				<button id="xiandan" type="submit" disabled class="btn btn-success border-radius btn-lg">直接下单</button>
			</div>
			<div class="col-md-3 col-md-offset-4  col-sm-4 col-xs-6 text-center mt-20">
				<input type="submit" id="quick_consulting" disabled class="btn btn-blue border-radius btn-lg" value="咨询下单">
			</div>
		</div>
		
	</div>
</form>
<script src="__CITY__/distpicker.data.js"></script>
<script src="__CITY__/distpicker.js"></script>
<script src="__CITY__/main.js"></script>
<script>
var ckecformcs=function () {

};
    $(document).ready(function () {
        $('#myForm').ajaxForm({
            beforeSubmit: checkForm, // 此方法主要是提交前执行的方法，根据需要设置
            success: complete, // 这是提交后的方法
            dataType: 'json'
        });
        function checkForm() {
            var ds_types=$("#ds_worker_type").val();
            if(ds_types==2){
                layer.msg('您是师傅.不能下单');
                return false;
            }

            var  form_datetime= alertmsg.msgk("form_datetime","请填写预约时间完成")
            if(!form_datetime){
                return false;
            }
            var  linkman_contacts= alertmsg.msgk("linkman_contacts","请填写联系人")
            if(!linkman_contacts){
                return false;
            }
            var  province10= alertmsg.msgk("province10","请填写店铺地址")
            if(!province10){
                return false;
            }
            var  city10= alertmsg.msgk("city10","请填写店铺地址")
            if(!city10){
                return false;
            }
            var  district10= alertmsg.msgk("district10","请填写店铺地址")
            if(!district10){
                return false;
            }
            var  address= alertmsg.msgk("address","请填写店铺地址")
            if(!address){
                return false;
            }
            var  telephone= alertmsg.msgk("telephone","请填写联系电话")
            if(!telephone){
                return false;
            }
            var  designation= alertmsg.msgk("designation","请填写商城名称")
            if(!designation){
                return false;
            }
            var  brand= alertmsg.msgk("brand","请填写品牌")
            if(!brand){
                return false;
            }
            var   indoor=$("input[name=space]:checked").val();
            if(!indoor){
				layer.msg("请选择空间位置", { icon: 2, time: 1500, shade: 0 });
				$("#indoor").focus();
				return false;
			}
            var   indoor=$("input[name=shop]:checked").val();
            if(!indoor){
                layer.msg("请选择是否己到店", { icon: 2, time: 1500, shade: 0 });
                $("#indoor").focus();
                return false;
            }
            var  kaisi= alertmsg.msgk("kaisi","请填写预计到店时间")
            if(!kaisi){
                return false;
            }
            var  jieshu= alertmsg.msgk("jieshu","请填写预计到店时间")
            if(!jieshu){
                return false;
            }
            var  dingdan= alertmsg.msgk("dingdan","请填写快递订单号");
            if(!dingdan){
                return false;
            }
            var   need=$("input[name=tender]:checked").val();
            if(!need){
                layer.msg("请选择是否需要师傅现场勘测地形", { icon: 2, time: 1500, shade: 0 });
                $("#indoor").focus();
                return false;
            }
            var   staging=$("input[name=hight]:checked").val();
            if(!staging){
                layer.msg("请选择是否具备等高条件", { icon: 2, time: 1500, shade: 0 });
                $("#indoor").focus();
                return false;
            }


            ckecformcs();
        }
		function complete(data) {
           
            if(data.code==1){
            	var jump = data.msg;
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    window.location.href="__PUBLIC__gjmjilt_single/" + jump ;
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                return false;
            }
				
            }
    });


    $(function () {
        var i=1;
        var fu=function (i) {


            WebUploader.create({
                auto: true,// 选完文件后，是否自动上传。
                swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
                server: "{:url('__PUBLIC__/admin/Uploads/uploadface')}",// 文件接收服务端。
                duplicate: true,// 重复上传图片，true为可重复false为不可重复
                pick: '#imgPicker'+i,// 选择文件的按钮。可选。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/jpg,image/jpeg,image/png'
                },
                'onUploadSuccess': function (file, data, response) {
                    $($("#imgPicker"+i).find("input")[0]).val(data._raw);
                    $($("#imgPicker"+i).find("img")[0]).attr('src', '__TUN__/face/' + data._raw).show();
                },
            });
            WebUploader.create({
                auto: true,// 选完文件后，是否自动上传。
                swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
                server: "{:url('__PUBLIC__/admin/Uploads/uploadface')}",// 文件接收服务端。
                duplicate: true,// 重复上传图片，true为可重复false为不可重复
                pick: '#img_describe2'+i,// 选择文件的按钮。可选。
                accept: {
                    title: 'Images',
                    extensions: 'gif,jpg,jpeg,bmp,png',
                    mimeTypes: 'image/jpg,image/jpeg,image/png'
                },
                'onUploadSuccess': function (file, data, response) {
                    $("#img_describe2X"+i).find("input[type=hidden]").val(data._raw);
                    layer.msg("上传成功");
                },

            });
            ckecformcs=function () {
				var qq=$("input[name='qq"+i+"[]']:checked").val();
				console.log(qq);
            }
        }
        $("#increase").click(function () {
            var html=	$("#shangp1").html();

            html=  html.replace("imgPicker","imgPicker"+i);
            html=  html.replace("img_describe2","img_describe2"+i);
            html=  html.replace(/materia1/g,"materia1"+i);

            html=  html.replace(/qr/g,"qr"+i);
            html=  html.replace(/qs/g,"qs"+i);
            html=  html.replace(/qb/g,"qb"+i);
            html=  html.replace(/qd/g,"qd"+i);
            if(i==1){
                $("#shangp3").append(html);
			}else{
                $("#shangp2").append(html);
			}
            fu(i);
            $("#shangp2 .dele1_sahn").click(function () {
                $(this).parent().parent().next().next().remove();
                $(this).parent().parent().next().remove();
                $(this).parent().parent().remove();

            });
            i++;
        });

        $("#myForm").on("change",".materia",function(){
            console.log( $(this).parent())
            $(this).parent().siblings("input[type=hidden]").val($(this).val())
		})
        $("#increase").click();
        //同意按钮
        var l = true;
        $("#agreement").click(function () {

            if ($(this).prop("checked") === true && l) {
                $(this).prop("checked", true);
                $("#xiandan").prop("disabled", false);
                $("#quick_consulting").prop("disabled", false);
                l = false;
            } else {
                $(this).prop("checked", false);
                l = true;
                $("#xiandan").prop("disabled", true);
                $("#quick_consulting").prop("disabled", true);
            }
        });
        WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('__PUBLIC__/admin/Uploads/uploadface')}",// 文件接收服务端。
            duplicate: true,// 重复上传图片，true为可重复false为不可重复
            pick: '#imgPickers',// 选择文件的按钮。可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function (file, data, response) {
                $("#data_photos").val(data._raw);
                $("#img_datas").attr('src', '__TUN__/face/' + data._raw).show();
            }
        });
        WebUploader.create({
            auto: true,// 选完文件后，是否自动上传。
            swf: '__PUBLIC__static/admin/webupload/Uploader.swf',// swf文件路径
            server: "{:url('__PUBLIC__/admin/Uploads/uploadface')}",// 文件接收服务端。
            duplicate: true,// 重复上传图片，true为可重复false为不可重复
            pick: '#shangchaunhuanmian',// 选择文件的按钮。可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/jpg,image/jpeg,image/png'
            },
            'onUploadSuccess': function (file, data, response) {
                $($("#shangchaunhuanmian").find("input")[0]).val(data._raw);
            }
        });
//月结密码显示隐藏
        //需求待进一步明确，预先核单 nuclear_list_in_advance
        //使用平台月结服务 ds-s
        $("#nuclear_list_in_advance").change(function () {
            if ($(this).prop("checked") === true) {

            } else {

            }

        });
        $("#ds-s").change(function () {
            if ($(this).prop("checked") === true) {
                $("#year_service_ordere_pwd").css("opacity", '1');
                $("#quick_consulting").css("opacity", "0");
            } else {
                $("#year_service_ordere_pwd").css("opacity", '0');
                $("#quick_consulting").css("opacity", "1");
            }

        });

        $(".js-example-tags").select2({
            tags: true
        });
        $("#yezhuxieyi").click(function () {
            var   layer=layui.layer;
            parent.layer.open({
                type:2,
                title:"业主协议",
                btn:['我同意',"我再看看"],
                content:" __PUBLIC__yezhuxieyi",
                area:["80%","80%"],
                yes:function(index,layero){
                    $("#agreement").prop("checked",'true');
                    layer.close(index);
                    $("#xiandan").prop("disabled",false);
                    $("#quick_consulting").prop("disabled",false);
                },
                btn2:function(index,layero){
                    $("#agreement").prop("checked",false);
                    layer.close(index);
                    $("#xiandan").prop("disabled",true);
                    $("#quick_consulting").prop("disabled",true);
                }
            })
        })
        $(".select2-container").css("width","100%")
    });

</script>


{include file="public/footer" }