{include file='public/headerblack'}
<div class='app'>
    <headers></headers>
    <mian></mian>
    <menus></menus>
</div>
<script type="text/x-template" id='mian'>
    <div class="MasterCenter">
        <div class="CenterTop">
            <div class="centerTopLeft">
                <div class="photo">
                    <img src="__DsQINiu__{$customer['img']}"  onerror="this.src='__PUBLIC__static/index/images/tuyi.png'" alt="" width="60" height="60">
                </div>
            </div>
            <div class="centerTopRight">
                <div class="userName">
                    <span>{$customer['username']}</span>
                    <a href="__PUBLIC__infomation" style="float: right;position: relative;top: -10px">
                        <span class="icon-消息"></span>
                        <span style="color: #ffffff">消息</span>
                    </a>
                </div>
                <div class="userPhone">
                    <span>{$customer['phone']}</span>
                </div>
                <div class="editInfo">

                    <a href="__PUBLIC__wallet/index10">
                        <span>我的账户</span>
                        <i class='icon-keyboard_arrow_right'></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="centerMenuList">

            <div class="centerMenuListInfo">
                <a href="__PUBLIC__studytrain_index" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/stution@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>学习中心</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
                <a href="__PUBLIC__master_choice" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/exam@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>在线考试</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="centerMenuListInfo">
                <a href="__PUBLIC__wallet/index8" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/goodPoint@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>综合评分</span>
                            </div>
                            <div class="centerMenuList-item-info-right">
                                <span class='spanColor'>{$customer['credit_score']}分</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="centerMenuListInfo">
                <a href="__PUBLIC__wallet/index_home" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/purse@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>我的钱包</span>
                            </div>
                            <div class="centerMenuList-item-info-right">
                                <span>提现、余额、收入明细</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
                <a href="__PUBLIC__wallet/index1" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/bills@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>账单明细</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="centerMenuListInfo">
                <a href="__PUBLIC__wallet/index5" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/evaluate@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>评价管理</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
                <a href="__PUBLIC__wallet/index6" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/complaint@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>投诉记录</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
                <!--<a href="__PUBLIC__wallet/index4" class="centerMenuList-item">-->
                    <!--<div class='centerMenuList-item-Content'>-->
                        <!--<div class="centerMenuList-item-photo">-->
                            <!--<img src="__indexStatic__images/share@2x.png" alt="" width='30' height='30'>-->
                        <!--</div>-->
                        <!--<div class="centerMenuList-item-info">-->
                            <!--<div class="centerMenuList-item-info-left">-->
                                <!--<span>分享推荐</span>-->
                            <!--</div>-->
                            <!--<i class='icon-keyboard_arrow_right'></i>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</a>-->
            </div>
            <div class="centerMenuListInfo">
                <a href="__PUBLIC__wallet/index7" class="centerMenuList-item">
                    <div class='centerMenuList-item-Content'>
                        <div class="centerMenuList-item-photo">
                            <img src="__indexStatic__images/picture@2x.png" alt="" width='30' height='30'>
                        </div>
                        <div class="centerMenuList-item-info">
                            <div class="centerMenuList-item-info-left">
                                <span>完工照片</span>
                            </div>
                            <i class='icon-keyboard_arrow_right'></i>
                        </div>
                    </div>
                </a>
            </div>
            <a href="__PUBLIC__logout" class="weui-btn" style="width: 80%;margin: 0 auto;background:#ff8270 ">退出当前账户</a>

        </div>
    </div>
</script>
{include file='public/menu'} {include file='public/footer'}
<script>
    var data = {
        userName: "那年花儿开",
        userPhone: "180****9113",
        userPhoto: "__indexStatic__images/pic_160.png",
        goodPoint:100
    }
    Vue.component('mian', {
        template: '#mian',
        data: function () {
            return data
        },
        methods: {

        },
        mounted: function () {}
    })
    Vue.component('menus', {
        template: '#menu',
        data: function () {
            return {}
        }
    })
    Vue.component('footers', {
        template: '#footers',
        data: function () {
            return {}
        }
    })
    new Vue({
        el: '.app',
        data: data
    })
</script>