<!--判断当前勘测步骤为5时-->
	{{# if(d[i].amount_total==null){ }}
		{{# }else{ }}
		￥{{d[i].amount_total}}
		{{# } }}
		<br/>
		
		{{# if(d[i].status==2){ }}
			<a href="__PUBLIC__ds_survey_payment/{{d[i].order_number}}" target="_blank">
		<span class="btn btn-xs btn-sm btn-orange">去付款</span>
		</a>
		{{# }if(d[i].status==3){ }}
			{{# if(d[i].step_number==5){ }}
				<a href="__PUBLIC__order/status/{{d[i].id}}" target="_blank">
				<span class="btn btn-xs btn-sm btn-orange" >确认报告</span>
				</a>
			{{# }if(d[i].step_number==6){ }}
				<a href="__PUBLIC__order/status/{{d[i].id}}" target="_blank">
				<span class="btn btn-xs btn-sm btn-orange" >确认报告</span>
				</a>
			{{# } }}
		
		
		
		{{# }if(d[i].status==4){ }}
		<a href="__PUBLIC__order/status/{{d[i].id}}" target="_blank">
		<span class="btn btn-xs btn-sm btn-orange">去验收</span>
		</a>
		{{# }if(d[i].status==5){ }}
		<a href="__PUBLIC__client_evaluate/{{d[i].order_number}}" target="_blank">
		<span class="btn btn-xs btn-sm btn-orange">去评价</span>
		</a>
		{{# }if(d[i].status==6){ }}
		<a href="javascript:;" onclick="" target="_blank">
		<span class="btn btn-xs btn-sm btn-orange">追加评价</span>
		</a>	
		{{# } }}

