{include file="public/headerlogin"}
<div class="login">
    <div class='headerlogin'>
        <div class="header-wrapper">
            <div class="header-left" id='goback'>
                <i class='icon-arrow_lift'></i>
                <span class='goback'>返回</span>
            </div>
            <div class="header-content">
                <span class='label-span'>重置密码 3/3</span>
            </div>
            <div class="header-right">
            </div>
        </div>
    </div>
    <div class="login-center">
        <div class="login-logo">
            <h2>设置新登入密码</h2>
        </div>
        <div class="login-form">
        <form action="">
            <div class="login-user">
                <input type="password" id="password" class='user-input' placeholder="请输入新登入密码">
                <i class='icon-Eyes-closed' id='lookpassword'></i>
                <span class='setNewPasswordText'>密码需为8~20位数字、英文和符号的组合,不含空格</span>
            </div>
            <div class="login-user-bottom"  style='margin-top:50px'>
                <a href="javascript:;" id="ok" class="weui-btn weui-btn_plain-warn btn-orange user-bottom">完成</a>
            </div>
           
        </form>
    </div>
</div>
<script src='__indexStatic__xwf/dsthree.js'></script>