{include file="public/headerlogin"}
<div class='login'>
<div class='headerlogin'>
    <div class="header-wrapper">
        <div class="header-left" id='goback'>
            <i class='icon-arrow_lift'></i>
            <span class='goback'>返回</span>
        </div>
        <div class="header-content">
            <span class='label-span'>重置密码 2/3</span>
        </div>
        <div class="header-right">
        </div>
    </div>
</div>
<div class="login-center">
    <div class="login-logo">
        <h2>验证码</h2>
        <span class='login-logo-text'>短信验证码已发送 86-<span id="phone">18016869113</span></span>
    </div>
    <div class="login-form">
        <form action="">
            <div class="login-user">
                <input type="text" class='user-input setVcode' id='loginFindPasswordVCodeInput' placeholder="请输入验证码！">
                <span class='vcodeText'><i class='icon-cancel-circle vCodeIcon' id='loginFindPasswordVCodeIcon'></i>
				 <a id="btnSendCode" onclick="sendMessage()" disabled=true>获取验证码</a>
				</span>
            </div>
            <div class="login-user-bottom">
                <a href="javascript:;" id="three" class="weui-btn weui-btn_plain-warn btn-orange user-bottom">下一步，设置新密码</a>
            </div>
        </form>
    </div>
</div>
</div>
<script src='__indexStatic__xwf/dstwo.js'></script>