<!--关于我们-->
{include file="public/header" }
<!--main-->
<style>
    body{
        background: #dddddd;
    }
</style>
<div class="main Bjintroduce " >
   
    <div class="container  container-hidden">
        <h5 class="page-header  pl-30 bx">
            <span>当前位置：</span>
            <small>关于我们</small><span>>></span>
        </h5>
        <div class="row   pl-30 mt-10 The_master_artisan_submit_orders_report " id="navigatesLeft">
            <div class='col-md-3 left_Bjintroduce' id=''>
                <div class='row'>
                    <div class='col-xs-12'>
                        <ul class="list-group">
                           <li>
                               <img src="__PUBLIC__static/index/images/s.jpg" class="img-responsive " alt=""/>

                           </li>
                            <li class="text-orange">
                               公司简介
                            </li>
                            <li>
                               公司历程
                            </li>
                            <li>
                               资深团队
                            </li>
                            <li>
                                联系我们
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 pl-50 pr_s-70  Teacher_learning right_Bjintroduce " id='navigatesRigth'>
                <ul>
                    <li>
                        <a href="">
                            <img src="__PUBLIC__static/index/images/u37.jpg" class="img-responsive " alt=""/>
                        </a>
                        <div class="row">
                            <div class="col-m-12 text-center">
                                <h2 class="text-center h2">公司简介</h2>
                                <h4 class="text-center h4">About &nbsp;us</h4>
                                <span class="" style="width: 20px;border-top: 2px solid #ff5200;display: inline-block"></span>
                                <p class="p_ text-left"><span class="h3">标匠</span>集专柜装修、店面维护管理、设计与施工为一体的专业性店铺装修服务平台。我们结合社会化的资源和自有团队，本着“信誉至尚，质量第一”的原则，为全国的品牌商铺提供7×24小时的快速及时服务。在标匠平台，客户可以随时随地找到专业的师傅，下单快捷有保障；师傅可以实时获取客户的订单消息，及时接单。标匠为客户和师傅提供服务保障，让双方在下单与接单交易中放心，无后顾之忧。</p>

                            </div>
                        </div>
                    </li>
                    <li class="hidden">
                        <a href="">
                            <img src="__PUBLIC__static/index/images/u39.jpg" class="img-responsive " alt=""/>
                        </a>
                        <div class="row">
                            <div class="col-m-12 text-center">
                                <h2 class="text-center h2">公司历程</h2>
                                <h4 class="text-center h5">Entwcklung  &nbsp;Der</h4>
                                <span class="" style="width: 20px;border-bottom: 2px solid #ff5200;display: inline-block"></span>
                                <p class="text-left">

                                    <img src="__PUBLIC__static/index/images/b_.jpg" class="img-responsive " alt=""/>
                                </p>
                                <div style="color: #000" class="row ">
                                    <!-- 头部-->
                                    <div style="border: none;" class="panel-body">
                                        <ul class="Teacher_learning_ul">
                                            <li>
                                                <ul class="The_list_of_floating">
                                                    <li  class="text-blacker">5月</li>
                                                    <li class="round">
                                                        <div class="blacker">
                                                            <div class="bg_blacker"></div>
                                                        </div>
                                                    </li>
                                                    <li>公司正式成立，公司设址于苏州昆山</li>
                                                </ul>
                                            </li>
                                            <li class="Vertical_lines_orange  Vertical_lines_left_blacker"></li>
                                            <li>
                                                <ul class="The_list_of_floating">
                                                    <li class="text-blacker">7月</li>
                                                    <li class="round">
                                                        <div class="blacker">
                                                            <div class="bg_blacker"></div>
                                                        </div>
                                                    </li>
                                                    <li>拥有域名www.biaojiang-wang.com</li>
                                                </ul>
                                            </li>
                                            <li class="Vertical_lines_orange  Vertical_lines_left_blacker"></li>
                                            <li>
                                                <ul class="The_list_of_floating">
                                                    <li class="text-blacker">10月</li>
                                                    <li class="round">
                                                        <div class="blacker">
                                                            <div class="bg_blacker"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        标匠网站上线
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="Vertical_lines_orange  Vertical_lines_left_blacker"></li>
                                            <li>
                                                <ul class="The_list_of_floating">
                                                    <li class="text-blacker">xx月</li>
                                                    <li class="round">
                                                        <div class="blacker">
                                                            <div class="bg_blacker"></div>
                                                        </div>
                                                    </li>
                                                    <li>微信服务上线</li>

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="hidden">
                        <a href="">
                            <img src="__PUBLIC__static/index/images/u87.png" class="img-responsive " alt=""/>
                        </a>
                        <div class="row">
                            <div class="col-m-12 text-center">
                                <h2 class="text-center h2">资深团队</h2>
                                    <h4 class="text-center h4">A-Nationlmannschaft</h4>
                                <span class="" style="width: 20px;border-top: 2px solid #ff5200;display: inline-block"></span>
                                <div class="row">

                                    <div class="col-md-3">
                                        <img src="__PUBLIC__static/index/images/u83.jpg" class="img-responsive " alt=""/>
                                    </div>

                                    <div class="col-md-9 p_ mt-30">

                                        标匠平台拥有众多高、中级专业设计、监理施工技术及管理人员，并且下属有多支优秀、专业的施工队伍，专注于为客户提供售前及售后服务。
                                    </div>
                                </div>
                                <div class="row mt-130">
                                    <div class="col-md-8 text-left p_ mt-30" >
                                        标匠平台同时也拥有数名程序员，对网站进行完善与维护，为保证用户更舒心、便捷地使用我们的平台。
                                    </div>
                                    <div class="col-md-3" >
                                        <img src="__PUBLIC__static/index/images/u89.png" class="img-responsive " alt=""/>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="hidden">
                        <a href="">
                            <img src="__PUBLIC__static/index/images/u105.jpg" class="img-responsive " alt=""/>
                        </a>
                        <div class="row">
                            <div class="col-m-12 text-center">
                                <h2 class="text-center h2">联系我们</h2>
                                <h4 class="text-center h4">Contact &nbsp;Us</h4>
                                <span class="" style="width: 20px;border-bottom: 2px solid #ff5200;display: inline-block"></span>
                                <div class="text-left p_">
                                    <p class="h3">
                                        标匠(昆山)网络科技股份有限公司
                                    </p>
                                    <p >
                                        公司地址：江苏省苏州市昆山花桥镇花安路169号（中寰广场）532室
                                    </p>
                                    <p >
                                        公司电话：400-7168-048
                                    </p>
                                    <p >
                                        公司邮箱：service@bj-wang.com
                                    </p>
                                    <p >
                                        邮编：215332
                                    </p>
                                </div>
                                <div>
                                    <img src="__PUBLIC__static/index/images/u91.png" class="img-responsive " alt=""/>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<script>

</script>
<style>
    /*关于我们*/
    #bs-example-navbar-collapse-1>ul>li:nth-child(7)>a{
        color: #ff5200;
    }


</style>
<script>
    $(".list-group li:not(:first-child)").click(function () {

        $(".right_Bjintroduce>ul>li").eq($(this).index()-1).removeClass('hidden');
        $(".right_Bjintroduce>ul>li").eq($(this).index()-1).siblings().addClass("hidden");
        $(this).siblings(":not(:first-child)").css("color","#000");
        $(this).css("color","#ff5200");
       var l= $(this).index()
        if(l===2){
            $("#navigatesRigth").removeClass("pr_s-70");
        }else{
            $("#navigatesRigth").addClass("pr_s-70");
        }
    })
</script>

{include file="public/footer" }