{include file='public/header'}
<div class="main">
	<div class='container'>
		<h5 class='page-header bx'>
			<span>当前位置：</span>
			<small>找帮手师傅</small>
			<small>>></small>
		</h5>
		<div class="panel panel-orange" id='helpMaster'>
			<div class="panel-heading">
				<div class="panel-title">
					<span>找帮手师傅</span>
				</div>
			</div>
			<input type="hidden" id="main_id" value="{$woker_id}">
			<input value="<?php echo date('Y-m-d H:i:s')?>" hidden="hidden" id="sending_time">
			<div class="panel-body pt-0">
				<div class="row" style='border-bottom:1px solid #CDCDCD' >
					<div class="col-sm-4 pt-20 pb-20" >
						<label>
							<span class='text-md'>帮手师傅总数 <span class=" label label-success">{$num} </span> 位</span>
						</label>
					</div>
					<div class="col-sm-8 masterOne_right" style='border-left:1px solid #CDCDCD;min-height: 68px;' id ="aa">
						{volist name='masterlist' id='mlist'}
							{if $mlist.status == 1}
								<a class='btn btn-success mb-5 o' masterIId='{$mlist.id}' onclick='setId({$mlist.worker_id},{$mlist.id})'>师傅：{$mlist.worker_id}号</a>
							{elseif $mlist.status == 0}
								<a class='btn btn-warning mb-5 o' masterIId='{$mlist.id}' onclick='setId({$mlist.worker_id},{$mlist.id})'>师傅：{$mlist.worker_id}号</a>
							{elseif $mlist.status == 2}
								<a class='btn btn-danger mb-5 o' masterIId='{$mlist.id}' onclick='setId({$mlist.worker_id},{$mlist.id})'>师傅：{$mlist.worker_id}号</a>
							{/if}
						{/volist}
					</div>
				</div>

				<!-- 师傅信息 -->
				<input type="hidden" id="id" value="{$id}">
				<input type="hidden" id="ds_yan" value="0">
				<div class="row mastertwo">
					<div class="col-sm-5 col-sm-push-7" style='border-bottom:1px solid #cdcdcd;'>
						<div class="row mb-5">
							<div class="col-sm-11 col-sm-offset-1">
								<div class="row mb-5">
									<div class="col-sm-5 col-sm-offset-3 pt-0">
										<img id='img' src="__PUBLIC__static/index/images/headpicture1.jpg" onerror="this.src='__PUBLIC__static/index/images/moren.jpg'" alt="">
									</div>									
								</div>
								<div class="row mb-5">
									<div class="col-sm-5 p-0">
										<div class="row mb-5">
											<div class="col-xs-12">
												<div style='background: url(__PUBLIC__static/index/images/info1.png)no-repeat;width:175px;height: 40px;margin:0px auto'></div>
													<span class='helpmasterinfo1' style=''>￥<span id='guarantee'>2000</span></span>
											</div>	
										</div>
										<div class="row mb-5">
											<div class="col-xs-12">
												<div style='background: url(__PUBLIC__static/index/images/info2.png)no-repeat;width:175px;height: 40px;margin:0px auto'></div>
													<span class='helpmasterinfo1' style=''><span id='credit_score'>99</span> 分</span>
											</div>	
										</div>
									</div>
									<div class="col-sm-5 p-0 col-sm-offset-2">
										<div class="row mb-5">
											<div class="col-xs-12">
												<div style='background: url(__PUBLIC__static/index/images/info3.png)no-repeat;width:175px;height: 40px;margin:0px auto'></div>
													<span class='helpmasterinfo1' style=''><span id='technical_level'>5</span>级</span>
											</div>	
										</div>

										<div class="row">
											<div class="col-xs-12">
												<div style='background: url(__PUBLIC__static/index/images/info4.png)no-repeat;width:175px;height: 40px;margin:0px auto'></div>
													<span class='helpmasterinfo1' style=''><span id='comprehensive'>7.2</span> 分</span>
											</div>	
										</div>	
									</div>
								</div>
								<div class="row">
									<div class="col-xs-8 col-xs-offset-2">
										<a class='btn btn-success w' id='invite'>邀请</a>	
									</div>
								</div>
							</div>
						</div>
					</div>

                  
                   
					<div class="col-sm-7 col-sm-pull-5" style='border-right:1px solid #E8E8E8;border-bottom:1px solid #CDCDCD'>
						<div class="row">
							<div class="col-xs-4">
								<label>师傅工号</label>
							</div>
							<div class="col-xs-8">
								<div class="input-group">
									<input type="text" id='worderID' value="{$wid}" class='form-control'>
									<a class='btn btn-default input-group-addon' id='yanzheng'>验证</a>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-4">
								<label>所需时长(小时)</label>
							</div>
							<div class="col-xs-8">
								<input type="text" id='time' class='form-control'>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-4">
								<label>师傅技能需求</label>
							</div>
							<div class="col-xs-8">
								<select class='form-control' id='skills'>
									{volist name='skills' id='skills'}
										<option value='{$skills.id}'>{$skills.skill}</option>
									{/volist}
									
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-4">
								<label>佣金数额</label>
							</div>
							<div class="col-xs-8">
								<input type="text" id='money' class='form-control'>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12">
								<textarea class='form-control' placeholder="请输入您对师傅的要求" id='need'></textarea>
							</div>
							
						</div>
					</div>
					<div class="col-sm-8 col-sm-offset-2">
						<div class="row pt-20 pb-20">
							<div class="col-xs-6">
								<a href='__PUBLIC__master_filters/{$order_number}/cid/{$data}/sid/0' class='btn btn-success'>增加师傅</a>
							</div>
							<div class="col-xs-6  text-right">
								<button class='btn btn-danger' id='delete' masterid=''>减少师傅</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" id='order_number' value='{$order_number}'>
			<input type="hidden" id='number' value='{$number}'>
			<input type="hidden" id='num' value='{$num}'>
			<input type="hidden" id='worker_id' value='{$woker_id}'>
			<div class="panel-footer">
				<div class="row">
					<div class='col-sm-8 col-sm-offset-2 text-center'>
						<a href="__PUBLIC__Cqueryprice/{$order_number}/wid/{$wid}" class='btn btn-success price'>去报价</a>	
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<script type="text/javascript">
function setId(obj,id){
	var order_number = $('#order_number').val();
	 $.ajax({
	 	url:'__PUBLIC__help_master/'+order_number,
	 	data:{obj:obj,order_number:order_number},
	 	dataType:'json',
	 	type:'post',
	 	success:function(data){
	 		    $('#worderID').val(data.worker_id);
				$('#time').val(data.working_hours);

				$('#skills').val(data.skill);
				$('#money').val(data.cost);
				$('#need').val(data.need);

	 		    $('#guarantee').html(data.guarantee);
				$('#technical_level').html(data.technical_level);
				$('#credit_score').html(data.credit_score);
				$('#comprehensive').html(data.comprehensive);
				//$('#img').attr('src','thumb_path'+data.img);
	 	}
	 })
		$('#delete').attr({'masterId':id});
		$('#delete').attr({'workerId':obj});
	}
window.onload = function(){
	

	$('#yanzheng').click(function(){
		var	val = $(this).siblings('input').val();
		var id = $('#id').val();
		var reg = /^[\d]+$/;
		if(val==''){
			msg('请先填写工号！')
			return ;
		}
		if(!reg.test(val)){
			msg('请填写正确的工号！')
			return ;
		}
		if(val==id){
		    msg('不能邀请自己做帮手哦');
			return ;
		}
		var locading = layer.load(1, {shade: [0.1,'#fff']});//0.1透明度的白色背景
		$.ajax({
			url:'__PUBLIC__getMasterInfo',
			type:'post',
			dataType:'json',
			data:{
				workerId:parseInt(val)
			},
			success:function(data){
				layer.close(locading);
				if(data.code==200){
					msg(data.msg);
					return;
				}
				$('#guarantee').html(data.data.guarantee);
				$('#technical_level').html(data.data.technical_level);
				$('#credit_score').html(data.data.credit_score);
				$('#comprehensive').html(data.data.comprehensive);
				$('#img').attr('src','__DsQINiu__'+data.data.img);
				$('#ds_yan').val(1);
			},
			error:function(data){
				layer.close(locading);
				msg();
			}
		});		
	});

	$('#invite').click(function(){
		var reg = /^[\d]+$/;
		var worker_id = $('#worderID').val(); 
		var working_hours = $('#time').val(); 
		var skill = $('#skills').val(); 
		var cost = $('#money').val(); 
		var need = $('#need').val();
		var order_number = $('#order_number').val();
		var ds_yan = $('#ds_yan').val();
		if(ds_yan==0){
		    msg('请先点击验证');
			return ;
		}
		if(!reg.test(worker_id)){
			msg('请填写正确的工号！')
			return ;
		}
		if(working_hours==''){
			msg('请填写工作时长！')
			return ;
		}
		if(skills==''){
			msg('请选择所需技能！')
			return ;
		}
		if(!reg.test(cost)){
			msg('请填写正确的佣金！')
			return ;
		}
		if(need==''){
			msg('请填写需求！')
			return ;
		}
		var locading = layer.load(1, {shade: [0.1,'#fff']});//0.1透明度的白色背景
		$.ajax({
			url:'__PUBLIC__addMaster',
			type:'post',
			dataType:'json',
			data:{
				worker_id:worker_id,working_hours:working_hours,skill:skill,cost:cost,need:need,order_number:order_number
			},
			success:function(data){
				layer.close(locading);
				if(data.code==1){
					
                  msg(data.msg,1);
               var html="";
               var list = data.data;
               for(var i in list){
               	if(list[i].status == 1){
               		html+="<a class='btn btn-success mb-5 o' masterIId="+list[i].id+" onclick='setId("+list[i].worker_id+","+list[i].id+")'>师傅："+list[i].worker_id+"号</a>"
               	}else if(list[i].status == null){
               		html+="<a class='btn btn-warning mb-5 o' masterIId="+list[i].id+" onclick='setId("+list[i].worker_id+","+list[i].id+")'>师傅："+list[i].worker_id+"号</a>"
               	}else if (list[i].status == 2){
               		html+="<a class='btn btn-danger mb-5 o' masterIId="+list[i].id+" onclick='setId("+list[i].worker_id+","+list[i].id+">师傅："+list[i].worker_id+"号</a>}"
               }
           	}       		
              $('#aa').html(html);

				var number =$('#order_number').val();
		        var message_type='2';
		        var source_id=$('#main_id').val();
		        var receive_id=$('#worderID').val();
		        var content='有师傅找你帮忙';
		        var sending_time = $('#sending_time').val(); 
		        var link = '__PUBLIC__confirm_orders/'+number+'/uid/'+source_id;
		     $.ajax({
		        url: '__PUBLIC__api/message',
		        dataType: 'json',
		        data: {
		            message_type:message_type,
		            source_id:source_id,
		            receive_id:receive_id,
		            content:content,
		            sending_time:sending_time,
		            link:link
		        },
		        type: 'post',
		        success: function(data) {
		            if (data.code == 200) {
		               
		            } else {
		                layer.msg(data.msg, {
		                    icon: 1,
		                    time: 1000
		                });
		            }
		        },    
		    })
		}else if(data.code== -1){
			
			  layer.msg(data.msg, {
		                    icon: 2,
		                    time: 1000
		                });
			}else if(data.code== 0){
				
				 layer.msg(data.msg, {
		                    icon: 2,
		                    time: 1000
		                });
					
			    }else if(data.code == 2){
                   
                   layer.msg(data.msg, {
		                    icon: 2,
		                    time: 1000
		                });
			    }
				
		    }
					
		});

		
	});

	$('#delete').click(function(){
		var	id=$(this).attr('masterId');
		var	workerId=$(this).attr('workerId');
		if(id==''){
			msg('请先选择要删除的师傅！');
			return;
		}
		layer.confirm('您是确定要删除工号是'+workerId+'号师傅吗？', {
		  btn: ['删除','取消'] //按钮
		}, function(){
		  var locading = layer.load(1, {shade: [0.1,'#fff']});//0.1透明度的白色背景
			$.ajax({
				url:'__PUBLIC__delectMaster',
				type:'post',
				dataType:'json',
				data:{id:id},
				success:function(data){
					$('a[masterIId='+id+']').hide();
					layer.close(locading);
					msg(data.msg,1);
				},
				error:function(data){
					layer.close(locading);
					msg();
				}
			});
		}, function(){
		  layer.clsoe();
		});
		

	});
	var isShow = false;
	$('.o').click(function(){
			$(this).css({'transform':'scale(0.8, 0.8)'}).siblings().css({'transform':'scale(1, 1)'});
		
	});

}
</script>
<script>
$('.price').click(function(e){
	e.preventDefault();
	
	var order_number = $('#order_number').val();
    var worker_id = $('#worker_id').val();
    
    	window.location.href = "__PUBLIC__Cqueryprice/"+order_number+"/wid/"+worker_id;
    
})
</script>>
{include file='public/footer'}