{include file="public/header"}
<!-- header -->
	<!--main-->
    <link href="__PUBLIC__static/index/css/bootstrap/star-rating.min.css" media="all" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src='__PUBLIC__static/index/css/bootstrap/star-rating.min.js'></script>
	<div class='main'>
        <div class='container'>
            <h5 class="page-header bx">
                <span>当前位置：</span>
                <small>评价师傅</small><span>>></span>
            </h5>
            <div class='panel panel-orange'>
	            <div class='panel-heading'>
	            	<div class="panel-title">
	            		<span>评价-{$name}-主任师傅</span>
	            	</div>
	            </div>
	            <form action="">
	            	<div class='row mt-20'>
						<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
							<div class="row">
								<div class="col-sm-3">
									<label class='control-label'>师傅表现:</label>
								</div>
								<div class="col-sm-9">
									<div class="row" style='padding:0px 15px;'>
										<div class="col-xs-4 col-sm-3 p-0">
											<div class="radio radio-danger ">
				                                <input type="radio" name="evaluate" id="good" value="1" checked>
				                                <label for="good">
				                                    <img src='__PUBLIC__static/index/images/satisfaction3.png' width='30px' style='position:absolute;top:-10px;left: -2px;'><span style='margin-left: 22px;'>满意</span>
				                                </label>
				                            </div>
										</div>
										<div class="col-xs-4 col-sm-3 p-0">
											<div class="radio radio-warning">
				                                <input type="radio" name="evaluate" id="ordinary" value="0" >
				                                <label for="ordinary">
				                                    <img src='__PUBLIC__static/index/images/satisfaction.png' width='30px' style='position:absolute;top:-10px;left: -2px;'><span style='margin-left: 22px;'>一般</span>
				                                </label>
				                            </div>
										</div>
										<div class="col-xs-4 col-sm-3 p-0">
											<div class="radio radio-">
				                                <input type="radio" name="evaluate" id="yawp" value="-1" >
				                                <label for="yawp">
				                                    <img src='__PUBLIC__static/index/images/satisfaction2.png' width='30px' style='position:absolute;top:-10px;left: -2px;'><span style='margin-left: 22px;'>不满意</span>
				                                </label>
				                            </div>
										</div>
									</div>
								</div>
							</div>

							<div class="row  mt-20">
								<div class="col-sm-3">
									<label class='control-label'>留言:</label>
								</div>
								<div class="col-sm-9">
									<textarea class='form-control' rows='10' id='test' placeholder="请填写您的留言！" class='form-control'></textarea>
								</div>
							</div>
							
							<div class="row mt-20">
								<div class="col-sm-3 ">
									<label class='control-label mt-15'>师傅的服务态度:</label>
								</div>
								<div class="col-sm-9 ">
									<input id="input-id1" value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.2 data-size="xs" required style='opacity: 0'>
								</div>

							</div>

							<div class="row mt-20">
								<div class="col-sm-3 ">
									<label class='control-label mt-15'>师傅的工作质量:</label>
								</div>
								<div class="col-sm-9 ">
									<input id="input-id2" value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.2 data-size="xs" required title="" style='opacity: 0'>
									
								</div>
							</div>

							<div class="row mt-20">
								<div class="col-sm-3">
									<label class='control-label mt-15'>师傅的工作速度:</label>
								</div>
								<div class="col-sm-9">
									<input id="input-id3" value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.2 data-size="xs" required title="" style='opacity: 0'>
								</div>
							</div>
							<div class='row mt-20'>
								<div class="col-xs-6 col-xs-offset-2 col-sm-6 col-sm-offset-3">
									<input type="button" id='submit' class='btn btn-orange w-b' value='确认评价'>
								</div>

								<!-- <div class="col-xs-2 col-sm-1"> -->
									<!-- <i class=''><img src="__PUBLIC__static/index/images/give.png" alt=""></i> -->
								<!-- </div> -->
							</div>

						</div>
	            </form>
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-4 col-xs-offset-7 col-sm-1 col-sm-offset-11'>
					<span onclick="window.history.go(-1);" class='text-orange' style='cursor:pointer'>返回>></span>	
				</div>
			</div>
		</div>
	</div>
	<!--main end-->

	<!-- ===============================================
    ============== Page Specific Scripts ===============
    ================================================ -->

	<script type="text/javascript">
	$(function(){
		var fen1 = 0;//评分1
		var fen2 = 0;//评分2
		var fen3 = 0;//评分3
		var liuyan = '';//留言内容
		$('#input-id1').on('rating.change', function(event, value) {
			    fen1 = value;
		});
		$('#input-id2').on('rating.change', function(event, value) {
			    fen2 = value;
		});
		$('#input-id3').on('rating.change', function(event, value) {
			    fen3 = value;
		});
		$('#text').on('rating.change', function(event, value) {
			    fen3 = value;
		});
		$('#submit').click(function(){
			liuyan = $('#test').val();
			var evaluate = $('input[name=evaluate]:checked').val();
			if(fen1==0 || fen2==0 || fen3==0 || liuyan==''){
				msg('请先填写留言或评分！');
				return;
			}

			$.ajax({
				url:'__PUBLIC__client_evaluate/{$orders}',
				type:'post',
				dataType:'json',
				data:{
					order_id:{$orders},
					service_attitude:fen1,
					work_quality:fen2,
					work_speed:fen3,
					master_manifestation:evaluate,
					comments:liuyan
				},
				success:function(data){
					if(data.code=200){
						layer.msg(data.msg+'即将跳转', {
						  icon: 1,
						  time: 2000 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
						  window.location.href='__PUBLIC__orders/client';
						});  
					}else{
						msg();
					}
				},
				error:function(data){
						msg();

				}
			});
		});
	});
	</script>
	<!--/ Page Specific Scripts -->
<!-- footer -->
{include file="public/footer"}
<!-- footer end-->
