<table class="table table-hover">
	<script id="list-template" type="text/html">
		{{# for(var i=0;i<d.length;i++){  }}
			<div class="panel panel-default">
				<div class="panel-heading" style="z-index: 0">
					<div>
						<p>
							<input type="checkbox" name="items" value="{{d[i].id}}" />
							<span class="">{{d[i].create_time}}</span>
							<br class="hidden-md hidden-sm  hidden-lg">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>订单号:{{d[i].order_number}}</span>
						</p>
						<a href="javascript:;"class="glyphicon glyphicon-trash "style="float: right;top:5px;" onclick="del_ser({{d[i].id}})" ></a>
					</div>
				</div>
			<div class="panel-body">
				<div class="media">
					<div class="media-left">
						<a  href="__PUBLIC__order/workstatus/{{d[i].id}}" target="_blank"  class="w-h-img">
							<p class="">
								客户名称:{{# if(d[i].uname==null){ }}
								            {{d[i].names}}
											{{# }else{ }}
											{{d[i].uname}}
											{{# } }}
							</p>
							{{# if(d[i].service_type_id==1){ }}
							    <img src="__DsQINiu__{{d[i].install_img}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>    
							{{# }if(d[i].service_type_id==2){ }}
								<img src="__DsQINiu__{{d[i].m_img}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>    
							{{# }if(d[i].service_type_id==3){ }}
								品质监理图片(表待完善)
							{{# }if(d[i].service_type_id==4){ }}
								<img src="__DsQINiu__{{d[i].sur_img}}" class="img-circle" onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>
							{{# }if(d[i].service_type_id==5){ }}
							    <img src="__DsQINiu__{{d[i].gjm_img}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>
							{{# }if(d[i].service_type_id==6){ }}
								<img src="__DsQINiu__{{d[i].coam_img}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>   
							{{# }else{ }}
								
							{{# } }}
							
						</a>
					</div>
					<div class="media-body">
						<p><span>服务项目：</span>{{d[i].sname}}</p>
						<p><span>品牌：</span>
						{{# if(d[i].service_type_id==1){ }}
							{{d[i].i_brand}}
						{{# }if(d[i].service_type_id==2){ }}
							{{d[i].m_brand}}
						{{# }if(d[i].service_type_id==3){ }}
							品质监理品牌(表待完善)
						{{# }if(d[i].service_type_id==4){ }}
							{{d[i].sur_brand}}
						{{# }if(d[i].service_type_id==5){ }}
							{{d[i].d_brand}}
						{{# }if(d[i].service_type_id==6){ }}
							{{d[i].coam_brand}}
						{{# }else{ }}
							
						{{# } }}
						</p>
						<p><span>地址：</span>{{d[i].full_location}} {{d[i].location_ext}}</p>
						<a href="__PUBLIC__order/workstatus/{{d[i].id}}"  target="_blank" class="text-blue">查看订单状态>></a>
					</div>
					<div class="media-right text-center">
						{{# if(d[i].master_status==1){ }}
						<p>待定标</p>
						{{# }if(d[i].master_status==2){ }}
						<p>待付款</p>
						{{# }if(d[i].master_status==3){ }}
						<p>待完工</p>
						{{# }if(d[i].master_status==4){ }}
						<p>待验收</p>
						{{# }if(d[i].master_status==5){ }}
						<p>待评价</p>
						{{# }if(d[i].master_status==6){ }}
						<p>追加评价</p>
						{{# }if(d[i].master_status==7){ }}
						<p>交易完成</p>
						{{# }if(d[i].master_status==8){ }}
						<p>订单关闭</p>
						{{# } }}
						
						{{# if(d[i].amount_total==null){ }}
						 <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
						{{# }else{ }}
						￥{{d[i].amount_total}}
						{{# } }}
						{{# if(d[i].service_type_id==1){ }}
						{include file="work_stype/install_work_repair" }
						{{# }if(d[i].service_type_id==2){ }}
						{include file="work_stype/work_repair" }
						{{# }if(d[i].service_type_id==3){ }}
							3
						{{# }if(d[i].service_type_id==4){ }}
						{include file="work_stype/survey" }
						{{# }if(d[i].service_type_id==5){ }}
					    {include file="work_stype/gjminstall_work_repair" }
						{{# }if(d[i].service_type_id==6){ }}
						{include file="work_stype/coaming_work_repair" }
						{{# } }}
					</div>
				</div>
			</div>
		</div>
	{{# } }}
</script>
	<tbody id="list-content"></tbody>
</table>