{include file='public/header'}
<div class='app'>
    <headers></headers>
    <mian></mian>
    <menus></menus>
</div>
<script type="text/x-template" id='mian'>
    <div class='kehu_zixunzhurenshifu'>
        <div class="weui-cells weui-cells_form margin-none">
            <div class="weui-cells__title">主任师傅工号：<span class='masterid'>{$id}</span></div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label label">品牌 </label>
                </div>
                <div class="weui-cell__bd">
                    <span class='weui-input label-span'>{{data.brand['title']}}</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label label">客户名称：</label>
                </div>
                <div class="weui-cell__bd">
                    <span class='weui-input label-span'>{{data.contact_name}}</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label label">店铺地址：</label>
                </div>
                <div class="weui-cell__bd">
                    <span class='weui-input label-span'>{{data.full_location}}</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label label">预约时间：</label>
                </div>
                <div class="weui-cell__bd">
                    <span class='weui-input label-span'>{{data.start_time}}</span>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label label">师傅个数：</label>
                </div>
                <div class="weui-cell__bd">
                    <input type="Number" v-model="bangshouenumber" class='weui-input user-input label-span' placeholder="请输入个数">
                </div>
                <a href="javascript:;" @click="bangshou" class="weui-btn weui-btn_mini weui-btn_primary" style='background-color: #58a22f;'>帮手</a>
            </div>
            <div class="weui-cells__title">
                <div class="weui-cell__bd">
                    <div class='checkbox'>
                        <input type='checkbox' v-model="checkbox1" id='checkbox1' name='checkboox[]'>
                        <label for='checkbox1' class='label-span'>确认施工时间是否可行</label>
                    </div>
                </div>
            </div>
            <div class="weui-table">
                <div class="weui-table-tr">
                    <div class="weui-cell-item"><span>项目</span></div>
                    <div class="weui-cell-item"><span>项目预算价</span></div>
                    <div class="weui-cell-item"><span>故障详情</span></div>
                </div>
                <div class='weui-table-th' v-for="(item,index) in result">

                    <div class="weui-cell-item" >
                        <span v-if="item.service_type_id==1">安装</span>
                        <span v-if="item.service_type_id==2">维修</span>
                        <span v-if="item.service_type_id==3">品质监理</span>
                        <span v-if="item.service_type_id==4">勘测</span>
                        <span v-if="item.service_type_id==5">更换灯片</span>
                        <span v-if="item.service_type_id==6">围板搭建</span>
                    </div>
                    <div class="weui-cell-item">
                        <input type="text" class="qian" :id="'qian'+index" v-model="qian[index]">
                    </div>
                    <div class="weui-cell-item">
                        <a href="" class='a-link' v-if="item.service_type_id==1"><span>查看详情>></span></a>
                        <a :href="'__PUBLIC__repair_details/'+item.id" class='a-link' v-if="item.service_type_id==2"><span>查看详情>></span></a>
                        <a href="" class='a-link' v-if="item.service_type_id==3"><span>查看详情>></span></a>
                        <a href="" class='a-link' v-if="item.service_type_id==4"><span>查看详情>></span></a>
                        <a href="" class='a-link' v-if="item.service_type_id==5"><span>查看详情>></span></a>
                        <a href="" class='a-link' v-if="item.service_type_id==6"><span>查看详情>></span></a>
                    </div>

                </div>

            </div>
            <div class="weui-tim">
                <div class="weui-tim-content" id="login">
                    <!--<div class="weui-tim-content-left">-->
                        <!--<div class='weui-tim-content-left-photo'>-->
                            <!--<img src="__DsQINiu__{$useridimageurl}" onerror="this.src='__PUBLIC__static/index/images/more.png'" height='45' width='45' alt="">-->
                        <!--</div>-->
                        <!--<div class='weui-tim-content-left-text'>-->
                            <!--<span></span>-->
                            <!--<span class=''></span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="weui-tim-content-right">-->
                        <!--<div class='weui-tim-content-right-photo'>-->
                            <!--<img src="__DsQINiu__{$customerimageurl}" onerror="this.src='__PUBLIC__static/index/images/more.png'"  height='45' width='45' alt="">-->
                        <!--</div>-->
                        <!--<div class='weui-tim-content-right-text'>-->
                            <!--<span class=''></span>-->
                            <!--<span></span>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <div class="weui-cell weui-cell_select">
                        <input id="job" v-model="usermsg" class="xunwen2 weui-input" style="border: 1px solid #dddddd">
                    </div>
                </div>
                <div class="weui-cell__hd">
                    <label class="weui-label" style='text-align: center;line-height: 1px;' @click="send">
                        <div   class="weui-btn weui-btn_mini weui-btn_primary" style='background-color: #58a22f;'>发送</div>
                    </label>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <a href="javascript:;" @click ="gobacks()" class="weui-btn weui-btn_warn bg-color">返回</a>
                </div>
            </div>
        </div>
    </div>
</script>

{include file='public/menu'}
{include file='public/footer'}
<script>
    $ur=0;
    var data = {
        sex: 1,
        data:{$data},
        result:{$result},
        elemarrleft:[],
        usermsg:"",
        elemarright:[],
        checkbox1:false,
        qian:[],
        qians:[],
        order_number:'{$order_number}',
        bangshouenumber:'{$num}',
        ud:0,
        pay:{$pay}
    }
    Vue.component('mian', {
        template: '#mian',
        data: function () {
            return data
        },
        methods: {
            gobacks:function(){
                window.history.go(-1);
            },
            send:function () {
                var i=0;
                var _this=this;
                if(this.usermsg==""){
                    $.toptip("发送内容不能为空","error");
                    return false
                }
                if(this.ud==2){

                    if(_this.qian.length==0){
                        $.toptip("请填写报价金额","error");
                        return false
                    }
                    _this.qian.forEach(function (p1, p2, p3) {
                        if(p1>=10){
                            i++;
                        }
                    });
                    if(i!==_this.qian.length){
                        $.toptip("报价不能小于10","error");
                        return false
                    }
                    if(!_this.checkbox1){
                        $.toptip("请勾选确认时间","error");
                        return false
                    }
                    $.ajax({
                        type:"POST",
                        data:{mei:data.qian,order_number:data.order_number},
                        url:"__PUBLIC__mast_tie",
                        dataType:"json",
                        success:function (datas) {
                            if(datas.code==200){
                               zhuangtai=true
                                $ur=0;
                                datas.data.mei.forEach(function (p1, p2, p3) {
                                    data.qians[p2]=p1
                                    $ur+=p1
                                })
                                sendweb(_this.usermsg)
                            }
                        }
                    })
                }else{
                    zhuangtai=false
                    sendweb(this.usermsg)
                }

            },
            bangshou:function () {
                var $this=this;
                if($this.bangshouenumber==""||$this.bangshouenumber==0){
                    $.toptip("添加帮手师傅不能为空","error");
                    return false;
                }
                $.ajax({
                    url:"__PUBLIC__helper",
                    type:"POST",
                    data:{order:$this.order_number,num:$this.bangshouenumber},
                    dataType:"json",
                    success:function (data) {
                            if(data.code==200){
                                $.toast(data.msg);
                                window.location.href="__PUBLIC__helper1/"+$this.order_number+"/wid/0";
                            }else {
                                $.toptip(data.msg,"error");
                            }
                    }
                })
            }
        },
        mounted:function () {
            if(this.pay!=1){
                $("#job").select({
                title: "选择发送信息",
                items: [{title:"提供信息不全，需要洽谈了解进一步的情况",value:1 },{title:"信息全面，确定可以承接，请直接下单",value:2}],
                onChange:function (da) {
                    data.usermsg=da.titles;
                    data.ud=da.values;


                }
            });
            }
            
        }
        ,computed:{
            zongjian:function () {
                 $ur=0;
                this.qian.forEach(function (p1, p2, p3) {
                    if(p1==0||p1==""||!parseInt(p1)){

                    }else{
                        $ur+=parseInt(p1);
                    }

                })
                return $ur;
            },

        }
    })
    //头
    Vue.component('headers', {
        template: '#header',
        data: function () {
            return {
                title: "主任师傅"
            }
        },
        methods: {
            goback: function () {
                window.history.go(-1)
            }
        }
    })
    Vue.component('menus', {
        template: '#menu',
        data: function () {
            return {}
        }
    })
    Vue.component('footers', {
        template: '#footers',
        data: function () {
            return {}
        }
    })
    new Vue({
        el: '.app'
    })

    function onSendData(usermsg) {
        //得到交易对方的userid.
        //get the content in the element and wrap into .
        var content = "msgtype:1,msg:" + usermsg;
        if(zhuangtai){
            content+="&checkbox1="+(data.checkbox1?1:0)
            content+="&zongjia="+$ur
            content+="&bangshou="+data.bangshouenumber

            $('.qian').each(function(index){
                if($(this).attr('id').length>0)
                {
                    content=content+"&"+$(this).attr('id')+"="+(data.qians[index]);
                    //find the target id and set it value.
                }})
        }
        SendContentOut(content);
    }
    function SetSelfElement(from_user_id, msg) {
        //here, set the value of different element.
        var items = {};
        var keyvalue = [];
        var key = "", value = "";
        var paraString = msg.split("&");
        for(var item in paraString){
            var  paraString1= paraString[item].split("=");
            if(item==0){
                say(from_user_id,null,paraString[0])
            }
        }
//        zongjia  checkbox1 bangshou qian
        var chatmsg = "";
        return chatmsg;
    }
</script>
{include file="consult/consult"}

