.header
  width:100%
  l-gradient()
  color:#fff
  height:40px
  position: fixed;
  z-index: 9999;
  top: 0px;
  .header-wrapper
    display:flex
    display: -webkit-flex 
    display: -ms-flexbox 
    height:100%
    .header-left
      flex:1
      -webkit-box-flex: 1
      -webkit-flex: 1
      height:100%
      line-height:40px
      text-align:left
      .icon-arrow_lift
        font-weight:300
        line-height:40px
      .goback
        font-size:14px
        position:relative
        top:-.0625rem
    .header-content
      flex:2
      line-height:40px
      text-align:center
      .text
        font-size:16px
    .header-right
      flex:1  
      -webkit-box-flex: 1
      -webkit-flex: 1
      text-align:right