.kehu_shigongbaogaoqueren   
    font-size: 14px
    .border-none
        margin-top:0
        .heading1
            margin-top:5px
            padding:5px 20px
            font-size:14px
            font-family:Source Han Sans CN
            color:#707070
            .left
                padding-right:24px
        .heading
            padding:5px 20px
            font-size:14px
            font-family:Source Han Sans CN
            color:#707070
            .left
                padding-right:24px
            .right
                .text
                    color:#707070
        .heading2
            margin-bottom:5px
            padding:5px 20px
            font-size:14px
            font-family:Source Han Sans CN
            color:#707070
            .left
                padding-right:24px
    .border
        border-bottom:1px solid #EDEDED
        padding-bottom:10px
        .content1
            margin-top:10px
            padding:5px 20px
            font-size:14px
            font-family:Source Han Sans CN
            color:#707070
            .zuo1
                padding-right:26px
        .content
            margin-top:5px
            padding:5px 20px
            font-size:14px
            font-family:Source Han Sans CN
            color:#707070
            .zuo
                padding-right:26px
            .zuo2
                padding-right:12px
            .zuo3
                padding-right:12px
    .xgzhaopian
        border-bottom:1px solid #EDEDED
        padding-bottom:15px
        padding-top:15px 
        .icon-camera
            margin-left:15px
            color:#FF4E00
        .zhaopian
            margin-left:15px
            color:#FF4E00
    .one
        padding-top:10px
        padding-left:15px
        border-bottom:1px solid #EDEDED
        .two
            .mentouzhao
                color:#707070
                position:relative
                left:0px
                top:60px
    .one1
        border-bottom:1px solid #EDEDED
        padding-bottom:10px
        overflow:auto
        padding-top:10px
        padding-left:15px
        .two1
            .zhuangui
                color:#707070
                padding-left:10%
    .duibi
        padding-top:15px
        padding-left:15px
        .icon-camera
            color:#767676
        .qianhouduibi
            margin-left:15px
            color:#707070
        .duibi1
            padding-top:15px
            .weixiuqian1
                color:#707070
                position:relative
                left:0px
                top:60px
        .text2
            width:80%
            border:1px solid #cacaca
            height:30px
            margin-top:15px
            .text3
                width:100%
                height:30px
                color:#707070
                font-size:14px
    .qianzi
        .qianzi2
            font-size:14px
    .btn
        text-align:center
        margin-top:30px
        .btn1
            padding:15px 100px
            color:#fff;
            border:0
            border-radius:4px
            background:-webkit-linear-gradient(left, #ff8c00, #ff5700)