bg-image($url)
    background-image: url($url+'@2x.png')
l-gradient()
	background: -webkit-linear-gradient(left, #ff9000 , #ff5200)
	background: -o-linear-gradient(right, #ff9000 , #ff5200) 
	background: -moz-linear-gradient(right, #ff9000 , #ff5200)
	background: linear-gradient(to right, #ff9000 , #ff5200)
color-gradient($color,$color2)
	background: -webkit-linear-gradient(left, $color , $color2)
	background: -o-linear-gradient(right, $color , $color2) 
	background: -moz-linear-gradient(right, $color , $color2)
	background: linear-gradient(to right, $color , $color2)



     