.qiangdan
    background-color:#f7f7f7
    .border-none
        margin-top:0
        .one
            background-color:#f7f7f7
        .weui-cell::before
            content: " ";
            position: absolute;
            top: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #d9d9d9;
            color: #d9d9d9;
            transform-origin: 0 0;
            transform: scaleY(.5);
            left: 0px;
    .bg
        background-color:#F6F6F6
        padding-bottom:70px
        padding-left:15px
	    .xiangmu1
	        text-align:center
	        height:160px
	        background-color:#fff
	        margin:10px 0
	        border-radius:3px
	        box-shadow:1px 1px 1px #cacaca
	        .xiangmu1_header
	            text-align:left
	            padding:15px 10px
	            border-bottom:1px solid #f7f7f7
	            font-size:18px
	            color:#FF5714
	        .xiangmu1_body1
	            text-align:left
	            padding:10px
	        .xiangmu1_body2
	            text-align:left
	            padding-left:10px
	            color:#3E3E3E
	            .toubiao
	                margin-left:10px
	                .hongxian
	                    border-bottom:1px solid #ff5200
	                    width:60px
	                    outline:none
	        .xiangmu1_footer
	            text-align:left
	            padding-left:10px
	            color:#3E3E3E
	            .xiangmu1_footer1
                    display:inline-block
                    margin-top:10px
	            .xiangmu1_footer2
	                float:right
	                margin-right:10px
	                .chakan
	                    font-size:18px
	                    padding:5px 20px
	                    color:#fff
	                    background:-webkit-linear-gradient(#ff5700, #ff8c00)
	                    border:0
	                    border-radius:3px


