@import "star.styl"
.zhaobangshoushifu
    .weui-flex
        margin:10px 0px
        .weui-flex__item
            text-align: center
    .weui-master
        width:100%
        height:165px
        padding:10px 0px
        background: #F2F2F2
        .weui-bjmasterinfo
            width:90%
            margin:0px auto
            display: flex
            display: -webkit-flex
            display: -ms-flexbox
            .photo
                flex: 0 0 100px
                -webkit-box-flex: 0 0 100px
                -webkit-flex: 0 0 100px
                width:100px
                height:144px
                position:relative
                margin-right:10px
                .rz-icon
                    width:35px
                    height:35px
                    top:0
                    left:0
                    display: inline-block
                    position:absolute
                    z-index:10
                    bg-image('img/rz')
                    background-size:35px 35px
                    background-repeat: no-repeat
            .content
                flex: 1
                -webkit-box-flex: 1
                -webkit-flex: 1
                .text
                    height:20px
                    font-size:14px
                    display: inline-block
                    vertical-align:top
                    line-height:20px
                    margin-left:5px
                    .text-pf
                        color:#ff5200
                        font-weight:700
                        font-size:30px
                    .text-span
                        color:#ff5200
                        font-weight: 700
                .price,.scort
                    .weui-cell
                        padding:10px 41px 0px 0px
                    .bao-icon
                        display: inline-block
                        height:20px
                        width:20px
                        background-size:20px 20px
                        background-repeat:no-repeat
                .price
                    .bao-icon
                        bg-image('img/bzj')
                        position:absolute
                        z-index:10
                        top:11px
                        right:7%
                .scort
                    .bao-icon
                        bg-image('img/cxf')
                        position:absolute
                        z-index:10
                        top:11px
                        right:7%
                .tag
                   .weui-cell
                    padding-left:0
                    padding-right:0
    .weui-flex
        .weui-flex__item
            .buttomadd
                position:relative
                color:#333
                font-size:16px
                padding:0 20px 0 0
                .icon-add_circles
                    display: inline-block
                    width:20px
                    height:20px
                    color:#4ec6ff   
                    position:absolute
                    top:9px
                    right:5px
                    bg-image('img/add')
                    background-size:20px 20px
                    background-repeat:no-repeat
            .buttomreduce
                position:relative
                color:#333
                font-size:16px
                padding:0 0 0 20px
                .icon-cancel-circles
                    display: inline-block
                    width:20px
                    height:20px
                    color:#4ec6ff   
                    position:absolute
                    top:9px
                    left:5px
                    bg-image('img/rm')
                    background-size:20px 20px
                    background-repeat:no-repeat             
    .forms
        padding:0px 15px
        .forms-item
            width:100%
            height:37px
            margin:10px 0px
            position:relative
            display: flex
            display: -webkit-flex
            display: -ms-flexbox
            .forms-input
                flex: 1
                -webkit-box-flex: 1
                -webkit-flex: 1
                border:1px solid #c0c0c0
                height:35px
                .weui-input
                    width:100%
                    height:100%
                    display:inline-block
            .forms-buttom
                height:37px
                margin-left:10px
                flex: 0 0 80px
                -webkit-box-flex: 0 0 80px
                -webkit-flex: 0 0 80px
                a

                
