// zhurenshifu
.zhurenmaster
   .margin-none
      margin-none()
      .label
         width:85px
   .weui-cell
      .weui-cell__bd
         .user-input
            width:80%
            height:23px