<div class='left' id='left'>
        <span class='btn text-elg text-orange hidden-lg hidden-md' style='position:absolute;z-index: 999;left:210px;' id='menu_btn'>
            <i class="fa fa-times hide text-orange" aria-hidden="true"></i>
            <i class="fa fa-bars text-orange" aria-hidden="true"></i>
        </span>
            <div class='row'>
                <div class='col-xs-12'>
                    <ul class="list-group">
                        <li class="list-group-item bg-orange text-center text-md">
                            <a href="">我得任务</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">我的钱包</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">地址管理</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">申请月结</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">交易记录</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">退款管理</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">投诉建议</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">帮组中心</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">账号安全</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">服务保障</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">消息中心</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">评价管理</a>
                        </li>
                        <li class="list-group-item text-center text-md">
                            <a href="">分享推荐</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>