<ul class="nav border-bax nav-pills text-center " id="DefineNavigationList">
    <li class="active hidden-xs">
        <a href="">全部<i>|</i></a>
    </li>
    <li class="style-width">
        <a href="">待定目标<i>|</i></a>
        &nbsp;

    </li>
    <li>
        <a href="">待付款<i>|</i></a>
    </li>
    <li>
        <a href="">待完工<i>|</i></a>
    </li>
    <li>
        <a href="">待验收<i>|</i></a>
    </li>
    <li>
        <a href="">待评价<i>|</i></a>

    </li>
    <li class="">
        <a href="">待结束</a>
    </li>
</ul>
<style>


</style>