{include file="public/header" }
<!-- 定义主题头部图片-->
<div class="main order_manage_client">
    <!--/*主题*/-->
    <div class="container" >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>我的订单</small>
            <span>>></span>
        </h5>
    </div>
    <!--定义主题-->
    <div class="container">
        <!--导航页面-->
        <div class="row The-test-panel-head">
            <form style="" name="admin_list_sea" class="form-search" method="post" action="__PUBLIC__orders/client">
                <div class="col-md-1 col-md-offset-6 hidden-xs line-height-30"> 我的订单</div>
                <div class="col-sm-4  col-xs-8 col-md-3  col-sm-offset-1 seek">
                    <input type="text" id="key" name="key" value="{$val}" placeholder="输入店铺位置和订单号" class="border-aspx-fff ml-3_media form-control mr-10 pl-20"/>
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <div class="col-xs-3 col-md-1 col-sm-2">
                    <a style="border: 1px solid #DDDDDD" id="sar" href="__PUBLIC__orders/client/suo" class="btn border-radius btn-orange border-5-gray-b" target="order">搜索</a>
                </div>
                <script>
                    var key_se;
                    $("#sar").click(function (e) {

                        key_se=$("#key").val();

                    })
                </script>
            </form>
        </div>
        <div class="row The-test-panel-body pl-10 pr-0_medai pr-10_md">
                <div class="row" id='navigatesRigth'>
                    <div class="col-md-12">
                        {include file="fenlei/nav" }
                    </div>

                    <div class="col-md-12" id="awe">
                        <iframe src="__PUBLIC__orders/client/quan" name="order" frameborder="0" width="100%" scrolling="no"></iframe>
                    </div>
                    <!--订单信息-->
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- 加载动画 -->
<div class="spiner-example">
    <div class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div>
    </div>
</div>
<script>
    $("#DefineNavigationList>li>a").click(function () {

        $(this).parent().siblings().removeClass('active');
        $(this).parent().addClass('active');
    })





</script>


{include file='public/footer'}

<script type="text/javascript">


</script>





