{include file="public/style_header" }

<!--/*标题*/-->

<div class='panel panel-orange' style="min-height:1000px;">
	<div class='panel-heading'>
		<div class='panel-title'>地址管理</div>
	</div>
	<div class='panel-body'>
        <form style="line-height: 40px" autocomplete="off" name="demoa" id="demoa" method="post" action="__PUBLIC__addlocation">
            <div class="row">
                <label for="name" class="col-xs-2">姓名：</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="name" name='name' placeholder="请输入姓名" value="">
                </div>
            </div>
                <div class="row">
                    <label for="phone" class="col-xs-2">电话：</label>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="phone" name='phone' placeholder="请输入" value="">
                    </div>
                </div>
            <div class="row">
                <label for="location" class="col-xs-2">详细地址：</label>
                <div class="col-xs-8">
                    <div class="row">
                        <div data-toggle="distpicker">
                            <div class="col-sm-4 mb-10 ">
                                <select data-province="" class="form-control" name="province" id="province10">
                                </select>
                            </div>
                            <div class="col-sm-4 mb-10">
                                <select data-city="" class="form-control" name="city" id="city10"></select>
                            </div>
                            <div class="col-sm-4 mb-10 ">
                                <select data-district="" class="form-control" name="district" id="district10"></select>
                            </div>
                            <div class="col-sm-12 mb-10">
                                <input type="text" name="location" class='form-control' id='location' placeholder="请输入您的详细信息~" value=''>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-sm-2 col-xs-6 col-sm-offset-4">
                            <input type="submit" class="btn border-radius btn-success" value="确认">
                        </div>
                        <div class="col-sm-2 col-xs-6">
                            <a class="btn border-radius btn-default" href="javascript:history.go(-1);">取消</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="__CITY__/distpicker.data.js"></script>
<script src="__CITY__/distpicker.js"></script>
<script src="__CITY__/main.js"></script>
<script>

    $(document).ready(function() {
        $('#demoa').ajaxForm({
            success: complete, // 这是提交后的方法
            dataType: 'json',
            beforeSubmit:function () {
                if( '' == $.trim($('#name').val())){
                    Tip('name','请填写用户名');
                    return false
                }
				if( '' == $.trim($('#phone').val())){
                     Tip('phone','请填写手机号');
                    return false;
                }
                if( !(/^1[34578]\d{9}$/.test($("#phone").val()))){
                    Tip('phone','手机号格式不正确');
                    return false;
                }
				if( '' == $.trim($('#province10').val())){
                    Tip('province10','请填写所在地区省');
					return false;
				}
				if( '' == $.trim($('#city10').val())){
                    Tip('city10','请填写所在地区市');
					return false;
				}
				if( '' == $.trim($('#district10').val())){
                    Tip('district10','请填写所在地区区');
					return false;
				}
				if( '' == $.trim($('#location').val())){
                    Tip('location','请填写详细地址·');
					return false;
				}
            }
        });
        function complete(data){
			if(data.code==200){
				 parent.layer.msg(data.msg, {icon: 6,time:1500}, function(index){
                 window.location.href='__PUBLIC__client_location';
                });
            }else{
               parent.layer.msg(data.msg, {icon: 5,time:1500});
                return false;   
            }
        }
    });
</script>