{include file="public/style_header" }
    <style>
        @media (max-width: 776px) {
            #DefineNavigationList{
               padding-left: 10px;
                text-align: left;
            }
            #DefineNavigationList li{
                display: inline-block;
                float: none;
                margin-bottom: 10px;
                width: 59px;
            }
            #DefineNavigationList li a{
                white-space:nowrap;
            }
            .layui-tab-card{
                margin-left: 5px;
            }
        }
		.btn{
			padding:5px 18px;
		}
    </style>
<div class="order_manage_master">
	<div class="" id='navigatesRigth' style="">
		<span hidden="hidden">{:session('id')}{:session('ds_username')}{:session('type')}{:session('openid')}</span>
		<form id="filterForm" name="form1" method="get" action="__PUBLIC__master/personalcenter">
			<input id="pid" type="hidden" value="" name="pid" to="__PUBLIC__master/personalcenter">
			<div class="layui-tab">
				<ul class="nav   text-center nav-pills" style="" id="DefineNavigationList">
					<li class="style-width ds-color">
						<a href="__PUBLIC__master/personalcenter" class="ds_a0">全部<i>|</i></a>
					</li>
					<li class="style-width ds-color">
						<a href="javascript:Filter('pid','1');" class="ds_a1">安装<i>|</i></a>
						&nbsp;
					</li>
					<li class="style-width ds-color">
						<a href="javascript:Filter('pid','2');"  class="ds_a2">维修<i>|</i></a>
						&nbsp;
					</li>
					
					<li class="style-width ds-color">
						<a href="javascript:Filter('pid','6');"  class="ds_a4">围板搭建<i>|</i></a>
					</li>
					<li class="style-width ds-color">
						<a href="javascript:Filter('pid','5');"  class="ds_a5">更换灯片<i>|</i></a>
					</li>
					
				</ul>
			</div>
		</form>
		<ul class="nav pt-10 pb-10" id="">
			<li class="pull-left">
				<img src="__PUBLIC__static/index/images/s1.png" class="img-responsive pull-left " alt=""/>
			</li>
			<li class=" pt-10 text-black ">
				最新预约单
			</li>
		</ul>
		<!--订单信息-->
		<table class="table  table-hover">
			<script id="list-template" type="text/html">
				{{# for(var i=0;i<d.length;i++){  }}
				<div class="panel panel-default">
					<div class="panel-heading">
						<div>
							<p>
								<span>服务项目:</span>
								<span>{{d[i].sname}}</span>
							</p>

							<span class="hidden-xs" style="float: right">订单号:{{d[i].order_number}}</span>
						</div>
					</div>
					<div class="panel-body">
						<div class="media">
						{{# if(d[i].service_type_id==2){ }}
							<div class="media-left">
                                <a href="__PUBLIC__one/{{d[i].d_id}}?dd=2" target="_blank"  class="w-h-img">
                                    <img src="__DsQINiu__{{d[i].m_img}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>
                                </a>
							</div>
							{{# }else if(d[i].service_type_id==1){ }}
							 <div class="media-left">
                                <a href="__PUBLIC__install_order/{{d[i].e_id}}?dd=2" target="_blank"  class="w-h-img">
                                    <img src="__DsQINiu__{{d[i].e_img}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>
                                </a>
							</div>
                            {{# }else if(d[i].service_type_id==5){ }}
                            <div class="media-left">
                                <a href="__PUBLIC__oneer/{{d[i].g_id}}?dd=2" target="_blank"  class="w-h-img">
                                    <img src="__DsQINiu__{{d[i].g_photo_store}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>
                                </a>
                            </div>
							{{# }else if(d[i].service_type_id==6){ }}
							 <div class="media-left">
                                <a href="__PUBLIC__coaming_detail/{{d[i].order_number}}?dd=2" target="_blank"  class="w-h-img">
                                    <img src="__DsQINiu__{{d[i].ms_img}}" class="img-circle"  onerror="this.src='__PUBLIC__static/index/images/ds_qiuqiu.png'"/>
                                </a>
							</div>
							{{# } }}
							<div class="media-body pt-20">
							{{# if(d[i].service_type_id==2){ }}
							
								<p>
									<span>客户名称：</span>
									{{# if(d[i].uname==null || d[i].uname==undefined){ }}
									
									{{# }else{ }}
									{{d[i].uname}}
									{{# } }}
								</p>
								<p>
									<span>施工地址：</span>{{d[i].full_location}}{{d[i].location_ext}}
								</p>
							</div>
							<div class="media-right text-center">
								<p>
									订单预估价
								</p>
								{{# if(d[i].d_budget==null || d[i].d_budget==undefined){ }}

								{{# }else{ }}
								￥{{d[i].d_budget}}
								{{# } }}
								<br/>
                           {{# }else if(d[i].service_type_id==1){ }}
						     <p>
									<span>客户名称：</span>
									{{# if(d[i].uname==null || d[i].uname==undefined){ }}
									
									{{# }else{ }}
									{{d[i].uname}}
									{{# } }}
								</p>
								<p>
									<span>施工地址：</span>{{d[i].full_location}}{{d[i].location_ext}}
								</p>
							</div>
							<div class="media-right text-center">
								<p>
									订单预估价
								</p>
								{{# if(d[i].e_budget==null || d[i].e_budget==undefined){ }}

								{{# }else{ }}
								￥{{d[i].e_budget}}
								{{# } }}
								<br/>
                                {{# }else if(d[i].service_type_id==5){ }}
                                <p>
                                    <span>客户名称：</span>
                                    {{# if(d[i].uname==null || d[i].uname==undefined){ }}
                                    
                                    {{# }else{ }}
                                    {{d[i].uname}}
                                    {{# } }}
                                </p>
                                <p>
                                    <span>施工地址：</span>{{d[i].full_location}}{{d[i].location_ext}}
                                </p>
                            </div>
                            <div class="media-right text-center">
                                <p>
                                    订单预估价
                                </p>
                                {{# if(d[i].e_budget==null || d[i].e_budget==undefined){ }}

                                {{# }else{ }}
                                ￥{{d[i].e_budget}}
                                {{# } }}
                                <br/>
						   {{# }else if(d[i].service_type_id==6){ }}
						        <p>
									<span>客户名称：</span>
									{{# if(d[i].uname==null || d[i].uname==undefined){ }}
									
									{{# }else{ }}
									{{d[i].uname}}
									{{# } }}
								</p>
								<p>
									<span>施工地址：</span>{{d[i].full_location}}{{d[i].location_ext}}
								</p>
							</div>
							<div class="media-right text-center">
								<p>
									订单预估价
								</p>
								{{# if(d[i].m_budget==null || d[i].m_budget==undefined){ }}

								{{# }else{ }}
								￥{{d[i].m_budget}}
								{{# } }}
								<br/>
						   {{# } }}
						   
						   
						   
						   
								{{# if(d[i].service_type_id==2){ }}
								<button type="button" class="btn btn-sm btn-orange ds_xian"   onclick="ds_xiadan('{{d[i].order_number}}');">抢单</button>
								{{# }else if(d[i].service_type_id==1){ }}
								<button type="button" class="btn btn-sm btn-orange ds_xian"   onclick="install_xiadan('{{d[i].order_number}}');">抢单</button>

                                {{# }else if(d[i].service_type_id==5){ }}
                                <button type="button" class="btn btn-sm btn-orange ds_xian"   onclick="gjmds_xiadan('{{d[i].order_number}}');">抢单</button>
								{{# }else if(d[i].service_type_id==6){ }}
								 <button type="button" class="btn btn-sm btn-orange ds_xian"   onclick="coaming_xiadan('{{d[i].order_number}}');">抢单</button>
								{{# } }}
								<input value="<?php echo $_SESSION['think']['id'] ?>" hidden id="ds_uid">

								<button type="button" class="btn btn-sm btn-orange kasa "  style="" num="{{d[i].order_number}}" onclick="ds_yz('{{d[i].order_number}}');">已抢单,等待客户选择</button>

							</div>
						</div>
					</div>
				</div>
				{{# } }}
			</script>
			<tbody id="list-content"></tbody>
		</table>
		<div id="AjaxPage" class="mt-20" style=" text-align: right;"></div>
	</div>
</div>

		<script src="__JS__/layer/layer.js"></script>
		<script src="__JS__/laypage/laypage.js"></script>
		<script src="__JS__/laytpl/laytpl.js"></script>
		<script src="__JS__/jquery.form.js"></script>
		<script src="__JS__/lunhui.js"></script>

		<script>
            function GetQueryString(name)
            {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if(r!=null)return  unescape(r[2]); return null;
            }
            var ks;
            function ds_yz(order_number,i){
                var order_number=order_number;
                var uid=$('#ds_uid').val();
                $.ajax({
                    url: '__PUBLIC__ajax/dspan',
                    dataType: 'json',
                    data: {
                        order_number:order_number,
                        uid:uid
                    },
                    type: 'post',
                    success: function(data) {
                        if (data.code == 200) {

                            $(ks[i]).remove();

                        } else {
                            $(ks[i]).siblings(".kasa").addClass("hidden");
                        }
                    },
                })
            }
		</script>
		<script type="text/javascript">
            //laypage分页
            Ajaxpage();
            var m;
            function Ajaxpage(curr){
                var pid=GetQueryString("pid");

                if(pid==null){
                    var key=$('#key').val();
                    $.getJSON('__PUBLIC__master/personalcenter', {page: curr || 1,key:key}, function(data){
                        $(".spiner-example").css('display','none'); //数据加载完关闭动画
                        if(data==''){
                            $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
                        }else{
                            var tpl = document.getElementById('list-template').innerHTML;
                            laytpl(tpl).render(data, function(html){
                                document.getElementById('list-content').innerHTML = html;
                                m=	$(".kasa");
                                ks=$(".ds_xian");

                                var ins=m.length;
                                for(var i=0;i<ins;i++){
                                    var th=$(m[i]).attr("num");
                                    ds_yz(th,i);
                                }
                            });
                            laypage({
                                cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                                pages:'{$allpage}',//总页数
                                skip: true,//是否开启跳页
                                skin: '#1AB5B7',//分页组件颜色
                                curr: curr || 1,
                                groups: 3,//连续显示分页数
                                jump: function(obj, first){
                                    if(!first){
                                        Ajaxpage(obj.curr)
                                    }
                                    $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                                }
                            });
                        }
                    });

                }else{
                    var key=$('#key').val();
                    $.getJSON('__PUBLIC__master/personalcenter?pid='+pid, {page: curr || 1,key:key}, function(data){
                        $(".spiner-example").css('display','none'); //数据加载完关闭动画
                        if(data==''){
                            $("#list-content").html('<td colspan="20" style="padding-top:10px;padding-bottom:10px;font-size:16px;text-align:center">暂无数据</td>');
                        }else{
                            var tpl = document.getElementById('list-template').innerHTML;
                            laytpl(tpl).render(data, function(html){
                                document.getElementById('list-content').innerHTML = html;
                                m=	$(".kasa");
                                ks=$(".ds_xian");
                                var ins=m.length;
                                for(var i=0;i<ins;i++){
                                    var th=$(m[i]).attr("num");
                                    ds_yz(th,i);
                                }
                            });
                            laypage({
                                cont: $('#AjaxPage'),//容器。值支持id名、原生dom对象，jquery对象,
                                pages:'{$allpage}',//总页数
                                skip: true,//是否开启跳页
                                skin: '#1AB5B7',//分页组件颜色
                                curr: curr || 1,
                                groups: 3,//连续显示分页数
                                jump: function(obj, first){
                                    if(!first){
                                        Ajaxpage(obj.curr)
                                    }
                                    $('#allpage').html('第'+ obj.curr +'页，共'+ obj.pages +'页');
                                }
                            });
                        }
                    });


                }

            }

function ds_xiadan(order_number){
	var order_number=order_number;
	$.ajax({
		url: '__PUBLIC__ajax/message',
		dataType: 'json',
		data: {
			order_number:order_number
		},
		type: 'post',
		success: function(data) {
			if (data.code == 200) {
				var url ='__PUBLIC__guestbook/'+order_number;
				top.location.href=url;
			}else if(data.code == 1){
				 parent.layer.msg(data.msg, {icon: 6,time:1500,shade:0});
				 return false;
			}else {
			  parent.layer.open({
				content: '您还未实名认证,是否前去认证'
				,btn: ['确认', '取消'],
				shade:0,
				offset:["150px"]
				,yes: function(index, layero){
					//按钮【按钮一】的回调
					window.open("__PUBLIC__approve");
				}
				,btn2: function(index, layero){
					//按钮【按钮二】的回调
					//return false 开启该代码可禁止点击该按钮关闭
				   
				}
	,cancel: function(){}});
	}
		},
	})
}
//更换灯片
function gjmds_xiadan(order_number){
var order_number=order_number;

	$.ajax({
		url: '__PUBLIC__ajax/message',
		dataType: 'json',
		data: {
			order_number:order_number
		},
		type: 'post',
		success: function(data) {
			if (data.code == 200) {
				var url ='__PUBLIC__gjmguestbook/'+order_number;
				top.location.href=url;
			}else if(data.code == 1){
				 parent.layer.msg(data.msg, {icon: 6,time:1500,shade:0});
				 return false;
			}else {
			    parent.layer.open({
				content: '您还未实名认证,是否前去认证'
				,btn: ['确认', '取消'],
				shade:0,
				offset:["150px"]
				,yes: function(index, layero){
					//按钮【按钮一】的回调
					window.open("__PUBLIC__approve");
				}
				,btn2: function(index, layero){
					//按钮【按钮二】的回调
					//return false 开启该代码可禁止点击该按钮关闭
				   
				}
	,cancel: function(){}});}
		},
	})
}
//安装
function install_xiadan(order_number){
	var order_number=order_number;
	$.ajax({
		url: '__PUBLIC__ajax/message',
		dataType: 'json',
		data: {
			order_number:order_number
		},
		type: 'post',
		success: function(data) {
			if (data.code == 200) {
				var url ='__PUBLIC__install_message_pairing/'+order_number;
				top.location.href=url;

			}else if(data.code == 1){
				 parent.layer.msg(data.msg, {icon: 6,time:1500,shade:0});
				 return false;
			}else {

			  parent.layer.open({
				content: '您还未实名认证,是否前去认证'
				,btn: ['确认', '取消'],
				shade:0,
			    offset:["150px"]
				,yes: function(index, layero){
					//按钮【按钮一】的回调
					window.open("__PUBLIC__approve");
				}
				,btn2: function(index, layero){
					//按钮【按钮二】的回调
					//return false 开启该代码可禁止点击该按钮关闭
				   
				}
	,cancel: function(){}});}
		},
	})
}
//围板搭建
function coaming_xiadan(order_number){
var order_number=order_number;

$.ajax({
	url: '__PUBLIC__ajax/message',
	dataType: 'json',
	data: {
		order_number:order_number
	},
	type: 'post',
	success: function(data) {
		if (data.code == 200) {
			var url ='__PUBLIC__coaming_message_pairing/'+order_number;
			top.location.href=url;

		}else if(data.code == 1){
				 parent.layer.msg(data.msg, {icon: 6,time:1500,shade:0});
				 return false;
		}else {

		    parent.layer.open({
			content: '您还未实名认证,是否前去认证'
			,btn: ['确认', '取消'],
			shade:0,
			offset:["150px"]
			,yes: function(index, layero){
				//按钮【按钮一】的回调
				window.open("__PUBLIC__approve");
			}
			,btn2: function(index, layero){
				//按钮【按钮二】的回调
				//return false 开启该代码可禁止点击该按钮关闭
			   
			}
,cancel: function(){}});}},
})
}
		</script>
<script>
	var pid=GetQueryString("pid");
	if(pid==1){
		$('.ds_a1').css("color","#FF5200")
	}else if(pid==2){
		$('.ds_a2').css("color","#FF5200")
	}else if(pid==4){
		$('.ds_a3').css("color","#FF5200")
	}else if(pid==6){
		$('.ds_a4').css("color","#FF5200")
	}else if(pid==5){
		$('.ds_a5').css("color","#FF5200")
	}else if(pid==3){
		$('.ds_a6').css("color","#FF5200")
	}else{
		$('.ds_a0').css("color","#FF5200")
	}

</script>
<script>
	$(function(){
		<?php
		if($_GET){
			echo 'var obj='.json_encode($_GET).';';
		}
			?>
		if(typeof(obj)!='undefined'){
			for(k in obj){
				$("#"+k).val(obj[k]);
				$("a["+k+"="+obj[k]+"]").parent().addClass("in").siblings().removeClass("in");
			}
		}
	})
</script>
<script>
	function Filter(a,b){
		var $ = function(e){return document.getElementById(e);}
		var ipts = $('filterForm').getElementsByTagName('input'),result=[];
		for(var i=0,l=ipts.length;i<l;i++){
			if(ipts[i].getAttribute('to')=='__PUBLIC__master/personalcenter'){
				result.push(ipts[i]);
			}
		}
		if($(a)){
			$(a).value = b;
			for(var j=0,len=result.length;j<len;j++){

				if(result[j].value=='' || result[j].value=='0'){
					result[j].parentNode.removeChild(result[j]);
				}
			}
			document.forms['filterForm'].submit();
		}
		return false;
	}
</script>
<script>
	$("#DefineNavigationList>li>a").click(function (e) {
		$(this).parent().siblings().removeClass('active');
		$(this).parent().addClass('active');
	})
	//师傅首页的侧边栏
	$('#master_type div span').eq(0).addClass('active');
	$('#master_type div span').click(function(){
		$(this).addClass('active').siblings().removeClass('active');
	});
	$('#left ul li').hover(function(){
		$(this).addClass('bg-orange').siblings('li').removeClass('bg-orange');

	},function(){
	});
	var menuShow = false;
	$('#menu_btn').click(function(){
		if(menuShow){
			$('#left').stop(true).animate({'left':'-'+200},1000);
			$(this).children('i').eq(1).removeClass('hide');
			$(this).children('i').eq(0).addClass('hide')
			menuShow = false;
		}else{
			$('#left').stop(true).animate({'left':0},1000);
			$(this).children('i').eq(1).addClass('hide');
			$(this).children('i').eq(0).removeClass('hide')
			menuShow = true;
		}
	});
	$(window).resize(function () {
		var wdiths=$(window).width();
		if(wdiths>776){
			$("#navigatesLeft .left").css('left','15px')
		}else{
			$("#navigatesLeft .left").css('left','-200px')
		}
	})

</script>