
{include file="public/style_header"}
<style type="text/css">
    .pingjiaUl{
        width: 100%;
        height: 40px;
        line-height: 20px;
        padding: 5px;
        overflow: hidden;
        border-bottom: 1px solid #ddd;
    }

    .pingjiaUl li{
        display: inline-block;
        width: 100px;
        color: #000;
        font-size: 14px;
    }
    .tab{
        
        margin: 10px;
        font-size: 12px;
        color: #666;
        background: #fff;
        line-height: 25px;
     
       
    }
    
    .tab-header .left{
        display: inline-block;
        width: 70%;
    }
    .tab-header .right{
        display: inline-block;
        width: 20%;
        color: #ff5200;
        font-size: 16px;
        text-align: right;
    }
    .tab-text span{
        display: inline-block;
        width: 120px;

    }
    .tab-h{
        font-size: 16px;
        color: #333;
    }
    .tab-img{
        height: auto;
        margin-top: 10px;
    }
    .tab-img .img{
        display: inline-block;
        width: 100px;
        margin: 10px 10px 20px 10px;
        height: 60px;
    }
    .heights{
        background: #ddd;
        height: 10px;
        width: 100%;
    }
</style>
<div class="panel panel-orange">
	<div class="panel-heading">
		<div class="panel-title">评价管理</div>
	</div>
	<div class="panel-body" style="line-height: 3">
		  <div class="pingjiaUl">
            <ul>
                 <li>
                     <span>筛选:</span>
                 </li>
                 <li>
                     <input type="radio" name="pingjia" id="quanbu">
                     <label for="quanbu">全部</label>
                 </li>
                 <li>
                      <input type="radio" name="pingjia" id="hao">
                     <label for="hao">好评(266)</label>
                 </li>
                 <li>
                      <input type="radio" name="pingjia" id="zhong">
                     <label for="zhong">中评(266)</label>
                 </li>
                 <li>
                      <input type="radio" name="pingjia" id="cha">
                     <label for="cha">差评(266)</label>
                 </li>
            </ul>      
          </div>
          <div class="tab">
              <div class="tab-header">
                  <div class="left">
                    <span> 赵四(客户)</span>
                          <span>x</span>
                           <span>x</span>
                            <span>x</span>
                             <span>x</span>
                              <span>x</span>
                      <span> 2017-10-20</span>
            
                  </div>
                  <div class="right">
                      <span  class="text">
                          安装
                      </span>
                  </div>
              </div>
              <div class="tab-h">
                  <span>信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息信息</span>
              </div>
              <div class="tab-text">
                  <span>质量好(非常好)</span>
                  <span>态度(非常好)</span>
                  <span>速度(非常好)</span>
              </div>
              <div class="tab-img">
                  <div class="img">
                      <img src="http://192.168.0.252/static/index/images/logolong.png">
                  </div>
                  <div class="img">
                      <img src="http://192.168.0.252/static/index/images/logolong.png">
                  </div>
                  <div class="img">
                      <img src="http://192.168.0.252/static/index/images/logolong.png">
                  </div>
                  <div class="img">
                      <img src="http://192.168.0.252/static/index/images/logolong.png">
                  </div>
                  <div class="img">
                      <img src="http://192.168.0.252/static/index/images/logolong.png">
                  </div>
                  <div class="img">
                      <img src="http://192.168.0.252/static/index/images/logolong.png">
                  </div>
                  <div class="img">
                      <img src="http://192.168.0.252/static/index/images/logolong.png">
                  </div>
              </div>
              <div class="heights"></div>
              
          </div>

	
		
	</div>
</div>

