<!--nav-->
{include file="public/header" }
<div class="main">
  
    <!-- 面包屑导航-->
    <div class="container">
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>学习页面</small><span>>></span>
        </h5>
        <!-- 左边框-->
        <div class="row mt-10  acquire_knowledge" id="navigatesLeft">
                <div class="clo-xs-12 ml-10_media mr-10_media " id='navigatesRigth'>
                    <div class="panel panel-default height ">
                        <div class="panel-heading ">
                            <a href="">
                                回顾知识点页面&gt;&gt;
                            </a>
                        </div>
                        <div class="panel-body">
                            <h1 class="text-center">木工基本知识</h1>
                            <p class="text-indent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, commodi corporis debitis dignissimos ea eum ipsam nobis nulla omnis, recusandae similique, tenetur ullam vel? Dignissimos incidunt porro praesentium sunt tempora.</p>
                            <p class="text-indent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error placeat, voluptatibus! Aliquid dolor eum fuga fugiat, harum illum, laudantium numquam, quidem repellendus sed vitae voluptatem. Accusantium ipsum rerum tempore? Nemo!</p>

                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
<script>

</script>
{include file='public/footer'}