{include file='public/header'}
<div class="main">
   <div class="container">
   	   <div class='header'>
   	   	   <h5 class="page-header bx">
   	   	   	   <span>当前所在的位置</span>
   	   	   	   <span>>></span>
   	   	   	   <span>平台估价</span>
   	   	   </h5>
   	   </div>
   	   <div class="row">
   	   	    <div class="col-md-12">
   	   	    	<div class="panel panel-orange">
   	   	    		<div class="panel-heading">
   	   	    			<div class="panel-title">
   	   	    				<p class="panel-title-p">请确认你的订单</p>
   	   	    			</div>
   	   	    		</div>
   	   	    		<!-- <div class="row">
   	   	    			<div class="col-md-12"> -->
   	   	    			<div class="panel-body"> 
   	   	    			<div class='row'>
		            	  <div class='col-md-8 col-md-offset-2'>
   	   	    				<div class="content" style="margin-top:2em;">
   	   	    				   <table class='table table-hover table-bordered table-responsive  table-striped'>
   	   	    				       <tr>
   	   	    				       	  <td>勘测商品类型</td><td>××××××××××</td>
   	   	    				       </tr>
   	   	    				       <tr>
   	   	    				       	  <td>勘测面积</td><td>×××平方米</td>
   	   	    				       </tr>
   	   	    				       <tr>
   	   	    				       	  <td>空间高度</td><td>×××米</td>
   	   	    				       </tr>
   	   	    				   	   <tr>
   	   	    				       	  <td>施工时间</td><td>白天</td>
   	   	    				       </tr>
   	   	    				   	   <tr>
   	   	    				       	  <td>完工期限</td><td>2017年6月20日18:00</td>
   	   	    				       </tr>
   	   	    				   	    <tr>
   	   	    				       	  <td>店铺地址</td><td>×××市×××区×××路</td>
   	   	    				       </tr>
   	   	    				   	   <tr>
   	   	    				       	  <td>联系人</td><td>张三</td>
   	   	    				       </tr>
   	   	    				   	    <tr>
   	   	    				       	  <td>联系号码</td><td>183×××××1044</td>
   	   	    				       </tr>
   	   	    				   	   <tr>
   	   	    				       	  <td>邮箱</td><td>××××××××××</td>
   	   	    				       </tr>
   	   	    				   	    <tr>
   	   	    				       	  <td>特殊要求</td><td>×××××××××××××××</td>
   	   	    				       </tr>
   	   	    				   </table>
   	   	    				   <div class="content2">
   	   	    				   	  <span>总价为&nbsp;:&nbsp;×××××元</span>
   	   	    				   </div>
                            </div>
   	   	    			</div>
   	   	    		</div> 
   	   	    	</div>
   	   	    </div>
   	   </div>
   	   <div class="submit text-center">
   	   	   <label class="btn btn-info" style="background: green;padding:0.5em 3em;border-radius: 7%;
   	   	   margin-top:1em">
   	   	   	    <span>去付款</span>
   	   	   </label>
   	   </div>
   </div>
</div>
</div>

{include file='public/footer'}