
{include file="public/header" }
<div class="main change_payment_method">
 
    <div class="container pr-0-media pl-0_media">

        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>我的钱包</small><span>>></span>
        </h5>


        <div class="panel panel-default">

                <div class="panel-heading" style="color: #1d9d74">

                    <p class="h4">更换付款方式</p>
                </div>
                <div class="panel-heading text-center">
                    <h3 class="mb-10 h5">项目总价</h3>
                    <p class="h3">1222元</p>
                </div>
                <div class="panel-heading" >
                    <div class="row">
                        <div class=" col-xs-4 h4 line-height-40">
                            <img src="__PUBLIC__static/index/images/qianbaohong.png" title="qianmaotubiao.jpg" style="width: 60px;height: 60px;display: inline-block;margin-left: 0px;" alt="">
                            <span>领钱(￥剩余</span><span id="z">1200</span>)
                        </div>
                        <div class=" col-xs-8 text-right">
                            <input type="radio" name="b" class="mr-30">
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="row">
                        <div class=" col-xs-4 h4 line-height-40">
                            <img src="__PUBLIC__static/index/images/gongshang.png" title="qianmaotubiao.jpg" style="width: 40px;height: 40px;display: inline-block;margin-left: 8px;" alt="">
                            <span>中国银行(￥剩余</span><span id="z">1200</span>)
                        </div>
                        <div class=" col-xs-8 text-right">
                            <input type="radio" name="b" class="mr-30">
                        </div>
                    </div>
                </div>
                <div class="panel-heading pb-20 pt-20 b" >
                    <img src="__PUBLIC__static/index/images/jia.png" title="qianmaotubiao.jpg" style="width: 30px;height: 30px;display: inline-block;margin-left: 0px;" alt="">
                    <input type="button" value="添加新卡支付" style="width: 150px;" class="btn text-left border-radius">
                </div>
        </div>

    </div>
</div>
<script>

    $(function () {

    })
</script>
{include file="public/footer" }