
{include file="public/header" }
<div class="main choose_the_payment">
  
    <div class="container pr-0-media pl-0_media">

        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>我的钱包</small><span>>></span>
        </h5>
        <div class="panel panel-default">
            <div class="panel-heading" >
                        <div class="row">
                            <div class="col-md-1 col-xs-4">
                                <a href="">x</a>
                                <img src="__PUBLIC__static/index/images/mima.jpg" title="mima.jpg" style="width: 40px;height: 40px;display: inline-block;margin-left: 10px" alt="">
                            </div>
                            <div class="col-md-9 col-xs-8 mt-10">
                                请输入支付密码
                            </div>
                        </div>
                    </div>
            <div class="panel-heading text-center">
                <h3 class="mb-10 h5">项目总价</h3>
                <p class="h3">1222元</p>
            </div>
            <div class="panel-heading" >
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img src="__PUBLIC__static/index/images/qianbaotubiao.png" title="qianmaotubiao.jpg" style="width: 40px;height: 40px;display: inline-block;margin-left: 0px;margin-top: 5px" alt="">
                        <a href="">领钱</a>
                    </div>
                    <div class="col-md-10 col-xs-8 text-right mt-10">

                        <img src="__PUBLIC__static/index/images/v.jpg" title="qianmaotubiao.jpg" style="width: 40px;height: 40px;display: inline-block;margin-left: 0px" alt="">
                    </div>
                </div>
            </div>
            <div class="panel-heading text-center input_suru">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
                <input type="text">
            </div>
            <div class="panel-heading text-center">
                <input type="button" value="确认" style="width: 150px;" class="btn border-radius btn-blue">
            </div>

        </div>
    </div>
</div>
{include file="public/footer" }