<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main choose_director_master">


    <div class="container mr-0_medai ml-0_medai pl-0_media pr-0-media" >
        <h5 class="page-header pl-10 bx">
            <span>当前位置：</span>
            <small>挑选主任师傅</small>
            <span>>></span>
        </h5>
    </div>
    <!--/*主题*/-->
    <div class="container ">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 ">挑选主任师傅咨询</div>
        </div>
        <div class="row The-test-panel-body pb-30 pl-0 pr-0">
            <div class="col-md-12">
                <!--挑选师傅-->
                <div class="row pb-30 border-bottom-1">
                    <!--挑选师傅按钮-->
                    <div class="col-xs-6 col-md-2 mb-10">
                        <a class="btn btn-success form-control">挑选主任师傅 </a>
                    </div>
                    <form action="" id="defaultForm">
                        <!--表单-->
                        <div class="col-xs-8">
                            <div class="form-group row">
                                <div class="col-xs-12">
                                    <input type="text" id="job_number" name="job_number" class="form-control" value="师傅工号1号">
                                </div>
                            </div>
                        </div>
                        <!--验证-->
                        <div class="col-xs-2">
                            <button class="btn btn-default" id="verification">验证</button>
                        </div>
                        <!--文字-->
                        <div class="col-xs-12 mt-20 mb-20">
                            <p>注：如果知道师傅工号可以直接输入工号。
                                如果采用平台月结方式，必须选用平台签约师傅</p>

                        </div>
                    </form>

                </div>
                <!--服务保障-->
                <div class="row">
                    <div class="col-md-12 pl-50">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <img src="__PUBLIC__static/index/images/u17.png" class="img-responsive " alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <!--下一步咨询-->
                <div class="row mt-40">
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn btn-default form-control" id="the_next_step_consultation">下一步咨询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#defaultForm').bootstrapValidator({
        message: '这个值是无效的.',
        feedbackIcons: { /*input状态样式图片*/
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            job_number: {
                message: '师傅工号',
                validators: {
                    notEmpty: {
                        message: '师傅工号不能为空'
                    },
                    stringLength: {
                        min: 1,
                        max: 24,
                        message: '最大长度24位最小长度1位',
                    }
                }
            }

        }
    });
    $('input').focus(function () {
        $('#defaultForm').bootstrapValidator('validate');
        $("i.form-control-feedback").remove();
    })
</script>
{include file="public/footer" }