<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main client_consult_director_master">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>

    <div class="container pr-0-media pl-0_media" >
        <h5 class="page-header pl-10 bx">
            <span>当前位置：</span>
            <small>咨询主任师傅</small>
            <span>>></span>
        </h5>
    </div>
    <!--/*主题*/-->
    <div class="container pl--1_medai   ">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 text-center">主任师傅工号 :<span>xxxxxx</span></div>
        </div>
        <form action="" class="layui-form">
        <div class="row The-test-panel-body pb-30 pr-0">
            <div class="col-md-12 ">
                <!--主任师傅-->
                <div class="row pb-30 ">
                    <!--挑选师傅按钮-->
                    <div class="col-xs-4  col-md-2 mb-10">
                        <a href="">
                            <img src="__PUBLIC__static/index/images/banner.jpg" class="media-img img-responsive " alt=""/>
                        </a>
                    </div>
                    <!--表单-->
                    <div class="col-sm-8 col-xs-7">
                       <div class="row">
                           <div class="col-md-6">
                               <select class="form-control" id="">
                                   <option value="">需要线核名订单</option>
                                   <option value="">需求明确，师傅给出价格</option>
                               </select>
                           </div>
                       </div>
                        <div class="row">
                            <div class="col-md-3 mt-30">
                                <input type="checkbox">
                                需要添加师傅
                            </div>
                        </div>
                        <!--建议师傅个数-->
                        <div class="row mt-20 form-group">
                            <label class="col-md-2 mt-10">建议师傅个数</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <!--表格-->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>项目</td>
                            <td>项目报价</td>
                            <td>项目详情</td>
                         </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td  class="pt-20">项目一</td>
                            <td class="pt-20">xxxxxx</td>
                            <td >
                                <a href="" class="btn btn-default border-radius">项目详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td  class="pt-20">项目一</td>
                            <td class="pt-20">xxxxxx</td>
                            <td >
                                <a href="" class="btn btn-default border-radius">项目详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td  class="pt-20">项目一</td>
                            <td class="pt-20">xxxxxx</td>
                            <td >
                                <a href="" class="btn btn-default border-radius">项目详情</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--总价-->
                <div class="row border-bottom-1">
                    <div class="col-md-12 mb-10 mt-10">
                        总价<span class="zongjia">xxxx元</span>
                    </div>
                </div>
                <!--聊天-->
                <div class="row mt-40">
                    <div class="col-md-12  pl-30   pr--1_medai pr-30">
                        <div id="chitchat" style="border: 1px solid #dddddd">
                            <div id="convo" data-from="Sonu Joshi">
                                <ul class="chat-thread border-bottom-1">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li>I was thinking after lunch, I have a meeting in the morning</li>
                                    <li>Are we meeting today?</li>
                                    <li>yes, what time suits you?</li>
                                    <li>I was thinking after lunch, I have a meeting in the morning</li>
                                    <li>Are we meeting today?</li>
                                    <li>yes, what time suits you?</li>
                                    <li>I was thinking after lunch, I have a meeting in the morning</li>
                                </ul>
                            </div>
                            <div style="text-align:center;clear:both">
                        </div>
                        <div style="border-top: none" class="row  ml-0 mr-0 pt-30 pb-30 form-group">
                            <label class="col-md-2 col-sm-3 mt-10 text-orange text-right">给师父的意见</label>
                            <div class="col-md-8 col-sm-6 mb-10">


                                        <select name="modules" lay-verify="required" lay-search="">
                                            <option value="">直接选择或搜索选择</option>
                                            <option value="1">layer</option>
                                            <option value="2">form</option>
                                            <option value="3">layim</option>
                                            <option value="4">element</option>
                                            <option value="5">laytpl</option>
                                            <option value="6">upload</option>
                                            <option value="7">laydate</option>
                                            <option value="8">laypage</option>
                                            <option value="9">flow</option>
                                            <option value="10">util</option>
                                            <option value="11">code</option>
                                            <option value="12">tree</option>
                                            <option value="13">layedit</option>
                                            <option value="14">nav</option>
                                            <option value="15">tab</option>
                                            <option value="16">table</option>
                                            <option value="17">select</option>
                                            <option value="18">checkbox</option>
                                            <option value="19">switch</option>
                                            <option value="20">radio</option>
                                        </select>


                            </div>
                            <div class="col-md-2 col-sm-3 mb-10">
                                <input value="发送" type="button " class="btn btn-orange form-control border-radius">
                            </div>
                            <div class="row">
                                <div class="col-md-2 mb-10 col-xs-6 col-sm-4 col-sm-offset-4 col-xs-offset-1 col-md-offset-4 mt-20">
                                    <input type="button" value="付费咨询" class="btn  btn-orange form-control border-radius">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--按钮-->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <input type="button" class="btn consultation border-radius btn-default" value="重选主任师傅">
                    </div>
                    <div class="col-md-12 text-center">
                        <input type="button" class="btn consultation border-radius btn-default" value="增加主任师傅">
                    </div>
                    <div class="col-md-12 text-center">
                        <input type="button" class="btn consultation border-radius btn-orange" value="提交订单，去结算">
                    </div>
                </div>
            </div>
            <div class="row">
            </div>

        </div>
    </div>
        </form>
</div>
    </div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form()
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        form.render();
        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });


    });
</script>
{include file="public/footer"}