{include file="public/header"}
<!-- header -->
	<!--main-->
	<div class='main'>
		<div class='header-img'>
			<img src="__PUBLIC__static/index/images/banner2.jpg" class='img-responsive' title='logo'>
		</div>
        <div class='container'>
            <h5 class="page-header bx">
                <span>当前位置：</span>
                <small>评价师傅</small><span>>></span>
            </h5>
            <div class='panel panel-orange'>
	            <div class='panel-heading'>
	            	<div class="panel-title">
	            		<span>师傅信息</span>
	            	</div>
	            </div>
	            <div class='panel-body mb-50'>
	            <form action="">
	            	<div class='row mt-20'>
						<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
							<div class="row">
								<div class="col-sm-3">
									<label class='control-label'>师傅表现:</label>
								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-xs-4 col-sm-3 p-0">
											<div class="radio radio-danger ">
				                                <input type="radio" name="evaluate" id="good" value="1" >
				                                <label for="good">
				                                    <img src='static/index/images/satisfaction3.png' width='30px' style='position:absolute;top:-10px;left: -2px;'><span style='margin-left: 22px;'>满意</span>
				                                </label>
				                            </div>
										</div>
										<div class="col-xs-4 col-sm-3 p-0">
											<div class="radio radio-warning">
				                                <input type="radio" name="evaluate" id="ordinary" value="1" >
				                                <label for="ordinary">
				                                    <img src='static/index/images/satisfaction.png' width='30px' style='position:absolute;top:-10px;left: -2px;'><span style='margin-left: 22px;'>一般</span>
				                                </label>
				                            </div>
										</div>
										<div class="col-xs-4 col-sm-3 p-0">
											<div class="radio radio-">
				                                <input type="radio" name="evaluate" id="yawp" value="1" >
				                                <label for="yawp">
				                                    <img src='static/index/images/satisfaction2.png' width='30px' style='position:absolute;top:-10px;left: -2px;'><span style='margin-left: 22px;'>不满意</span>
				                                </label>
				                            </div>
										</div>
									</div>
								</div>
							</div>

							<div class="row  mt-20">
								<div class="col-sm-3">
									<label class='control-label'>留言:</label>
								</div>
								<div class="col-sm-9 pl-0">
									<textarea class='form-control' rows='10'></textarea>
								</div>
							</div>

							<div class="row mt-20">
								<div class="col-sm-3 col-xs-6">
									<label class='control-label'>师傅的服务态度:</label>
								</div>
								<div class="col-sm-9 col-xs-6">
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star-half-o" aria-hidden="true"></i></span><!-- 半星 -->
									<span class=''><i class="fa fa-star-o" aria-hidden="true"></i> </span><!-- 空星 -->
								</div>
							</div>

							<div class="row mt-20">
								<div class="col-sm-3 col-xs-6">
									<label class='control-label'>师傅的工作质量:</label>
								</div>
								<div class="col-sm-9 col-xs-6">
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star-half-o" aria-hidden="true"></i></span><!-- 半星 -->
									<span class=''><i class="fa fa-star-o" aria-hidden="true"></i> </span><!-- 空星 -->
								</div>
							</div>

							<div class="row mt-20">
								<div class="col-sm-3 col-xs-6">
									<label class='control-label'>师傅的工作速度:</label>
								</div>
								<div class="col-sm-9 col-xs-6">
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange '><i class="fa fa-star-half-o" aria-hidden="true"></i></span><!-- 半星 -->
									<span class=''><i class="fa fa-star-o" aria-hidden="true"></i> </span><!-- 空星 -->
								</div>
							</div>
							<div class='row mt-20'>
								<div class="col-xs-6 col-xs-offset-2 col-sm-6 col-sm-offset-3">
									<input type="button" name="" class='btn btn-orange w-b' value='确认评价'>
								</div>

								<div class="col-xs-3 col-sm-1">
									<i class=''><img src="__PUBLIC__static/index/images/give.png" alt=""></i>
								</div>
							</div>

						</div>
					</div>
	            </form>
				</div>
			</div>
			<div class='row'>
				<div class='col-xs-4 col-xs-offset-7 col-sm-1 col-sm-offset-11'>
					<span onclick="window.history.go(-1);" class='text-orange' style='cursor:pointer'>返回>></span>	
				</div>
			</div>
		</div>
	</div>
	<!--main end-->

	<!-- ===============================================
    ============== Page Specific Scripts ===============
    ================================================ -->

	<script>
	$(document).ready(function(){});

	</script>
	<!--/ Page Specific Scripts -->
<!-- footer -->
{include file="public/footer"}
<!-- footer end-->
