{include file="public/header"}
<!-- header -->
	<!--main-->
	<div class='main'>
		<div class='header-img'>
			<img src="__PUBLIC__static/index/images/banner2.jpg" class='img-responsive' title='logo'>
		</div>
        <div class='container'>
            <h5 class="page-header bx">
                <span>当前位置：</span>
                <small>签约登记</small><span>>></span>
            </h5>
            <div class='panel panel-orange'>
            <div class='panel-heading'>
            	<div class="panel-title">
            		<span>平台客户签约登记</span>
            	</div>
            </div>
            <div class='panel-body'>
			<form id='form' class='form-horizontal' method="post" enctype="multipart/form-data">
				<div class='row mt-20'>
					<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
						<div class='form-group'>
							<div class='col-xs-12 col-sm-3'>
								<label for='real-name' class='control-label'>管理人姓名</label>
							</div>
							<div class='col-xs-12 col-sm-9'>
								<input type="text" name="real_name" class="form-control" placeholder="请输入管理人姓名" id="real-name" value="" />
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
						<div class='form-group'>
							<div class='col-xs-12 col-sm-3'>
								<label for='cert_id' class='control-label'>身份证号码</label>
							</div>
							<div class='col-xs-12 col-sm-9'>
								<input type="text" name="cert_id" class="form-control" placeholder="请输入您的身份证号码" id="cert_id" value="" />
							</div>
						</div>
					</div>
				</div>
				<div class='row'>
					<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
						<div class='form-group'>
							<div class='col-xs-12 col-sm-3'>
								<label for='credit-card' class='control-label'>手机号码</label>
							</div>
							<div class='col-xs-12 col-sm-9'>
								<input type="text" name="credit_card" class="form-control" placeholder="请输入您的手机号码" id="credit-card" value="" />
							</div>
						</div>
					</div>
					<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
						<div class='form-group'>
							<div class='col-xs-12 col-sm-3'>
								<label for='credit-card-phone' class='control-label'>验证码</label>
							</div>
							<div class='col-xs-12 col-sm-9'>
								<div class='input-group'>
									<input type="text" name="credit_card_phone" class="form-control" placeholder="请输入您的验证码" id="credit-card-phone" value="" />
									<span class='btn btn-default input-group-addon'>发送</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-20">
					<div class='col-sm-8 col-sm-offset-2 mb-30'>

						<label for='idImg' class='control-label btn btn-info'><i class='glyphicon glyphicon-plus'></i>证件正面</label>
						<div class='row'>
							<div class='col-xs-12 col-sm-6'>
								<input type="file" accept="image/*" name='idImgmust1' class=' fileInput o1 hide' id="idImg" value="" />
								<input type="hidden" name="id_front" class='hide idImg1' value="" />
							</div>
							<div class='col-xs-12 col-sm-6'>
								<img src="__PUBLIC__static/index/images/ID1.png" alt="" class="img-responsive img-thumbnail">
							</div>
						</div>
					</div>

					<div class='col-sm-8 col-sm-offset-2 col-xs-12 mb-30'>
						<label for='idImg2' class='control-label btn btn-info'><i class='glyphicon glyphicon-plus'></i>证件反面</label>
						<div class='row'>
							<div class='col-xs-12 col-sm-6'>
								<input type="file" accept="image/*" name='idImgmust2' class=' fileInput o2 hide' id="idImg" value="" />
								<input type="hidden" name="id_front" class='hide idImg2' value="" />
							</div>
							<div class='col-xs-12 col-sm-6'>
								<img src="__PUBLIC__static/index/images/ID2.png" alt="" class="img-responsive img-thumbnail">
							</div>
						</div>
					</div>

					<div class='col-sm-8 col-sm-offset-2 col-xs-12 mb-30'>
						<label for='idImg3' class='control-label btn btn-info'>
							<i class='glyphicon glyphicon-plus'></i>
							手持证件图
						</label>
						<div class='row'>
							<div class='col-xs-12 col-sm-6'>
								<input type="file" accept="image/*" name='idImgmust3' class=' fileInput o3 hide' id="idImg" value="" />
								<input type="hidden" name="id_front" class='hide idImg3' value="" />
							</div>
							<div class='col-xs-12 col-sm-6'>
								<img src="__PUBLIC__static/index/images/ID3.png" alt="" class="img-responsive img-thumbnail">
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class='row'>
					<div class='col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 '>
						<a href='company_approve.html' class='btn btn-default w-b'>公司信息认证</a>
					</div>
				</div>
				<hr>

				<div class='row mt-20'>
					<div class='col-md-12'>
						<div class='well height-400 over-s'>
							<p>
								协议
							</p>
						</div>
					</div>
				</div>
				<div class='form-group'>
					<div class='col-xs-12'>
						<div class="checkbox">
	                            <input type="checkbox" name="acceptTerms" class='styled' id="acceptTerms" /> 
							<label for='acceptTerms' class=''>
	                            我已全部阅读，我同意协议
	                        </label>
						</div>
					</div>
				</div>

				<div class='row mt-30'>
					<div class='col-xs-3 col-xs-offset-8'>
						<input class='btn btn-info btn-sm' type='button' id='submit' value="申请审核">
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>
	<!--main end-->

	<!-- ===============================================
    ============== Page Specific Scripts ===============
    ================================================ -->

	<script>
	$(document).ready(function(){
		$('#form').bootstrapValidator({
			message: '这个值是无效的.',
			feedbackIcons: { /*input状态样式图片*/
				valid: 'glyphicon glyphicon-ok',
				invalid: 'glyphicon glyphicon-remove',
				validating: 'glyphicon glyphicon-refresh'
			},
			fields: {
				real_name: {
					message: '真实姓名!',
					validators: {
						notEmpty: {
							message: '真实姓名不能为空！'
						},
						stringLength: {
							min: 2,
							message: '真实姓名不能为空必须大于2位！',
						},
					}
				},
				cert_id: {
					message: '身份证!',
					validators: {
						notEmpty: {
							message: '身份证不能为空！'
						},
						stringLength: {
							min: 15,
							max: 18,
							message: '身份证号必须是15到18位！',
						},
						regexp: {
							regexp: /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/,
							message: '身份证格式不正确！'
						}
					},
				},
				credit_card: {
					message: '银行卡号!',
					validators: {
						notEmpty: {
							message: '银行卡号不能为空！'
						},
						regexp: {
							regexp: /^(\d{16}|\d{19})$/,
							message: '银行卡号格式不正确',
						},
					},
				},
				credit_card_phone: {
					message: '手机验证失败!',
					validators: {
						notEmpty: {
							message: '手机不能为空！'
						},
						stringLength: {
							min: 11,
							max: 11,
							message: '手机长度必须是11位！',
						},
						regexp: {
							regexp: /^1[34578]{1}\d{9}$/,
							message: '手机号格式不正确！'
						},
					},
				},
				idImgmust1: {
					validators: {
						notEmpty: {
							message: '请上传身份证图片！！'
						}
					}
				},
				acceptTerms: {
					validators: {
						notEmpty: {
							message: ' '
						}
					}
				},

			}
		});

		

		$('.o1').on('fileloaded', function(event, file, previewId, index, reader) {
			var base = reader.result;
			var filename1 ='id_front';
			$.ajax({
				url: '',
				type: 'POST',
				dataType: 'json',
				data: {
					file_data: base,
					folder_id: 1,
					time: timestamp,
					file_id:filename1
				},
				success: function(response) {

					if(response.type == "success") {
						var img_url = response.image_uri;

						$('.idImg1').val(img_url)
					}
					
				},
				error: function(response) {

				}
			});
		});
		$('.o2').on('fileloaded', function(event, file, previewId, index, reader) {
			var base = reader.result;
			var filename2 ='id_reverse';
			$.ajax({
				url: '',
				type: 'POST',
				dataType: 'json',
				data: {
					file_data: base,
					folder_id: 1,
					time: timestamp,
					file_id:filename2
				},
				success: function(response) {

					if(response.type == "success") {
						var img_url = response.image_uri;
						$('.idImg2').val(img_url)
					}
				},
				error: function(response) {

				}
			});
		});
		$('.o3').on('fileloaded', function(event, file, previewId, index, reader) {
			var base = reader.result
			var filename3 ='id_hand';
			$.ajax({
				url: '',
				type: 'POST',
				dataType: 'json',
				data: {
					file_data: base,
					folder_id: 1,
					time: timestamp,
					file_id:filename3
				},
				success: function(response) {
					if(response.type == "success") {
						var img_url =response.image_uri;
						$('.idImg3').val(img_url)
					}
				},
				error: function(response) {

				}
			});
		});
		img('o1',1);
		img('o2',1);
		img('o3',1);  
		$('.fileInput').change(function(){
			$(this).parent('div').siblings('div').addClass('hide');
		});
		$('#submit').on('click', function() {
			var real_name = $("#form input[name=real_name]").val();
			var cert_id = $("#form input[name=cert_id]").val();
			var credit_card = $("#form input[name=credit_card]").val();
			var credit_card_phone = $("#form input[name=credit_card_phone]").val();
			var id_front = $("#form input[name=id_front]").val();
			var id_reverse = $("#form input[name=id_reverse]").val();
			var id_hand = $("#form input[name=id_hand]").val();
			if(id_front != "" && id_reverse != "" && id_hand != "") {
				$.ajax({
					url: '',
					type: 'POST',
					dataType: 'json',
					data: {
						real_name: real_name,
						cert_id: cert_id,
						credit_card: credit_card,
						credit_card_phone: credit_card_phone,
						id_front: id_front,
						id_reverse: id_reverse,
						id_hand: id_hand,
					},
					success: function(response) {
						if(response.type == "success") {
							window.location.href = "";
						}
						
					},
					error: function(response) {
						
					}
				});
			} else {
				
			}
		});
		});

		
	</script>
	<!--/ Page Specific Scripts -->
<!-- footer -->
{include file="public/footer"}
<!-- footer end-->
