<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main exam_select">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>

    <div class="container " >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>木工定级考试</small>
            <span>>></span>
        </h5>
        </div>
    <!--/*主题*/-->
    <div class="container   mr--1_medai ml--1_medai">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 ">选择你想参加的考试类型</div>
        </div>

        <div class="row The-test-panel-body">

            <div class=" col-xs-12 col-sm-3 col-md-2  Panel-face ">
                <i class="fa user-circle"></i>
                <span>木工等级：初级学徒</span>
            </div>
            <div class="col-md-10 col-xs-5  Subject-to-the-right-panel">
                <div class="row">
                    <div class="h5 col-md-12 text-or">平台考试：初级</div>

                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12">參加考試2/5</div>
                    <div class="col-md-3 col-xs-12">通过率40%</div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-12">參加考試2/5</div>
                    <div class="col-md-3 col-xs-12">通过率40%</div>
                </div>
            </div>

        </div>
        <!--/*下拉选择框*/-->
        <form class="">
        <div class="row The-test-panel-body Panel-topic-form ">
            <p>请选择你想参加考试类型</p>
            <ul class="mt-10">
                <li class="hidden-xs" style="margin-top: 10px">
                    商品类别
                </li>
                <!-- 多级菜单-->
                <li class="xia-1 ">
                        <select name="quiz2" class="form-control">
                            <option value="">请选择市</option>
                            <option value="杭州">杭州</option>
                            <option value="宁波">宁波</option>
                            <option value="温州">温州</option>
                            <option value="温州">台州</option>
                            <option value="温州">绍兴</option>
                        </select>
                </li>
                <li class="hidden-xs xia-2">
                    <div class="layui-input-inline">
                        <select name="quiz2" class="form-control">
                            <option value="">请选择市</option>
                            <option value="杭州">杭州</option>
                            <option value="宁波" >宁波</option>
                            <option value="温州">温州</option>
                            <option value="温州">台州</option>
                            <option value="温州">绍兴</option>
                        </select>
                    </div>
                </li>
                <li class="hidden-xs  xia-3">
                    <div class="layui-input-inline">
                        <select name="quiz2" class="form-control">
                            <option value="">请选择市</option>
                            <option value="杭州">杭州</option>
                            <option value="宁波">宁波</option>
                            <option value="温州">温州</option>
                            <option value="温州">台州</option>
                            <option value="温州">绍兴</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>
        <!--基本信息-->
        <div class="row The-test-panel-body examination">
            <div class="col-md-12 The-test-panel-body">
                <div class="row">
                    <div class=" col-xs-2  Panel-face">
                        <i class="fa user-circle"></i>
                        <span>木工等级：初级学徒</span>
                    </div>
                    <div class="col-md-8 col-xs-6 Subject-to-the-right-panel">
                        <div class="row">
                            <div class="col-md-12 ">
                                <p class="h4">电工一级考试</p>
                                <p class="h6">电工基本知识考试</p>
                            </div>
                        </div>
                        <div class="row tuoxiang">
                            <div class="col-md-6">
                                <i class="fa fa-user"></i><span>参加</span>/<span>通过</span>:<span>10/5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="row The-test-panel-body examination">
            <div class="col-md-12 The-test-panel-body">
                <div class="row">
                    <div class=" col-xs-2  Panel-face">
                        <i class="fa user-circle"></i>
                        <span>木工等级：初级学徒</span>
                    </div>
                    <div class="col-md-8 col-xs-6 Subject-to-the-right-panel">
                        <div class="row">
                            <div class="col-md-12 ">
                                <p class="h4">电工一级考试</p>
                                <p class="h6">电工基本知识考试</p>
                            </div>
                        </div>
                        <div class="row tuoxiang">
                            <div class="col-md-6">
                                <i class="fa fa-user"></i><span>参加</span>/<span>通过</span>:<span>10/5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
        <div class="row The-test-panel-body examination">
            <div class="col-md-12 The-test-panel-body">
                <div class="row">
                    <div class=" col-xs-2  Panel-face">
                        <i class="fa user-circle"></i>
                        <span>木工等级：初级学徒</span>
                    </div>
                    <div class="col-md-8 col-xs-6 Subject-to-the-right-panel">
                        <div class="row">
                            <div class="col-md-12 ">
                                <p class="h4">电工一级考试</p>
                                <p class="h6">电工基本知识考试</p>
                            </div>
                        </div>
                        <div class="row tuoxiang">
                            <div class="col-md-6">
                                <i class="fa fa-user"></i><span>参加</span>/<span>通过</span>:<span>10/5</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
            </div>
        </div>
        </form>
    </div>

</div>
<script>
//    动态添加 商品类别
    var html='';
    for(var i=0;i<18;i++){
            html+=`
        <div class="item border-suop"><a><input type="checkbox">${i}</a></div>`;
    }
    $('.xia-1 .option').html(html);
    $('.xia-2 .option').html(html);
    $('.xia-3 .option').html(html);
    var setrue=true;
    $('.select').click(function () {
        if(setrue){
            $(this).siblings('.on').css('z-index','1000')
            $(this).siblings('.on').removeClass('on')

            setrue=false;
        }else{
            $(this).siblings('div').addClass('on')
            $(this).siblings('div').css('z-index','0')
            setrue=true;

        }

    });
layui.use(['form', 'layedit', 'laydate'], function(){
    var form = layui.form()
        ,layer = layui.layer
        ,layedit = layui.layedit
        ,laydate = layui.laydate;

    //创建一个编辑器
    var editIndex = layedit.build('LAY_demo_editor');

    //自定义验证规则
    form.verify({
        title: function(value){
            if(value.length < 5){
                return '标题至少得5个字符啊';
            }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
            layedit.sync(editIndex);
        }
    });

    //监听指定开关
    form.on('switch(switchTest)', function(data){
        layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
            offset: '6px'
        });
        layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
    });

    //监听提交
    form.on('submit(demo1)', function(data){
        layer.alert(JSON.stringify(data.field), {
            title: '最终的提交信息'
        })
        return false;
    });


});


</script>
{include file="public/footer" }