<style>
    #navigatesLeft>div>div>ul>li {
        margin-left: 0px !important;
        margin-right:0px !important;
    }
</style>
<!--nav-->
{include file="public/header" }
<!--header-->
<div class="main bind_bank_card">

    <div class="container">
        <!--面包屑导航-->
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>考试页面</small><span>>></span>
        </h5>
        <!-- 主题-->
        <div class="The-test-panel-head">

            <span class="ml-10">考试页面</span>
            <span class="pull-right mr-20" >x</span>
        </div >
        <div class="The-test-panel-body pt-40 text-center" style="min-height: 500px">
                <img width="60px" src="__PUBLIC__static/index/images/20170905101109.png" alt=""> 亲爱的师傅，你未通过平台考试,还不能接单
            <p class="mt-40" >
                <a href="" class="btn btn-blue border-radius" style="padding-right: 90px;padding-left: 90px">去考试</a>
            </p>

        </div >
    </div>
</div>
<script>
</script>
{include file="public/footer" }