{include file="public/header"}

<div class='main'>
    <div class="header-img">
        <img src="__PUBLIC__static/index/images/banner2.jpg" class="img-responsive ">
    </div>
    <div class='container'>
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>展示页面</small><span>>></span>
        </h5>
        <div class='row'>
            <div class="col-sm-6">
                <div class="list-group">
                    <a  class="list-group-item disabled list-group-item-danger">订单块</a>
                    <a href='order_manage_master' class="list-group-item list-group-item-danger">订单管理-师傅</a>
                    <a href='order_details' class="list-group-item list-group-item-danger">订单详情</a>
                    <a href='order_refund' class="list-group-item list-group-item-danger">订单退款</a>
                    <a href='order_manage_client' class="list-group-item list-group-item-danger">订单管理-客户</a>

                    <a href='order_construction' class="list-group-item list-group-item-danger">师傅施工情况</a>

                    <a href='client_order_construction_info' class="list-group-item list-group-item-danger">客户施工情况</a>

                    <a href='order_inquiry' class="list-group-item list-group-item-danger">订单查询</a>

                </div>
            </div>

            <div class="col-sm-6">
                <div class="list-group">
                    <a class="list-group-item disabled list-group-item-success">维修协商块</a>

                    <a href='master_response_client' class="list-group-item list-group-item-success">主任师傅应答客户咨询</a>

                    <a href='master_price_negotiationt' class="list-group-item list-group-item-success">师傅价格协商确认页面</a>

                    <a href='nuclear_single_report' class="list-group-item list-group-item-success">核单报告</a>

                    <a href='master_maintenance_report' class="list-group-item list-group-item-success">师傅维修报告及确认页面</a>

                </div>
            </div>
        </div>

        <div class='row'>
            <div class="col-sm-6">
                <div class="list-group">
                    <a  class="list-group-item disabled list-group-item-danger">注册块</a>
                    <a href='auth.html' class="list-group-item list-group-item-danger">登入</a>
                    <a href='master_approve.html' class="list-group-item list-group-item-danger">师傅认证</a>
                    <a href='master_review.html' class="list-group-item list-group-item-danger">师傅个人信息认证查看</a>
                    <a href='company_approve.html' class="list-group-item list-group-item-danger">公司信息认证</a>
                    <a href='client_register.html' class="list-group-item list-group-item-danger">客户信息添加</a>
                    <a href='client_sign.html' class="list-group-item list-group-item-danger">平台客户签约信息添加</a>
                    <a href='master_register.html' class="list-group-item list-group-item-danger">师傅信息添加</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="list-group">
                    <a class="list-group-item disabled list-group-item-success">师傅勘测块</a>
                    <a href='upload_prospect_manuscripts' class="list-group-item list-group-item-success">上传勘测手稿</a>
                    <a href='prospect_relation_client' class="list-group-item list-group-item-success">勘测联系客户</a>
                    <a href='the_order_details' class="list-group-item list-group-item-success">勘测查看订单详情</a>
                    <a href='write_report' class="list-group-item list-group-item-success">填写勘测报告</a>
                    <a href='audit_situation' class="list-group-item list-group-item-success">审核详情</a>
                    <a href='master_myorder' class="list-group-item list-group-item-success">师傅我的订单</a>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="col-sm-6">
                <div class="list-group">
                    <a  class="list-group-item disabled list-group-item-danger">钱包块</a>
                    <a href='my_purse.html' class="list-group-item list-group-item-danger">我的钱包</a>
                    <a href='alipay.html' class="list-group-item list-group-item-danger">支付宝-微信转入</a>
                    <a href='balance.html' class="list-group-item list-group-item-danger">余额查询</a>
                    <a href='purse_recharge.html' class="list-group-item list-group-item-danger">钱包充值</a>
                    <a href='withdraw_deposit.html' class="list-group-item list-group-item-danger">提现</a>
                    <a href='pay_the_deposit.html' class="list-group-item list-group-item-danger">缴纳保证金</a>
                    <a href='bind_bank_card.html' class="list-group-item list-group-item-danger">绑定银行卡</a>
                    <a href='coupon_filled_red_envelope.html' class="list-group-item list-group-item-danger">优惠券_红包</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="list-group">
                    <a class="list-group-item disabled list-group-item-success">学习中心块</a>
                    <a href='proceed_exam' class="list-group-item list-group-item-success">师傅木匠定级考试</a>
                    <a href='exam_select' class="list-group-item list-group-item-success">考试类型选择</a>
                    <a href='acquire_knowledge' class="list-group-item list-group-item-success">学习页面</a>
                    <a href='teacher_learning' class="list-group-item list-group-item-success">知识点</a>
                    <a href='video_learning_page' class="list-group-item list-group-item-success">视频学习页面</a>
                    <a href='learning_center' class="list-group-item list-group-item-success">标匠学习中心</a>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class="col-sm-6">
                <div class="list-group">
                    <a  class="list-group-item disabled list-group-item-danger">首页块</a>
                    <a href='index.html' class="list-group-item list-group-item-danger">首页</a>
                    <a href='master_home.html' class="list-group-item list-group-item-danger">师傅首页</a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="list-group">
                    <a class="list-group-item disabled list-group-item-success">系统功能块</a>
                    <a href='appreciation_master' class="list-group-item list-group-item-success">答谢师傅</a>
                    <a href='master_condition' class="list-group-item list-group-item-success">师傅情况页面</a>
                    <a href='client_evaluate' class="list-group-item list-group-item-success">客户评价页面</a>
                    <a href='master_evaluate' class="list-group-item list-group-item-success">师傅评价页面</a>
                    <a href='evaluation' class="list-group-item list-group-item-success">评价追加页面</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-sm-6">
                <div class="list-group">
                    <a  class="list-group-item disabled list-group-item-danger">安装</a>
                    <a href='install_order_details' class="list-group-item list-group-item-danger">安装下单详情页面</a>
                    <a href='installation_project_selection' class="list-group-item list-group-item-danger">安装项目选择</a>
                    <a href='client_installation_confirmation' class="list-group-item list-group-item-danger">客户安装确认页面</a>
                    <a href='master_installation_report' class="list-group-item list-group-item-danger">师傅维修报告及其确认页面</a>
                    <a href='mas_intstall_status' class="list-group-item list-group-item-danger">师傅-订单状态</a>
                    <a href='intstall_status' class="list-group-item list-group-item-danger">客户-订单状态</a>
                    <a href='utilization_review' class="list-group-item list-group-item-danger">审核情况</a>
                </div>
                <div class="list-group">
                    <a  class="list-group-item disabled list-group-item-danger">消息</a>
                    <a href='master_message_page' class="list-group-item list-group-item-danger">师傅消息页面</a>
                    <a href='system_messages' class="list-group-item list-group-item-danger">订单消息</a>
                    <a href='new_Order_Single' class="list-group-item list-group-item-danger">余额查询</a>
                </div>
               
            </div>

            <div class="col-sm-6">
                <div class="list-group">
                    <a class="list-group-item disabled list-group-item-success">客户下单</a>
                    <a href='maintenance_items_select' class="list-group-item list-group-item-success">维修师傅选择</a>
                    <a href='fault_details' class="list-group-item list-group-item-success">故障详情</a>
                    <a href='choose_director_master' class="list-group-item list-group-item-success">挑选主任师傅</a>
                    <a href='client_consult_director_master' class="list-group-item list-group-item-success">客户咨询主任师傅</a>
                    <a href='select_common_master' class="list-group-item list-group-item-success">选普通师傅</a>
                    <a href='payment_external_maintain' class="list-group-item list-group-item-success">付款第三方页面_维修</a>
                    <a href='payment_external_consult' class="list-group-item list-group-item-success">付款第三方页面_咨询</a>
                    <a href='master_filter' class="list-group-item list-group-item-success">师傅筛选</a>
                    <a href='master_evaluate' class="list-group-item list-group-item-success">师傅评价页面</a>
                    <a href='settlement_page' class="list-group-item list-group-item-success">结算页面</a>
                    <a href='consult_pay' class="list-group-item list-group-item-success">咨询付费页面</a>
                    <a href='monthly_payment' class="list-group-item list-group-item-success">月结付款界面</a>
                    <a href='client_affirm_accomplish' class="list-group-item list-group-item-success">客户确认维修完成</a>
                    <a href='master_maintenance_report' class="list-group-item list-group-item-success">师傅确认维修完成</a>
                    <a href='monthly_client_order' class="list-group-item list-group-item-success">月结客户下单页面</a>
                    <a href='jilt_single' class="list-group-item list-group-item-success">甩单师傅</a>
                    <a href='message_pairing' class="list-group-item list-group-item-success">留言配单</a>
                    <a href='order_calibrate' class="list-group-item list-group-item-success">订单定标</a>
                    <a href='grab_order' class="list-group-item list-group-item-success">抢单页面</a>
                    <a href='one_malfunction_particulars' class="list-group-item list-group-item-success">单个故障详情</a>
                    <a href='order_status' class="list-group-item list-group-item-success">客户订单状态</a>
                    <a href='Master_order_status' class="list-group-item list-group-item-success">师傅订单状态</a>
                    <a href='customer_master_has_additional_items' class="list-group-item list-group-item-success">客户-师傅有追加项目</a>
                    <a href='the_customer_additional' class="list-group-item list-group-item-success">客户追加项目报价</a>
                    <a href='succPage' class="list-group-item list-group-item-success">师傅抢单成功页面</a>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-sm-6">
                <div class="list-group">

                </div>
            </div>

            <div class="col-sm-6">

            </div>
        </div>
    </div>
</div>
{include file="public/header"}

