<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main installation_project_selection ">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>

    <div class="container pr-0-media pl-0_media" >
        <h5 class="page-header pl-20 bx">
            <span>当前位置：</span>
            <small>安装</small>
            <span>>></span>
        </h5>
    </div>
    <!--/*主题*/-->
    <div class="container  ">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 ">维修项目选择</div>
        </div>
        <div class="row The-test-panel-body">
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>展柜</span>
            </div>
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>灯具</span>
            </div>
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>家具</span>
            </div>
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>墙纸</span>
            </div>
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>卫浴</span>
            </div>
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>家电</span>
            </div>
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>地毯</span>
            </div>
            <div class="col-md-3">
                <a href="">
                    <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                </a>
                <span>晾衣架</span>
            </div>
        </div>
        <!--/*下拉选择框*/-->
    </div>
</div>
<script>
</script>
{include file="public/footer" }