{include file='public/header'}
<div class="main">
	<div class="container">
	      <div class="header">
	         <h5 class="page-header bx">
	     	    <span>当前所在位置</span>
	     	    <span>>></span><span>手稿</span>
	     	 </h5> 
	       </div>
		 <div class="row">
		        <div class="panel panel-orange">
		            <div class="panel-heading">
		                <div class="panel-title">
		                	<p class="panel-title-p" style="">
		                		<span>确认手稿</span>
		                	</p>
		                </div> 	 
		            </div>

		            <div class="panel-body">
		            <div class='row'>
		            	<div class='col-md-12 text-center'>
		            	    <img src="__PUBLIC__static/index/images/cehuibiao.png" class="img-responsive" alt=""/>
		            	</div>	
		            </div>
		            <div class="row">
		            <div class='col-md-12' style="border-top:1px solid #cacaca">    
		                <div class='content1 text-center' style="padding-top: 2em">
		                	<span>若手稿核对无误，请确认</span>
		                	<label class="btn btn-info" style="background: green;padding:0 2.2em;border-radius:10%;margin-left:2em">
		                		<span>确认</span>
		                	</label>
		                </div>
		               
		                <div class='content2 text-center' style="margin-top:1em">
		                	<span>若手稿有问题，请反馈</span>
		                	<label class="btn btn-info" style="background: red;padding:0 2.2em;border-radius:10%;margin-left:3em">
		                		<span>反馈</span>
		                	</label>
		                </div>
		            </div>
		            </div>
		        </div>
		 </div>
	</div>
</div>

{include file='public/footer'}