<!--nav-->
{include file="public/header" }
<div class="main master_message_page">
    <!--header-img-->
    <div class="header-img mt-130">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!-- 面包屑导航-->
    <div class="container container-hidden">
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>消息</small><span>>></span>
        </h5>
        <!-- 左边框-->
        <div class="row mt-10 " id="navigatesLeft">

            <div class="clo-xs-12 " id='navigatesRigth'>
                <div class=" panel-default height ">
                    <div class="panel-heading bg-orange">
                        <span>师傅消息</span>
                    </div>
                </div>
                <div class="panel-body  pl-20 pr-20">
                    <a href="__PUBLIC__system_messages" class="border-aspx ehe">

                        <img src="__PUBLIC__static/index/images/s_xitong.png" style="width: 40px;" class=" " alt=""/>
                        <b class="ml-10">系统消息</b>
                        <span class="ehe_s">20</span>
                    </a>
                    <a href="__PUBLIC__new_Order_Single" class="border-aspx ehe">
                        <img src="__PUBLIC__static/index/images/d_dingdan.png" style="width: 40px;" class=" " alt=""/>
                        <b class="ml-10">订单消息</b>
                        <span class="ehe_s">20</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


</script>
{include file='public/footer'}