{include file='public/header'}
<div class='main'>
    <div class='header-img'>
        <img src="__PUBLIC__static/index/images/banner4.jpg" alt="" class='m-auto img-responsive'>
    </div>
    <div class='container' style='position:relative;'>
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>我的订单</small><span>>></span>
        </h5> {include file='public/left'}
        <div class='right'>
            <div class="panel panel-orange">
                <div class="panel-heading">
                    <div class="panel-title">
                        <span>我的订单</span>
                    </div>
                </div>
                <div class="panel-body pt-0">
                    <div class="row h-10" id='tabs'>
                        <div class="col-xs-6 p-20 text-center b-s-2-e3e3e3 b-b-2-ff5200">
                            <span class='text-md'>订单状态</span>
                        </div>
                        <div class="col-xs-6 p-20 text-center b-s-2-e3e3e3">
                            <span class='text-md'>订单详情</span>
                        </div>
                    </div>

                    <div class="row" id='infos'>
                        <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1 infos1">
                            <ul class='mt-20'>
                                <li class='' style='height:25px'>
                                    <div class='flow b-orange' style=''>
                                        <div class='bg-orange' style=''>
                                        </div>
                                    </div>
                                    <span class='text-orange flowlineright'> 已确认报告，完成订单</span>
                                </li>
                                <li class='flowline'></li>
                                <li class='' style='height:25px'>
                                    <div class='flow b-orange' style=''>
                                        <div class='bg-orange' style=''>
                                        </div>
                                    </div>
                                    <span class='text-orange flowlineright' style='
									'>上传勘测报告</span>
                                </li>
                                <li class='flowline'></li>
                                <li class='' style='height:25px'>
                                    <div class='flow b-orange' style=''>
                                        <div class='bg-orange' style=''>
                                        </div>
                                    </div>
                                    <span class='text-orange flowlineright' style='
									'> 上传手稿</span>
                                </li>
                                <li class='flowline'></li>
                                <li class='' style='height:25px'>
                                    <div class='flow b-orange' style=''>
                                        <div class='bg-orange' style=''>
                                        </div>
                                    </div>
                                    <span class='text-orange flowlineright' style='
									'> 已前往勘测地点</span>
                                </li>
                                <li class='flowline'></li>
                                <li class='' style='height:25px'>
                                    <div class='flow b-orange' style=''>
                                        <div class='bg-orange' style=''>
                                        </div>
                                    </div>
                                    <span class='text-orange flowlineright' style='
									'> 已确认前往勘测的时间</span>
                                </li>
                                <li class='flowline'></li>
                                <li class='' style='height:25px'>
                                    <div class='flow ' style=''>
                                        <div class='bg-black' style=''>
                                        </div>
                                    </div>
                                    <span class='flowlineright' style='
									'> 确认报告前往勘测时间</span>
                                </li>
                                <li class='flowline'></li>
                                <li class='' style='height:25px'>
                                    <div class='flow ' style=''>
                                        <div class='bg-black' style=''>
                                        </div>
                                    </div>
                                    <span class='flowlineright' style='
									'> 已接单</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 infos1">
                            <div class='row'>
                                <div class="col-xs-12 p-20 bx">
                                    <span>订单号：</span><span>xxxxxxxxxxxx</span>
                                    <span class='pull-right'>￥<span>1300.00</span></span>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>品牌</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>品牌</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>地址</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>上海市上海市上海市上海市上海市上海市上海市上海市上海市</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>客户名称</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>习近平</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>客户联系电话</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>17770427747</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>计划施工日期</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>2017.15.6512</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>师傅名称</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>习近平师傅</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>师傅工号</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>2017156512</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>师傅联系方式</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>17770427747</label>
                                        </div>
                                    </div>
                                    <div class="row mt-10">
                                        <div class="col-sm-3 mt-10">
                                            <label>施工报告</label>
                                        </div>
                                        <div class="col-sm-9 ">
                                            <label class='form-control ha'>2017.15.6512</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 text-center">
                                    <span>请上传勘测手稿</sapn>
									<a href='upload_prospect_manuscripts' class='btn btn-default'>点击上传</a>	
								</div>
								<div class="col-sm-6 text-center">
									<span>请上传勘测报告</sapn>
									<a href='write_report' class='btn btn-default'>点击上传</a>
								</div>
							</div>	
						</div>

					</div>
				</div>
			</div>
    	</div>
    </div>
</div>
<script>
$(window).ready(function(){
	
});

$('#infos .infos1').eq(1).hide();
$('#tabs div').click(function(){
	$(this).addClass('b-b-2-ff5200').siblings('div').removeClass('b-b-2-ff5200');
	if($(this).index()==0){
		$('#infos .infos1').eq(1).hide();
		$('#infos .infos1').eq(0).show();	
	}else{
		$('#infos .infos1').eq(0).hide();
		$('#infos .infos1').eq(1).show();		
	}
	
});
</script>
{include file='public/footer'}
