{include file="public/header"}
<!-- header -->
	<!--main-->
	<div class='main'>
		<div class='header-img'>
			<img src="__PUBLIC__static/index/images/banner2.jpg" class='img-responsive' title='logo'>
		</div>
        <div class='container'>
            <h5 class="page-header bx">
                <span>当前位置：</span>
                <small>师傅情况</small><span>>></span>
            </h5>
            <div class='panel panel-orange'>
	            <div class='panel-heading'>
	            	<div class="panel-title">
	            		<span>师傅信息</span>
	            	</div>
	            </div>
	            <div class='panel-body mb-50'>
					<div class='row mt-20'>
						<div class='col-xs-12 col-sm-8 col-sm-offset-2'>
							<div class="col-sm-3 col-xs-8 col-xs-offset-2 col-sm-offset-0">
								<img src="__PUBLIC__static/index/images/tong.jpg" class='img-thumbnail' alt="">
							</div>
							<div class="col-sm-9">
								<div class='row'>
									<div class="col-xs-5 col-sm-3">
										<label>待业情况：</label>
									</div>
									<div class="col-xs-7 col-sm-9">
										<label>xxxxxxxx</label>
									</div>
								</div>

								<div class='row'>
									<div class="col-xs-5 col-sm-3">
										<label>平台登记：</label>
									</div>
									<div class="col-xs-7 col-sm-9">
									<span class='text-orange'><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange'><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange'><i class="fa fa-star" aria-hidden="true"></i> </span>
									<span class='text-orange'><i class="fa fa-star" aria-hidden="true"></i> </span><!-- 全星 -->
									<span class='text-orange'><i class="fa fa-star-half-o" aria-hidden="true"></i></span><!-- 半星 -->
									<span class=''><i class="fa fa-star-o" aria-hidden="true"></i> </span><!-- 空星 -->
									</div>
								</div>

								<div class='row'>
									<div class="col-xs-5 col-sm-3">
										<label>客户评分：</label>
									</div>
									<div class="col-xs-7 col-sm-9">
										<label class='text-orange'><i class='text-lg'>6.7分</i></label>
									</div>
								</div>

								<div class='row'>
									<div class="col-xs-5 col-sm-3">
										<label>空闲时间段：</label>
									</div>
									<div class="col-xs-7 col-sm-9">
										<span>16:00</span>
										<span>~</span>
										<span>17:00</span>
									</div>
								</div>

								<div class='row'>
									<div class="col-xs-5 col-sm-3">
										<label>工程简历：</label>
									</div>
									<div class="col-xs-7 col-sm-9">
										<a href='' class='label label-default label-sm'>查看</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--main end-->

	<!-- ===============================================
    ============== Page Specific Scripts ===============
    ================================================ -->

	<script>
	$(document).ready(function(){});

	</script>
	<!--/ Page Specific Scripts -->
<!-- footer -->
{include file="public/footer"}
<!-- footer end-->
