{include file='public/header'}
<div class='main'>
    <div class="header-img">
        <img src="__PUBLIC__static/index/images/banner2.jpg" class="img-responsive ">
    </div>
        <div class='container'>
            <h5 class="page-header">
                <span>当前位置：</span>
                <small>价格协商>></small>
            </h5>
            <div class="">
            <div class='panel panel-orange'>
                <div class='panel-heading'>
                    <div class='panel-title'>
                        <span class='glyphicon glyphicon-italic i1'></span>
                        <span class=''>订单编号：</span>
                        <span class>00000000000</span>
                    </div>
                </div>
                <form action="" method="post">
                    <div class='panel-body'>
                            <div class="col-lg-4 form-group form-inline">
                                <label class="control-label">开始日期 </label>
                                <div class='input-group' id='datetimepicker1'>
                                    <input type='text' disabled readonly class="form-control time"  name="time1" id="time-1" value="">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4 form-group form-inline">
                                <label class="control-label">结束日期</label>
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' disabled class="form-control time" name="time2"  id="time-2" value=""/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                        <div class='row'>
                            <table class='table table-hover table-bordered table-striped'>
                                <thead class='' style="">
                                    <tr>
                                        <th>维修项目</th>
                                        <th>平台标准价</th>
                                        <th>师傅出价</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>维修项目1</td>
                                        <td>50</td>
                                        <td><input class='qian' name='weixiu1' type='text' value='60'></td>
                                    </tr>
                                    <tr>
                                        <td>维修项目2</td>
                                        <td>50</td>
                                        <td><input class='qian' name='weixiu2' type='text' value='60'></td>
                                    </tr>
                                    <tr>
                                        <td>加急费用</td>
                                        <td>200</td>
                                        <td><input class='qian' name='jiaji' type='text' value='60'></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class='checkbox'>
                            <input type="checkbox" name="" id="opinion" class="styled" value="" />
                            <label for="opinion">是否需核单意见</label>
                        </div>
                        <div class='liaotian'>
                            <div class='well'>
                                <div class="text-left">
                                    <img class='img' src='__PUBLIC__static/index/images/img.jpg' width='50px' height='50px'>
                                    <span>您好？</span>
                                </div>
                                <div class="text-right">
                                    <span>您好？</span>
                                    <img class='img' src='__PUBLIC__static/index/images/img.jpg' width='50px' height='50px'>
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col-xs-11">
                                <div class='form-group'>
                                    <input type='text' class='form-control' placeholder="请输入您要发送的信息"/>
                                </div>
                            </div>
                            <div class="col-xs-3 col-xs-offset-8 col-sm-1 col-sm-offset-0">
                                <a href='javascript:' class='btn btn-danger'>发送</a>
                            </div>

                        </div>

                        <div class='row'>
                            <div class="col-md-1 col-md-offset-11 col-xs-3 col-xs-offset-8">
                                <a href='javascript:' onClick="javascript :history.back(-1);" class='btn btn-danger'>返回</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
<script>

//    $('#time-1').datetimepicker().on('changeDate', function(ev){
//        console.log(ev.timeStamp);
//        $('#time-2').removeProp('disabled');
//            });
//    $('#time-2').datetimepicker().on('changeDate', function(ev){
//        console.log(ev.timeStamp);
//    });

</script>
{include file='public/footer'}

