{include file='public/header'}

<div class='main'>
	<div class='header-img'>
		<img src="__PUBLIC__static/index/images/banner4.jpg" alt="" class='m-auto img-responsive'>
	</div>
	<div class='container' style='position:relative;'>
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>个人首页</small><span>>></span>
        </h5>
        
	{include file='public/left'}
	    <div class='right'>
        	<div class='row'>
				<div class='col-xs-12'>
					<div class="row type">
						<div class="swiper-container-horizontal swiper-container-free-mode" id='master_type'>
						
						  <div class="swiper-wrapper">
								<span class='swiper-slide w-a' style=''>所有</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
								<span class='swiper-slide w-a'>美容化妆展柜</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='row mt-10'>
				<div class='col-xs-7 col-sm-4 '>
					<img src="__PUBLIC__static/index/images/ordertype.png" alt="">
					<span class=''>最新预约单</span>
				</div>
				<div class='col-xs-5 col-sm-4 col-sm-offset-4 mt-10 text-right hidden-xs'>
					<a class='btn btn-default' id='page-pre'>上一页</a>
					<a class='btn btn-default' id='page-next'>下一页</a>
				</div>
			</div>
			<div class="panel-group">
				<div class="panel panel-gray">
					<div class="panel-heading">
						<div class="panel-title p-15">
							<div class='row'>
								<div class='col-xs-6'>
									<i class="fa fa-newspaper-o" aria-hidden="true"></i>
									<span class=''>安装水龙头</span>
								</div>
								<div class='col-xs-6 text-right hidden-xs text-sm'>
									<span>订单编号：</span>
									<i>565923245218219862</i>
								</div>
								<div class='col-xs-6 text-right hidden-lg'>
									<span class='text-orange text-sm'>未接单</span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class='row'>
							<div class="col-sm-3 col-xs-5">
								<img src="__PUBLIC__static/index/images/11.jpg" alt="" class='img-responsive'>
							</div>
							<div class="col-sm-3 col-sm-push-6 col-xs-7">
								<div class="row text-center">
									<span class='text-orange'>订单预估价</span>
								</div>
								<div class="row text-center mt-5">
									<span class=''>￥1400.00</span>
								</div>
								<div class='row text-center mt-5'>
									<a href='master_price_negotiationt.html' class='btn btn-orange btn-xs text-sm'> 有客户点单</a>
								</div>
							</div>
							<div class="col-sm-6 col-sm-pull-3 col-xs-12 mt-10 hidden-xs">
								<div class="row">
									<label for="">施工地址：</label>
									<span>上海市嘉定区昆山市昆山市</span>
								</div>
								<div class="row mt-10">
									<label for="">施工时间：</label>
									<span>1995.18.18</span>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="panel panel-gray">
					<div class="panel-heading">
						<div class="panel-title p-15">
							<div class='row'>
								<div class='col-xs-6'>
									<i class="fa fa-newspaper-o" aria-hidden="true"></i>
									<span class=''>安装水龙头</span>
								</div>
								<div class='col-xs-6 text-right hidden-xs text-sm'>
									<span>订单编号：</span>
									<i>565923245218219862</i>
								</div>
								<div class='col-xs-6 text-right hidden-lg'>
									<span class='text-orange text-sm'>未接单</span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class='row'>
							<div class="col-sm-3 col-xs-5">
								<img src="__PUBLIC__static/index/images/11.jpg" alt="" class='img-responsive'>
							</div>
							<div class="col-sm-3 col-sm-push-6 col-xs-7">
								<div class="row text-center">
									<span class='text-orange'>订单预估价</span>
								</div>
								<div class="row text-center mt-5">
									<span class=''>￥1400.00</span>
								</div>
								<div class='row text-center mt-5'>
									<a href='master_price_negotiationt.html' class='btn btn-orange btn-xs text-sm'> 有客户点单</a>
								</div>
							</div>
							<div class="col-sm-6 col-sm-pull-3 col-xs-12 mt-10 hidden-xs">
								<div class="row">
									<label for="">施工地址：</label>
									<span>上海市嘉定区昆山市昆山市</span>
								</div>
								<div class="row mt-10">
									<label for="">施工时间：</label>
									<span>1995.18.18</span>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="panel panel-gray">
					<div class="panel-heading">
						<div class="panel-title p-15">
							<div class='row'>
								<div class='col-xs-6'>
									<i class="fa fa-newspaper-o" aria-hidden="true"></i>
									<span class=''>安装水龙头</span>
								</div>
								<div class='col-xs-6 text-right hidden-xs text-sm'>
									<span>订单编号：</span>
									<i>565923245218219862</i>
								</div>
								<div class='col-xs-6 text-right hidden-lg'>
									<span class='text-orange text-sm'>未接单</span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class='row'>
							<div class="col-sm-3 col-xs-5">
								<img src="__PUBLIC__static/index/images/11.jpg" alt="" class='img-responsive'>
							</div>
							<div class="col-sm-3 col-sm-push-6 col-xs-7">
								<div class="row text-center">
									<span class='text-orange'>订单预估价</span>
								</div>
								<div class="row text-center mt-5">
									<span class=''>￥1400.00</span>
								</div>
								<div class='row text-center mt-5'>
									<a href='master_response_client.html' class='btn btn-orange btn-xs text-sm'> 有客户咨询</a>
								</div>
							</div>
							<div class="col-sm-6 col-sm-pull-3 col-xs-12 mt-10 hidden-xs">
								<div class="row">
									<label for="">施工地址：</label>
									<span>上海市嘉定区昆山市昆山市</span>
								</div>
								<div class="row mt-10">
									<label for="">施工时间：</label>
									<span>1995.18.18</span>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="panel panel-gray">
					<div class="panel-heading">
						<div class="panel-title p-15">
							<div class='row'>
								<div class='col-xs-6'>
									<i class="fa fa-newspaper-o" aria-hidden="true"></i>
									<span class=''>安装水龙头</span>
								</div>
								<div class='col-xs-6 text-right hidden-xs text-sm'>
									<span>订单编号：</span>
									<i>565923245218219862</i>
								</div>
								<div class='col-xs-6 text-right hidden-lg'>
									<span class='text-orange text-sm'>未接单</span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class='row'>
							<div class="col-sm-3 col-xs-5">
								<img src="__PUBLIC__static/index/images/11.jpg" alt="" class='img-responsive'>
							</div>
							<div class="col-sm-3 col-sm-push-6 col-xs-7">
								<div class="row text-center">
									<span class='text-orange'>订单预估价</span>
								</div>
								<div class="row text-center mt-5">
									<span class=''>￥1400.00</span>
								</div>
								<div class='row text-center mt-5'>
									<a href='order_calibrate.html' class='btn btn-orange btn-xs text-sm'> 抢单</a>
								</div>
							</div>
							<div class="col-sm-6 col-sm-pull-3 col-xs-12 mt-10 hidden-xs">
								<div class="row">
									<label for="">施工地址：</label>
									<span>上海市嘉定区昆山市昆山市</span>
								</div>
								<div class="row mt-10">
									<label for="">施工时间：</label>
									<span>1995.18.18</span>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="panel panel-gray">
					<div class="panel-heading">
						<div class="panel-title p-15">
							<div class='row'>
								<div class='col-xs-6'>
									<i class="fa fa-newspaper-o" aria-hidden="true"></i>
									<span class=''>安装水龙头</span>
								</div>
								<div class='col-xs-6 text-right hidden-xs text-sm'>
									<span>订单编号：</span>
									<i>565923245218219862</i>
								</div>
								<div class='col-xs-6 text-right hidden-lg'>
									<span class='text-orange text-sm'>未接单</span>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class='row'>
							<div class="col-sm-3 col-xs-5">
								<img src="__PUBLIC__static/index/images/11.jpg" alt="" class='img-responsive'>
							</div>
							<div class="col-sm-3 col-sm-push-6 col-xs-7">
								<div class="row text-center">
									<span class='text-orange'>订单预估价</span>
								</div>
								<div class="row text-center mt-5">
									<span class=''>￥1400.00</span>
								</div>
								<div class='row text-center mt-5'>
									<a href='order_calibrate.html' class='btn btn-orange btn-xs text-sm'> 抢单</a>
								</div>
							</div>
							<div class="col-sm-6 col-sm-pull-3 col-xs-12 mt-10 hidden-xs">
								<div class="row">
									<label for="">施工地址：</label>
									<span>上海市嘉定区昆山市昆山市</span>
								</div>
								<div class="row mt-10">
									<label for="">施工时间：</label>
									<span>1995.18.18</span>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>
<script>
	var mySwiper1 = new Swiper('#master_type',{
				freeMode : true,
				slidesPerView : 'auto',
				freeModeSticky : true ,
			});
</script>
{include file='public/footer'}
