<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main monthly_payment">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!--/*主题*/-->
    <div class="container " >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>月结客户下单</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container ml-10_media mr-10_media ">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 text-center">支付成功页面</div>
        </div>
        <div class="row">
            <div class="col-md-12 The-test-panel-body text-center">
                <p>
                    尊敬的平台签约客户，感谢您的信任。
                    平台将尽快派遣优秀师傅执行订单。请关注您的消息栏，获知最新的进展情况。</p>
                <div class="col-md-3 col-md-offset-4">
                    <a href=" " class="btn btn-orange border-radius">成为平台签约客户</a>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<script>
</script>
{include file="public/footer" }