<!--nav-->
{include file="public/header" }
<div class="main new_Order_Single">
    <!--header-img-->
    <div class="header-img mt-130">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!-- 面包屑导航-->
    <div class="container">
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>消息</small><span>>></span>
        </h5>
        <!-- 左边框-->
        <div class="row mt-10 " id="navigatesLeft">

            <div class="clo-xs-12 " id='navigatesRigth'>
                <div class="panel-default">
                    <div class="panel-heading text-center bg-orange">
                        <span>客户消息</span>
                            <a href="" class="text-default pull-right">X</a>
                    </div>
                </div>
                <div class="panel-body  pl-20 pr-20">

                   <div class="row ehe border-aspx pl-20 pt-20 pb-20 pr-20">
                        <div class="col-md-1 col-xs-2 col-sm-1 he">
                            <span></span>
                        </div>
                        <div class="col-md-2  col-xs-6 col-sm-3">

                            <img style="height: 100px;" src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>

                        </div>
                        <div class="col-md-9 col-xs-4 col-sm-8">
                            <div class="row">
                                <div class="col-xs-12 h5 text-black mb-10 col-sm-6">
                                    你的订单消息
                                </div>
                                <div class="col-xs-12 text-right mb-10 text-black col-sm-6">
                                    时间
                                </div>

                            </div>
                            <p class="text-black">信息</p>
                        </div>
                    </div>


                    <div class="text-center mt-10">
                        <input type="button" style="background: #dddddd;border: none;border-radius: 1px" class="text-default btn" value="查看更多....">
                    </div>
                    <div class="pull-right" id="demo">

                    </div>
                </div>
                <div class="panel-body hidden text-center  pl-20 pr-20">


                    <img src="__PUBLIC__static/index/images/u6.png" alt="">
                    <p>  目前暂无消息</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

layui.laypage({
    cont:$("#demo"),
        pages:10,
})
</script>
{include file='public/footer'}