<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main fault_details">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!--/*主题*/-->
    <div class="container " >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>单个故障详情</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container ml-10_media mr-10_media ">
        <!--/*标题*/-->
        <form action="" id="one_malfunction_particulars">
            <div class="row The-test-panel-head">
            <div class="col-xs-6 ">
                单个故障详情
            </div>
            <div class="col-xs-6 text-right">
                订单号xxxxxxxxxxx
            </div>
        </div>
            <div class="row The-test-panel-body pl-0 pr-0">
                <div class="col-md-12">
                        <!--服务类别-->
                    <div  class="row 1 border-bottom-1">
                        <!--服务类别-->
                        <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-2 mt-10">服务类别</label>
                                    <div class="col-md-6">
                                        <input type="text" id="maintain" disabled required class="form-control" value="维修">
                                    </div>
                                </div>
                            </div>
                        <!--服务大类-->
                        <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-2 mt-10">商品大类</label>
                                    <div class="col-md-6">
                                        <select  class="form-control" name="product_categories" id="product_categories">
                                            <option value="0">选0择</option>
                                            <option value="1">选000择</option>
                                            <option value="1">选000择</option>
                                            <option value="1">选000择</option>
                                            <option value="1">选择000</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row hidden mt-0">
                                    <div class="col-md-10 mb-10 mt-5 text-center text-orange">商品大类必须选择一个</div>
                                </div>
                            </div>
                        <!--服务类-->
                        <div class="col-md-6">
                            <div class="form-group mb-5 row">
                                    <label class="col-md-2 mt-10">商品小类</label>
                                    <div class="col-md-3">
                                        <select class="form-control mb-10" name="" id="product_categoriesx_xiao">
                                            <option value="0">选择</option>
                                            <option value="1">选00择</option>
                                            <option value="1">选00择</option>
                                            <option value="1">选00择</option>
                                            <option value="1">选择00</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control" name="" id="product_categories_xiao">
                                            <option value="0">选00择</option>
                                            <option value="1">选00择</option>
                                            <option value="1">选00择</option>
                                            <option value="1">选00择</option>
                                            <option value="1">选00择</option>
                                        </select>
                                    </div>
                                </div>
                            <div class="row hidden ">
                                    <div class="col-md-10 mb-10 text-center text-orange ">商品小类必须选择一个</div>
                                </div>
                        </div>
                        <!--商品型号-->
                        <div class="col-md-6">
                                <div class="form-group mb-5 row">
                                    <label class="col-md-2 mt-10 mb-10">商品型号</label>
                                    <div class="col-md-3">
                                        <input type="text" id="marwqquey" name="marwqquey" class="form-control mb-10" value="">
                                    </div>
                                    <div class="col-md-4">
                                        <input value="+" type="button" class="btn btn-default border-radius" id="jia">
                                        1
                                        <input value="-" type="button" class="btn btn-default border-radius" id="jian">

                                    </div>
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                </div>
                                <div class="row hidden ">
                                    <div class="col-md-10  mb-10 text-center text-orange ">商品型号必须选择一个</div>
                                </div>
                            </div>
                    </div>
                        <!--故障详情复选-->
                        <div class="row 1 border-bottom-1 line-height-30">
                            <!--故障详情-->
                            <div class="col-md-3  ml-40 mt-20">
                                <div class="btn btn-default">故障详情</div>
                            </div>
                            <div class="col-md-8  ml-10 mt-20">
                                <div class="row form-group">
                                    <div class="col-md-4">
                                        <input checked type="checkbox" id="site_survey_measurement">
                                        现场勘测测量
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox">
                                        玻璃胶黏贴
                                    </div>
                                    <div class="col-md-4">
                                        <input  type="checkbox">
                                        现场勘测测量
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox">
                                        现场勘测测量
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox">
                                        现场勘测测量
                                    </div>
                                    <div class="col-md-4">
                                        <input type="checkbox">
                                        现场勘测测量
                                    </div>
                                </div>
                                <div class="row hidden ">
                                    <div class="col-md-10  mb-10 text-center text-orange ">故障详情必须选择一个</div>
                                </div>
                            </div>
                        </div>
                        <!--故障描述-->
                        <div class="row 1 border-bottom-1">
                            <!--故障描述-->
                            <div class="col-md-12 pl-10 pt-20">
                                <div class="row form-group">
                                    <label class="col-md-1 mt-10 text-right">故障描述</label>
                                    <div class="col-md-10">
                                        <input type="text" id="malfunction" name="malfunction" required class="form-control" placeholder="请详细描述你的故障详细">
                                    </div>
                                </div>
                                <div class="row hidden ">
                                    <div class="col-md-10  mb-10 text-center text-orange ">故障描述不能为空</div>
                                </div>
                            </div>
                            <!--离职办证-->
                            <div class="col-md-12 mb-20 pl-20">
                                <div class="row">
                                    <div class="col-md-1 ">离场办证</div>
                                    <div class="col-md-2">
                                        <input type="radio" id="master_worker" checked name="departure_card" checked>&nbsp;&nbsp;师傅代办

                                    </div>
                                    <div class="col-md-2"><input type="radio" id="clientele" name="departure_card">&nbsp;&nbsp;客户办理</div>
                                    <div class="col-md-2"><input type="radio" id="do_without" name="departure_card">&nbsp;&nbsp;不需要办证</div>
                                </div>
                                <div class="row hidden ">
                                    <div class="col-md-10 mt-5 mb-10 text-center text-orange ">离职办证必须选择一个</div>
                                </div>
                            </div>
                            <div class="row pb-30 pl-10 pt-30 Increase_the_project_title mb-10">
                                <div class="col-md-2 mt-10">上传维修签收单</div>
                                <div class="col-md-2">
                                    <input value="点击上传" type="button" class="btn border-radius mb-10 btn-success form-control" id="increase1">
                                </div>
                                <div class="col-md-2">
                                    <input value="无验收单" type="button" class="btn border-radius mb-10 btn-success form-control" id="increase">
                                </div>
                            </div>
                        </div>
                        <!--照片上传-->
                        <div class="row 1">
                            <div class="col-md-12 ml-20  mb-30 mt-20">
                                <p><i class="fa fa-instagram"></i>上传图片</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-3 mb-20 relca mt-40">
                                            <div class="btn btn-default addition"><i class="glyphicon glyphicon-plus"></i>门头照</div>
                                            <input type="file" class="file_box" style="">
                                        </div>
                                        <div class="col-md-5 picture">
                                            <img src="__PUBLIC__static/index/images/banner.jpg" alt="">

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3 mb-20 relca mt-40">
                                            <div class="btn btn-default addition"><i class="glyphicon glyphicon-plus"></i>故障位置</div>
                                            <input type="file" class="file_box" style="">
                                        </div>
                                        <div class="col-md-5 picture">
                                            <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-30">
                                    <div class="col-md-6">
                                        <div class="col-md-3 mb-20 relca mt-40">
                                            <div class="btn btn-default addition"><i class="glyphicon glyphicon-plus"></i>故障详情1</div>
                                            <input type="file" class="file_box" style="">
                                        </div>
                                        <div class="col-md-5 picture">
                                            <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3 mb-20 relca mt-40">
                                            <div class="btn btn-default addition"><i class="glyphicon glyphicon-plus"></i>故障详情2</div>
                                            <input type="file" class="file_box" style="">
                                        </div>
                                        <div class="col-md-5 picture">
                                            <img src="__PUBLIC__static/index/images/banner.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!--按钮-->
            <div class="row">
                <div class="col-md-12 text-center mt-10">
                    <a href="" class="btn btn-success">返回</a>
                </div>
            </div>
        </form>
    </div>

</div>
<div class="controller">

</div>
<script>
    //layui 设置日期·
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        var start = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now()
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

    });

</script>
<script>
    $('#one_malfunction_particulars').bootstrapValidator({
        message: '这个值是无效的.',
        feedbackIcons: { /*input状态样式图片*/
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            marwqquey:{
                message: '商品型号',
                validators: {
                    notEmpty: {
                        message: '商品型号不能为空'
                    }
                }
            },
            malfunction:{
                message: '请详细描述你的故障详细',
                validators: {
                    notEmpty: {
                        message: '请详细描述你的故障详细'
                    }
                }
            }
        }
    });
    $('input').focus(function() {
        $('#one_malfunction_particulars').bootstrapValidator('validate');
        $("i.form-control-feedback").remove();
    });


</script>
<script>


</script>
{include file="public/footer" }