{include file='public/header'}

<div class='main'>
	<div class='header-img'>
		<img src="__PUBLIC__static/index/images/banner4.jpg" alt="" class='m-auto img-responsive'>
	</div>
	<div class='container' style='position:relative;'>
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>单个项目故障详情</small><span>>></span>
        </h5>
	   	<div class='panel'>
	   		<div class="panel-body">
	   			<div class="row">
	   				<div class="col-sm-6">
	   					<div class='row'>
	   						<div class="col-sm-2 ">
	   							<label class='control-label pt-5'>服务类别:</label>
	   						</div>
	   						<div class="col-sm-10">
	   							<label class='form-control'>维修</label>
	   						</div>
	   					</div>
	   					<div class='row mt-10'>
	   						<div class="col-sm-2 ">
	   							<label class='control-label pt-5'>商品小类:</label>
	   						</div>
	   						<div class="col-sm-5 col-xs-6">
	   							<label class='form-control'>珠宝柜</label>
	   						</div>
	   						<div class="col-sm-5 col-xs-6">
	   							<label class='form-control'>电路</label>
	   						</div>
	   					</div>
	   				</div>	
	   				<div class="col-sm-6">
						<div class='row'>
	   						<div class="col-sm-2 pt-5">
	   							<label class='control-label'>商品大类:</label>
	   						</div>
	   						<div class="col-sm-10">
	   							<label class='form-control'>商品精品装柜子</label>
	   						</div>
	   					</div>
	   					<div class='row mt-10'>
	   						<div class="col-sm-2 pt-5">
	   							<label class='control-label'>商品型号:</label>
	   						</div>
   							<div class="col-sm-4 col-xs-6">
   								<label class='form-control ha'>珠宝柜</label>
	   						</div>
	   						<div class="col-sm-6 col-xs-6">
	   							<div class="btn-group">
									<button class="btn btn-primary btn-sm" disabled>+</button>
									<button class="btn btn-default btn-sm" >0</button>
									<button class="btn btn-primary btn-sm" disabled>-</button>
								</div>
	   						</div>
	   					</div>
	   				</div>	
	   			</div>
	   			<div class="row">
	   				<div class="col-xs-12 mt-10">
						<label class='btn btn-danger'>电路坏了</label>
						<label class='btn btn-danger'>电路坏了</label>
						<label class='btn btn-danger'>电路坏了</label>
						<label class='btn btn-danger'>电路坏了</label>
	   				</div>
	   			</div>
	   			<div class="row mt-10">
	   				<div class='col-sm-2'>
	   					<label class='control-label pt-5'>故障描述</label>
	   				</div>
	   				<div class="col-sm-10">
						<label class='form-control ha'>电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了电路坏了</label>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<hr>
		<div class='row'>
			<div class='col-sm-3 col-xs-6'>
				<img src="__PUBLIC__static/index/images/11.jpg" alt="">
			</div>
			<div class='col-sm-3 col-xs-6'>
				<img src="__PUBLIC__static/index/images/11.jpg" alt="">
			</div>
			<div class='col-sm-3 col-xs-6'>
				<img src="__PUBLIC__static/index/images/11.jpg" alt="">
			</div>
			<div class='col-sm-3 col-xs-6'>
				<img src="__PUBLIC__static/index/images/11.jpg" alt="">
			</div>
		</div>
		<div class='row mt-20'>
			<div class='col-sm-2 col-sm-offset-5'>
				<a href='javascript:' class='btn btn-danger w-b' onclick="window.history.go(-1)">返回</a>
			</div>
		</div>

    </div>
</div>
<script >

</script>
{include file='public/footer'}
