{include file='public/header'}
 <div class='main' style="padding-top: 0%">
 	<div class='container'>       
 		  <div class='row'>
 		     <div class='col-md-8 col-md-offset-2'>
 		     	<div class='panel panel-red'>
 		     	    <div class='panel-heading'>
 		     	        <div class='panel-title'>
 		     	            <p class='panel-title-p style=''>
 		     	            	<span>
 		     	            		订单提交成功
 		     	            	</span>
 		     	            </p>
 		     	        </div>		     	    	
 		     	    </div>

 		     	    <div class='panel-body md-8'>
 		     	        <div class='row'>
 		     	            <div class='col-md-12 text-center'>
 		     	                <i class='fa fa-check-circle text-success' style="font-size: 5em;">	
 		     	                </i>	     	      
  		     	            </div>
 		     	        	<div class="content1 text-center">
 		     	        	    <span style="font-weight: bold;">
 		     	        	    	您的订单付款成功！
 		     	        	    </span>        		
 		     	        	</div>
 		     	        	<div class='content2 text-center' style="padding-top: 0.5em">
 		     	        		<span style="font-weight: bold;">
 		     	        			请您耐心等待，师傅接单后会在2小时内联系您
 		     	        		</span>
 		     	        	</div>
 		     	        	<div class='content3 text-center' style="padding-top: 0.5em">
 		     	        		<span style="font-size: 0.8em;font-weight: bold;">
 		     	        			(平台师傅在线时间为8:00-18:00，若在此时间外，师傅可能会顺延时间)
 		     	        		</span>
 		     	        	</div>
 		     	        	<div class='content4 text-center' style="padding-top: 3em">
 		     	        		<label class='btn btn-info ' style="font-size:1.5em;border-radius:5%"">
 		     	        			<span>
 		     	        				查看订单详情
 		     	        			</span>
 		     	        		</label>	
 		     	        	</div>
 		     	        </div>	
 		     	    </div>
 		     	</div>
 		     </div>			
          </div>     
 	</div>
 </div>

{include file='public/footer'}