{include file="public/header" }
<!-- 定义主题头部图片-->
<div class="main order_manage_client">
    <!--定义导航列表-->
    <div class="header-img">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!--/*主题*/-->
    <div class="container pl-0_media pr-0-media" >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>我的订单</small>
            <span>>></span>
        </h5>
    </div>
    <!--定义主题-->
    <div class="container pr-0_media ">
        <!--导航页面-->
        <div class="row The-test-panel-head">
            <div class="col-md-1 col-xs-1 col-sm-3 col-md-offset-6 hidden-xs line-height-30"> 我的订单</div>
            <div class="col-md-3 col-xs-7 col-sm-6 col-md-offset-1 seek">
                <input type="text" placeholder="输入店铺位置和订单号" class="border-aspx-fff ml-3_media form-control mr-10 pl-20"/>
                <i class="glyphicon glyphicon-search"></i>
            </div>
            <div class="col-md-1 col-xs-4 col-sm-3">
                <input style="border: 1px solid #ffffff;" type="button" class="btn border-radius btn-orange border-5-gray-b border-aspx" value="搜索">
            </div>
        </div>
        <div class="row The-test-panel-body pl-10 pr-0_medai pr-10_md">

            <div class="row mt-10" id="navigatesLeft">
                <!--左边-->
                {include file="public/left_order" }
                <!--右边-->
                <div class="col-md-12 col-sm-12 col-xs-12  pl-0_media pr-0_medai right" id='navigatesRigth'>
                    {include file="fenlei/nav" }
                    <!--订单信息-->
                    <div class="panel panel-default">
                        <div class="panel-heading" style="z-index: 0">
                            <div>
                                <p>
                                    <input type="checkbox"/>
                                    <span>2017-7-25</span>
                                    <span>订单号:33665888888444</span>
                                </p>

                                <span class="glyphicon glyphicon-trash "style="float: right;top:5px;" ></span>
                            </div>

                        </div>

                        <div class="panel-body">
                            <div class="media">

                                <div class="media-left">

                                    <a href="" class="w-h-img">
                                        <p class="ml-40">
                                            师傅名称
                                        </p>
                                        <br/>

                                        <img src="__PUBLIC__static/index/images/banner2.jpg"  alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>服务项目:    <span>维修</span></p>
                                    <p><span>店铺名称：</span>周大生珠宝</p>
                                    <p><span>店铺地址：</span>上海市嘉定区安亭镇方泰路51512号</p>
                                    <a href="" class="text-blue">查看详情>></a>
                                </div>
                                <div class="media-right text-center">
                                    <p>订单管理</p>
                                    ￥104444.00
                                    <br/>
                                    <button type="button" class="btn btn-xs btn-sm btn-primary">追加项目</button>
                                    <button type="button" class="btn btn-xs btn-sm btn-orange">提醒客户付款</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="z-index: 0">
                            <div>
                                <p>
                                    <input type="checkbox"/>
                                    <span>2017-7-25</span>
                                    <span>订单号:33665888888444</span>
                                </p>

                                <span class="glyphicon glyphicon-trash "style="float: right;top:5px;" ></span>
                            </div>

                        </div>

                        <div class="panel-body">
                            <div class="media">

                                <div class="media-left">

                                    <a href="" class="w-h-img">
                                        <p class="ml-40">
                                            师傅名称
                                        </p>
                                        <br/>

                                        <img src="__PUBLIC__static/index/images/banner2.jpg"  alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>服务项目:    <span>维修</span></p>
                                    <p><span>店铺名称：</span>周大生珠宝</p>
                                    <p><span>店铺地址：</span>上海市嘉定区安亭镇方泰路51512号</p>
                                    <a href="" class="text-blue">查看详情>></a>
                                </div>
                                <div class="media-right text-center">
                                    <p>订单管理</p>
                                    ￥104444.00
                                    <br/>
                                    <button type="button" class="btn btn-xs btn-sm btn-primary">追加项目</button>
                                    <button type="button" class="btn btn-xs btn-sm btn-orange">提醒客户付款</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" style="z-index: 0">
                            <div>
                                <p>
                                    <input type="checkbox"/>
                                    <span>2017-7-25</span>
                                    <span>订单号:33665888888444</span>
                                </p>

                                <span class="glyphicon glyphicon-trash "style="float: right;top:5px;" ></span>
                            </div>

                        </div>

                        <div class="panel-body">
                            <div class="media">

                                <div class="media-left">

                                    <a href="" class="w-h-img">
                                        <p class="ml-40">
                                            师傅名称
                                        </p>
                                        <br/>

                                        <img src="__PUBLIC__static/index/images/banner2.jpg"  alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <p>服务项目:    <span>维修</span></p>
                                    <p><span>店铺名称：</span>周大生珠宝</p>
                                    <p><span>店铺地址：</span>上海市嘉定区安亭镇方泰路51512号</p>
                                    <a href="" class="text-blue">查看详情>></a>
                                </div>
                                <div class="media-right text-center">
                                    <p>订单管理</p>
                                    ￥104444.00
                                    <br/>
                                    <button type="button" class="btn btn-xs btn-sm btn-primary">追加项目</button>
                                    <button type="button" class="btn btn-xs btn-sm btn-orange">提醒客户付款</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- 分页条-->
                    <div class="row ml-10_max-568">
                        <div class="col-md-4 ">
                            <input type="button" id="check_all" class="btn border-radius btn-default" value="全选">
                            <input type="button" id="Invert_Selection" class="btn border-radius btn-default" value="删除所有">
                        </div>
                        <div class="col-md-6 hidden-xs hidden-sm  text-right " id="">
                            <a href="" class="btn border-radius btn-default mr-20">上一页</a>
                            <a href="" class="btn border-radius btn-default">下一页</a>
                        </div>
                    </div>
                </div >
            </div>

        </div>
    </div>
</div>

<script>
    $("#DefineNavigationList>li>a").click(function (e) {
        e.preventDefault()
        $(this).parent().siblings().removeClass('active');
        $(this).parent().addClass('active');
    })
    $("#navigatesLeft>div>div>ul").on('click','li', function (e) {
        $(this).siblings().removeClass('active');
        $(this).addClass('active');
    })
    //师傅首页的侧边栏
    $('#master_type div span').eq(0).addClass('active');
    $('#master_type div span').click(function(){
        $(this).addClass('active').siblings().removeClass('active');
    });
    $('#left ul li').hover(function(){
        $(this).addClass('bg-orange').siblings('li').removeClass('bg-orange');

    },function(){
    });
    var menuShow = false;
    $('#menu_btn').click(function(){
        if(menuShow){
            $('#left').stop(true).animate({'left':'-'+200},1000);
            $(this).children('i').eq(1).removeClass('hide');
            $(this).children('i').eq(0).addClass('hide')
            menuShow = false;
        }else{
            $('#left').stop(true).animate({'left':0},1000);
            $(this).children('i').eq(1).addClass('hide');
            $(this).children('i').eq(0).removeClass('hide')
            menuShow = true;
        }
    });
    $(window).resize(function () {
        var wdiths=$(window).width();
        if(wdiths>776){
            $("#navigatesLeft .left").css('left','15px')
        }else{
            $("#navigatesLeft .left").css('left','-200px')
        }
    })
</script>
<script>
    //全选
    $(".panel-heading input[type='checkbox']").change(function () {
        var checknbox=$(".panel-heading input[type='checkbox']");
        checknbox.each(function (i,value) {
            if($(value).prop("checked")===false){
                $("#check_all").css('background',"#fff");
                return false;
            }else{
                $("#check_all").css('background',"red");
            }

        })
    });
    $(function () {
        var ty=true;
        $("#check_all").click(function () {
            if(ty){
                var checknbox=$(".panel-heading input[type='checkbox']");
                checknbox.each(function (i,value) {
                    $(value).prop('checked',true);
                    ty=false;
                })
            }else{
                var checknbox=$(".panel-heading input[type='checkbox']");
                checknbox.each(function (i,value) {
                    $(value).prop('checked',false);
                    ty=true;
                })
            }

        })
    })
    $(".panel-heading span.glyphicon").click(function () {
        $(this).parents('.panel-default').remove();
    })
    $("#Invert_Selection").click(function () {
        var checknbox=$(".panel-heading input[type='checkbox']");
        checknbox.each(function (i, v) {
            $(v).parents('.panel-default').remove()
        })
    })
</script>
{include file='public/footer'}







