<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main payment_external">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!--/*主题*/-->
    <div class="container " >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>支付成功页面</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container ml-10_media mr-10_media ">
        <!--/*标题*/-->
        <div class="row The-test-panel-head">
            <div class="col-xs-12 text-center">支付成功页面</div>
        </div>
        <div class="row">
            <div class="col-md-12 The-test-panel-body text-center">
                <p>亲爱的客户，请耐心等待标匠师傅前往工地进行施工，并留意消息中心的完工报告信息提示！</p>
                <a href="" class="col-xs-1 col-xs-offset-5">
                    <img src="__PUBLIC__static/index/images/58.gif" class="img-responsive " alt=""/>
                </a>
                <div class="col-md-3 col-md-offset-4">
                    <a href=" " class="btn btn-orange border-radius">支付成功</a>
                </div>
            </div>
        </div>

        </div>
    </div>

</div>
<script>
</script>
{include file="public/footer" }