{include file="public/header" }
<div class="main">
	<div class="container">
		<div class="header">
				<h5 class="page-header bx">
					<span>你当前所在位置</span>
					<span>>></span>
					<small>勘测施工报告确认表</small>
				</h5>
		</div>
		<div class="row">
		  <div class="col-md-12">
		    <div class="panel panel-orange">
			    <div class="panel-heading">
				    <div class="panel-title">
					    <p class="panel-title-p" style=" ">
						     <span>勘测施工报告确认表</span>
					    </p>
				    </div>
			    </div>
			    <div class="panel-body">
			   <!--  项目名称/店铺联系人 -->
			        <div class="row">
			        	<div class="col-md-12">
			        		<div class="content1" style="margin-top: 1em">
			        			<div class="row">
			        				<div class="col-md-6">
			        				  <div class="form-group">
			        					<div class="row" style="font-weight:bold">
			        						<div class="col-md-3" style="padding-top: 0.5em;">
			        							项目名称
			        						</div>
			        						   <div class="col-md-8">
			        				              <input type="text" name="" class="form-control"> 
			        			               </div>
			        					</div>
			        				  </div> 
			        				</div>
			        				<div class="col-md-6">
			        					<div class="row" style="font-weight:bold">
			        						<div class="col-md-3" style="padding-top: 0.5em">
			        							店铺联系人
			        						</div>
			        						<div class="col-md-8">
			        							<input type="text" name="" class="form-control">
			        						</div>
			        					</div>
			        				</div>
			        			</div>	
			        	    </div>
			            </div>
		            </div>
        <!--     项目地址/联系人电话 -->
         <div class="row">
         	<div class="col-md-12">
         		<div class="content2" style="margin-top: 1em">
         			<div class="row">
         				<div class="col-md-6">
         					<div class="row">
         						<div class="col-md-3" style="font-weight: bold;padding-top:0.5em">
         							项目地址
         						</div>
         						<div class="col-md-8">
         							<input type="text" name="" class="form-control">
         						</div>
         					</div>
         				</div>
         					<div class="col-md-6">
         						<div class="row" style="font-weight: bold">
         							<div class="col-md-3" style="padding-top: 0.5em">
         								联系人电话
         							</div>
         							<div class="col-md-8">
         								<input type="text" name="" class="form-control">
         							</div>
         						</div>
         					</div>
         			</div>
         		</div>
         	</div>
         </div>
    <!--      施工公司/施工师傅 -->
           <div class="row">
           	  <div class="col-md-12">
           	  	 <div class="content3" style="margin-top: 1em">
           	  	 	 <div class="row">
           	  	 	 	 <div class="col-md-6">
           	  	 	 	 	 <div class="row">
           	  	 	 	 	 	 <div class="col-md-3" style="font-weight: bold;padding-top:0.5em">
           	  	 	 	 	 	 	施工公司
           	  	 	 	 	 	 </div>
           	  	 	 	 	 	 <div class="col-md-8">
           	  	 	 	 	         <input type="text" name="" class="form-control">
           	  	 	 	          </div>
           	  	 	 	 	 </div>
                          </div>
           	  	 	 	 	 <div class="col-md-6">
           	  	 	 	 	 	 <div class="row ">
           	  	 	 	 	 	 	 <div class="col-md-3"  style="font-weight: bold;padding-top:0.5em">
           	  	 	 	 	 	 	 	施工师傅
           	  	 	 	 	 	 	 </div>
           	  	 	 	 	 	 	 <div class="col-md-8">
           	  	 	 	 	 	 	 	<input type="text" name="" class="form-control">
           	  	 	 	 	 	 	 </div>
           	  	 	 	 	 	 </div>
           	  	 	 	 	 </div>
           	  	 	 </div>
           	  	 </div>
           	  </div>
           </div>
    <!--        施工方联系人/施工方联系电话 -->
        <div class="row">
         	<div class="col-md-12">
         		<div class="content2" style="margin-top: 1em">
         			<div class="row">
         				<div class="col-md-6">
         					<div class="row">
         						<div class="col-md-3" style="font-weight: bold;padding-top:0.5em">
         							施工方联系人
         						</div>
         						<div class="col-md-8">
         							<input type="text" name="" class="form-control">
         						</div>
         					</div>
         				</div>
         					<div class="col-md-6">
         						<div class="row" style="font-weight: bold">
         							<div class="col-md-3" style="padding-top: 0.5em">
         								施工方联系电话
         							</div>
         							<div class="col-md-8">
         								<input type="text" name="" class="form-control">
         							</div>
         						</div>
         					</div>
         			</div>
         		</div>
         	</div>
         </div>
    <!--      施工完成 -->
           <div class="row">
           	  <div class="col-md-12">
           	  	 <div class="content3" style="margin-top: 1em">
           	  	 	 <div class="row">
           	  	 	 	 <div class="col-md-6">
           	  	 	 	 	 <div class="row">
           	  	 	 	 	 	 <div class="col-md-3" style="font-weight: bold;padding-top:0.5em">
           	  	 	 	 	 	 	施工完成
           	  	 	 	 	 	 </div>
           	  	 	 	 	 	 <div class="col-md-8">
           	  	 	 	 	         <input type="text" name="" class="form-control">
           	  	 	 	          </div>
           	  	 	 	 	 </div>
                          </div>
           	  	 	 </div>
           	  	 </div>
           	  </div>
           </div>
         </div>

               <hr>
      <!--      门头照片 -->
                       <div class="row mt-30">
                            <div class="col-md-1 col-sm-2 mt-30" style="padding-left: 2em">
                                  <input type="button" class="btn border-radius btn-default" value="门头照片">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <img id="" height="100px" class="mt-0_xs" style="float:left;margin-left: 50px;margin-top: -10px;" src="__PUBLIC__static/admin/images/no_img.jpg"/>
                            </div>
                         </div>

                       <hr>
        <!--    落位图 -->
                           <div class="row mt-30">
                                <div class="col-md-1 col-sm-2 mt-30" style="padding-left: 2em">
                                    <input type="button" class="btn border-radius btn-default" value="落位图">
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <img id="" height="100px" class="mt-0_xs" style="float:left;margin-left: 50px;margin-top: -10px;" src="__PUBLIC__static/admin/images/no_img.jpg"/>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <img id="" height="100px" style="float:left;margin-left: 50px;margin-top: -10px;" src="__PUBLIC__static/admin/images/no_img.jpg"/>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <img id="" height="100px" style="float:left;margin-left: 50px;margin-top: -10px;" src="__PUBLIC__static/admin/images/no_img.jpg"/>
                                </div>
                            </div>
                     <hr>
           <!--            现场测绘表 -->
                        <div class="row mt-30">
                            <div class="col-md-1 col-sm-2 mt-30" style="padding-left: 2em">
                                  <input type="button" class="btn border-radius btn-default" value="现场测绘表">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <img id="" height="100px" class="mt-0_xs" style="float:left;margin-left: 50px;margin-top: -10px;" src="__PUBLIC__static/admin/images/no_img.jpg"/>
                            </div>
                         </div>
                     <hr>
                 <!--     场地勘查表格 -->
                        <div class="row mt-30">
                            <div class="col-md-1 col-sm-2 mt-30" style="padding-left: 2em">
                                  <input type="button" class="btn border-radius btn-default" value="场地勘查表格">
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <img id="" height="100px" class="mt-0_xs" style="float:left;margin-left: 50px;margin-top: -10px;" src="__PUBLIC__static/admin/images/no_img.jpg"/>
                            </div>
                         </div>
                         <hr>
           <!--    安装（替换） 满意/一般/不满意 -->
                      <div  class="row">
                      	 <div class="col-md-12">
                      	 	 <div class="content4">
                      	 	 	 <div class="row">
                      	 	 	 	<div class="col-md-3 text-center">
                      	 	 	 		<span>安装（替换）</span>
                      	 	 	 	</div>
                      	 	 	 	<div class="col-md-2">
                      	 	 	 	    <input type="radio" name="radio1" value="">满意
                      	 	 	 	</div>
                      	 	 	 	<div class="col-md-2">
                      	 	 	 	    <input type="radio" name="radio1" value="">一般
                      	 	 	 	</div>
                      	 	 	 	<div class="col-md-2">
                      	 	 	 	    <input type="radio" name="radio1" value="">不满意
                      	 	 	 	</div>
                      	 	 	 	<div class="col-md-3 text-center">
                      	 	 	 	  <a href="	">
                      	 	 	 		 <i class="fa fa-download" aria-hidden="true" style="color:green"></i>
                      	 	 	 		 <span style="color:green">批量下载</span>
                      	 	 	 	  </a>
                      	 	 	 	</div>
                      	 	 	 </div>
                      	 	 </div>
                      	 </div>
                      </div>
                <!--    业主方签字/施工方签字 -->
                      <div class="row">
                      	  <div class="col-md-12">
                      	  	 <div class="content5" style="margin:5em 0">
                      	  	 	<div class="row">
                      	  	 	    <div class="col-md-6">
                      	  	 	    	<div class="row">
                      	  	 	    		<div class="col-md-4 text-center">
                      	  	 			       <input type="button" class="btn border-radius btn-default" value="业主方签字">
                      	  	 		        </div>
                      	  	 		        <div class="col-md-7">
                      	  	 			       <input type="text" name="" class="form-control">
                      	  	 		        </div>
                      	  	 	    	</div>
                      	  	 	    </div>
                      	  	 	    <div class="col-md-6">
                      	  	 	    	<div class="row">
                      	  	 	    		<div class="col-md-4 text-center">
                      	  	 			       <input type="button" class="btn border-radius btn-default" value="施工方签字">
                      	  	 		        </div>
                      	  	 		        <div class="col-md-7">
                      	  	 			       <input type="text" name="" class="form-control">
                      	  	 		        </div>
                      	  	 	    	</div>
                      	  	 	    </div>
                      	  	 	
                      	  	 	</div>
                      	  	 </div>
                      	  </div>
                      </div> 
                 </div>  
		  </div>
		</div>
<!-- 		确认/报告有问题 -->
		 <div class="row">
		 	<div class="col-md-12">
		 		<div class="row">
		 			<div class="col-md-6 text-center">
		 				<input type="button" name="" class="btn border-radius btn-success" style="padding:1em 6.5em;border-radius:0.5em" value="确认">
		 			</div>
		 			<div class="col-md-6 text-center" >
		 				<input type="button" name="" class="btn border-radius btn-primary" style="padding:1em 5em;border-radius:0.5em" value="报告有问题">
		 			</div>
		 		</div>
		 	</div>
		 </div>
	</div>
</div>

{include file="public/footer" }