<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main payment_external">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!--/*主题*/-->
    <div class="container pr-0-media pl-0_media" >
        <h5 class="page-header bx">
            <span class="pl-10">当前位置：</span>
            <small>支付成功页面</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container ">
        <!--/*标题*/-->
        <div class="row pr-10_md  The-test-panel-head">
            <div class="col-xs-12  text-center">支付成功页面</div>
        </div>
        <div class="row text-left-xs">
            <div class="col-md-12  The-test-panel-body pl-0 pr-0  text-center">
                <i class="glyphicon text-success glyphicon-ok-sign" style="font-size: 40px"></i><span  class="text-success" style="font-size: 20px;position: relative;top: -10px;left: 10px; ">接单成功!</span>
                <p class="h3">客户联系房方式 </p>
                <p class="h5">15855555555</p>
                <p class="text-darkgray">
                   注：请在俩小时俩小时联系客户,并选择前往维修时间</p>
                <div class="border-bottom-1"></div>
                <p>客户己经上传验收报告 <a href="" class="text-blue">点击下载</a></p>
                <div class="border-bottom-1">

                </div>
                <div class="row">
                    <div class="col-md-2 text-left-xs col-md-offset-3 mt-10">
                        选择维修前往的时间
                    </div>
                    <div class="col-md-4 mt-10">
                        <input class="layui-input" placeholder="自定义日期格式" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-left-xs col-md-offset-3 mt-10">
                        无法联系客户的原因
                    </div>
                    <div class="col-md-4  mt-10">
                        <select name="" class="form-control" id="">
                            <option value="">无法接通</option>
                            <option value="">无法接通</option>
                            <option value="">无法接通</option>
                            <option value="">无法接通</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>
<script>
</script>
{include file="public/footer" }