<!--nav-->
{include file="public/header" }
<div class="main">
    <!--header-img-->
    <div class="header-img mt-130">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!-- 面包屑导航-->
    <div class="container pl-7_sm">
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>学习页面</small><span>>></span>
        </h5>
        <div class="row  mt-10 Teacher_learning" id="navigatesLeft">
                <div class="clo-xs-12 " id='navigatesRigth'>
                    <div class="panel panel-default height ">
                        <div class="panel-heading bg-orange">

                                师傅学习页面


                        </div>
                        <div class="panel-body">
                            <!-- 视屏播放-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <!-- 第一阶段-->
                                    <!-- 红色正在学习-->
                                    <div class="row">
                                        <!-- 头部-->
                                        <div class="panel-heading bg-gray ">
                                             <i class="glyphicon glyphicon-education"></i>   第一阶段
                                            <span class="">平台基本知识</span>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="Teacher_learning_ul">
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-blacker">1.2</li>
                                                        <li class="round">
                                                            <div class="blacker">
                                                                <div class="bg_blacker"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>
                                                        <li class="pull-right video_playing">
                                                            <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe623;
                                                            </i>
                                                            5万
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_blacker"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-blacker">1.3</li>
                                                        <li class="round">
                                                            <div class="blacker">
                                                                <div class="bg_blacker"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>

                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_blacker"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-blacker">1.1</li>
                                                        <li class="round">
                                                            <div class="blacker">
                                                                <div class="bg_blacker"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>
                                                        <li class="pull-right video_playing">
                                                            <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe623;
                                                            </i>
                                                            5万
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_blacker"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-blacker">1.4</li>
                                                        <li class="round">
                                                            <div class="blacker">
                                                                <div class="bg_blacker"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- 第二阶段-->
                                    <!-- 黑色学习过-->
                                    <div class="row">
                                        <!-- 头部-->
                                        <div class="panel-heading bg-gray ">
                                            <i class="glyphicon glyphicon-education"></i>   第二阶段
                                            <span class="">木工基本知识</span>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="Teacher_learning_ul">
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-orange">2.1</li>
                                                        <li class="round">
                                                            <div class="orange">
                                                                <div class="bg_orange"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>
                                                        <li class="pull-right video_playing">
                                                            <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe623;
                                                            </i>
                                                            5万
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_gray"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-gray">2.2</li>
                                                        <li class="round">
                                                            <div class="gray_z">
                                                                <div class="bg_gray_z"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>

                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_gray"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-gray">2.3</li>
                                                        <li class="round">
                                                            <div class="gray_z">
                                                                <div class="bg_gray_z"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>
                                                        <li class="pull-right video_playing">
                                                            <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe623;
                                                            </i>
                                                            5万
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_gray"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-gray">2.4</li>
                                                        <li class="round">
                                                            <div class="gray_z">
                                                                <div class="bg_gray_z"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- 第三阶段-->
                                    <!-- 灰色没有学习-->
                                    <div class="row">
                                        <!-- 头部-->
                                        <div class="panel-heading bg-gray ">
                                            <i class="glyphicon glyphicon-education"></i>   第三阶段
                                            <span class="">施工基本知识</span>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="Teacher_learning_ul">
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-gray">3.1</li>
                                                        <li class="round">
                                                            <div class="gray_z">
                                                                <div class="bg_gray_z"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>
                                                        <li class="pull-right video_playing">
                                                            <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe623;
                                                            </i>
                                                            5万
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_gray"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-gray">3.2</li>
                                                        <li class="round">
                                                            <div class="gray_z">
                                                                <div class="bg_gray_z"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>

                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_gray"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-gray">3.3</li>
                                                        <li class="round">
                                                            <div class="gray_z">
                                                                <div class="bg_gray_z"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>

                                                    </ul>
                                                </li>
                                                <li class="Vertical_lines_orange  Vertical_lines_left_gray"></li>
                                                <li>
                                                    <ul class="The_list_of_floating">
                                                        <li class="text-gray">3.4</li>
                                                        <li class="round">
                                                            <div class="gray_z">
                                                                <div class="bg_gray_z"></div>
                                                            </div>
                                                        </li>
                                                        <li>xxxxxxxxxxxxxxxxxxxxxx</li>
                                                        <li class="pull-right video_playing">
                                                            <i class="layui-icon" style="font-size: 30px; color: #1E9FFF;">&#xe623;
                                                            </i>
                                                            5万
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--留言-->
                        </div>
                    </div>

                </div>
        </div>
        <div class="row hight">
          <div class="col-md-12 pr-0">
              <div class="media">
                  <div class="media-left">
                      <a href="">
                          <img src="__PUBLIC__static/index/images/banner.jpg"  class="media-object" alt=""/>
                      </a>
                  </div>
                  <div class="media-body">
                      <button class=" pull-right" id="xieliuyan">写留言</button>
                      <button class="btn btn-success pull-right" style="background: red;display: none">发表</button>
                      <i class="layui-icon text-black pull-right" style="font-size: 30px; color: #1E9FFF;">&#xe642;</i>
                      <h4 class="media-heading">Media heading</h4>
                      <textarea name="" id="liuyan" cols="30" rows="10" disabled>
                          000000lorem
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid autem commodi corporis, dolor eveniet, hic in neque pariatur perferendis ratione rem vitae! Aliquam architecto, eveniet perspiciatis qui suscipit velit!
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis maxime, nam. Alias architecto autem debitis dicta distinctio dolorem dolorum est ex, expedita in ipsam iusto non officia provident repudiandae soluta!
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi aut autem deserunt fugit magni maxime nam nesciunt omnis optio quae, rem reprehenderit similique sit voluptatibus! A cumque hic ut.\
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aut blanditiis commodi dolor, eaque eligendi enim harum inventore laudantium nam, necessitatibus nostrum omnis quo reprehenderit sit sunt vero. Officiis, veniam!
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto doloribus hic, labore laboriosam minima modi nostrum obcaecati, odio officia quaerat quisquam tenetur, vero voluptates. Ad ipsam nisi officiis saepe velit.
                      </textarea>

                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
<script>
$("#xieliuyan").click(function () {
    $("#liuyan").css("border","1px solid #ddd");
    $("#liuyan").html('');
    $("#liuyan").removeAttr('disabled');
    $(this).css('display','none');
    $(this).siblings('i').css('display','none')
    $(this).siblings('.btn').css('display','block')
})

</script>
{include file='public/footer'}