{include file="public/header" }
<div class="main">
    <div class="the_customer_sign_in">
        <a class="x" href="Master_order_status">x</a>
        <h3>任务签到</h3>
        <p>
            <span>订单:00000000</span>
            <span>单价：00000</span>
        </p>
        <div class="yuan">
            <div>
                <a href="">签到</a>
            </div>
        </div>
        <div class="btn  border-radius">
            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
            <span>当前位置:上海</span>
        </div>
    </div>

</div>

<script>
//    <!--x-->
    $(".x").click(function (e) {

    });
</script>
