{include file='public/header'}

<div class='main'>
	<div class='header-img'>
		<img src="__PUBLIC__static/index/images/banner4.jpg" alt="" class='m-auto img-responsive'>
	</div>
	<div class='container' style='position:relative;'>
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>我的订单</small><span>>></span>
        </h5>
        
		{include file='public/left'}
	    <div class='right'>
        	<div class='panel panel-orange'>
	        	<div class='panel-heading'>
					<div class="panel-title">
						<span>上传勘测手稿照片</span>
					</div>
	        	</div>
	        	<div class="panel-body">
	        		<div class='row'>
	        			<div class='col-sm-8 col-sm-offset-2'>
	        				<input type="file" name="" class='hide manuscripts' id='manuscripts' >
	        			</div>
	        			<div class='col-sm-8 col-sm-offset-2 text-center mt-5'>
	        				<label for='manuscripts' class='btn btn-primary'>上传</label>
	        			</div> 
	        		</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>
<script>
file('manuscripts',5);
</script>
{include file='public/footer'}
