<!--nav-->
{include file="public/header" }
<div class="main">
    <!--header-img-->
    <div class="header-img mt-130">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!-- 面包屑导航-->
    <div class="container container-hidden">
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>审核情况</small><span>>></span>
        </h5>
        <!-- 左边框-->
        <div class="row mt-10 Inquiries_orders_page" id="navigatesLeft">

            <div class="clo-xs-12 " id='navigatesRigth'>
                <div class="panel panel-default height ">
                    <div class="panel-heading bg-orange">
                        <span>审核情况</span>
                    </div>
                </div>
                <div class="panel-body Inquiries_orders_page_none pl-50 pr-30">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>订单号</th>
                            <th>文件类型</th>
                            <th>上传文件类型</th>
                            <th>状态</th>
                            <th>审核意见</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                           <td>
                               xxxxxxxx
                           </td>
                            <td>
                                勘测报告
                            </td>
                            <td>
                                二次上传
                            </td>
                            <td>
                               待审核
                            </td>
                            <td>
                                xxxxxxxxssss
                            </td>
                        </tr>
                        <tr>
                            <td>
                                xxxxxxxx
                            </td>
                            <td>
                                勘测报告
                            </td>
                            <td>
                                二次上传
                            </td>
                            <td>
                                待审核
                            </td>
                            <td>
                                xxxxxxxxssss
                            </td>
                        </tr>
                        <tr>
                            <td>
                                xxxxxxxx
                            </td>
                            <td>
                                勘测报告
                            </td>
                            <td>
                                二次上传
                            </td>
                            <td>
                                待审核
                            </td>
                            <td>
                                xxxxxxxxssss
                            </td>
                        </tr>
                        <tr>
                            <td>
                                xxxxxxxx
                            </td>
                            <td>
                                勘测报告
                            </td>
                            <td>
                                二次上传
                            </td>
                            <td>
                                待审核
                            </td>
                            <td>
                                xxxxxxxxssss
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row mt-20">
                        <div class="col-md-3 col-sm-4 col-xs-6">
                            <input type="button" class="btn btn-blue form-control border-radius" value="上传勘测报告">
                            </div>
                        <div class="col-md-3 col-sm-4 col-sm-offset-4 col-xs-6 col-md-offset-6">
                            <input type="button" class="btn btn-blue border-radius form-control" value="上传勘测手稿">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>



</script>
{include file='public/footer'}