{include file='public/header'}
<div class="main">
	<div class="container">
		<div class="header">
				<h5 class="page-header bx">
					<span>当前所在位置</span>
					<span>>></span>
					<small>微信支付</small>
				</h5>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">
					<p class="panel-title-p">
						<span>微信支付</span>
					</p>
				</div>
			</div>
		   <div class="panel-body">
			  <img src="__PUBLIC__static/index/images/weixinzhifu.png" class="img-responsive" alt=""/>
		   </div>
		</div>
	</div>
</div>
{include file='public/footer'}