{include file='public/header'}

<div class='main'>
	<div class='header-img'>
		<img src="__PUBLIC__static/index/images/banner4.jpg" alt="" class='m-auto img-responsive'>
	</div>
	<div class='container' style='position:relative;'>
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>师傅填写勘测报告</small><span>>></span>
        </h5>
        
		{include file='public/left'}
	    <div class='right'>
        	<div class='panel panel-orange'>
	        	<div class='panel-heading'>
					<div class="panel-title">
						<span>填写勘测报告</span>
					</div>
	        	</div>
	        	<div class="panel-body">
		        	<form class='form-horizontal'>
		        		<h4 class='heading mb-20'>勘测情况确认表</h4>
		        		<div class='row'>
		        			<div class="col-md-6">
								<div class="form-group">
				        			<label class='col-md-4'>
										商场名称
				        			</label>
				        			<div class="col-md-8">
				        				<input type="text" name="" class='form-control' placeholder="请输入商场名称">
				        			</div>	
		        				</div>
		        			</div>
		        			<div class="col-md-6">
								<div class="form-group">
				        			<label class='col-md-5'>
										联系人
				        			</label>
				        			<div class="col-md-7">
				        				<input type="text" name="" class='form-control' placeholder="请输入联系人">
				        			</div>	
		        				</div>
		        			</div>
		        		</div>

		        		<div class='row'>
		        			<div class="col-md-6">
								<div class="form-group">
				        			<label class='col-md-4'>
										联系电话
				        			</label>
				        			<div class="col-md-8">
				        				<input type="text" name="" class='form-control' placeholder="请输入联系电话">
				        			</div>	
		        				</div>
		        			</div>
		        			<div class="col-md-6">
								<div class="form-group">
				        			<label class='col-md-4'>
										联系人地址
				        			</label>
				        			<div class="col-md-8">
				        				<input type="text" name="" class='form-control' placeholder="请输入联系人地址">
				        			</div>	
		        				</div>
		        			</div>
		        		</div>
		        		<div class='row'>
		        			<div class="col-md-6">
								<div class="form-group">
				        			<label class='col-md-4'>
										手机
				        			</label>
				        			<div class="col-md-8">
				        				<input type="text" name="" class='form-control' placeholder="请输入手机号码">
				        			</div>	
		        				</div>
		        			</div>
		        			<div class="col-md-6">
								<div class="form-group">
				        			<label class='col-md-4'>
										传真
				        			</label>
				        			<div class="col-md-8">
				        				<input type="text" name="" class='form-control' placeholder="请输入传真号码">
				        			</div>	
		        				</div>
		        			</div>
		        		</div>

		        		<div class='row'>
		        			<div class="col-md-6">
								<div class="form-group">
				        			<label class='col-md-4'>
										测量时间
				        			</label>
				        			<div class="col-md-8">
				        				<input type="text" name="" class='form-control' placeholder="请输入测量时间">
				        			</div>	
		        				</div>
		        			</div>
		        		</div>

		        	<hr class='bx'>
		        	<h4 class='heading mb-20'>装柜设计所需技术支持</h4>
		        	<div class="row">
			        	<table class='table-hover table table-striped table-bordered'>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>品牌</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>专柜面积</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>地板至天花板高度</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>柜台总高度(包括吊顶厚度)</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>吊顶(帽沿)厚度/高度</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>柜楣突出多少?高度多少</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>背柜及矮柜的高度要求</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>吊顶是打吊杆还是玻璃支撑</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>吊顶形式(注意烟感喷淋是否有影响)</th>
								<td class='col-xs-7 col-sm-8'>
									<div class='row'>
										<div class="col-xs-6">
											<div class="checkbox checkbox-success">
						                        <input type="radio" name="radio1" class='styled' id="radio1" value="">
						                        <label for="radio1">
						                            是
						                        </label>
						                    </div>
										</div>
										<div class="col-xs-6">
											<div class="checkbox checkbox-danger">
						                        <input type="radio" name="radio1" id="radio" value="">
						                        <label for="radio">
						                            否
						                        </label>
						                    </div>
										</div>
									</div>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>商场对玻璃支撑是否有明确要求</th>	
								<td class='col-xs-7 col-sm-8'>
									<div class='row'>
										<div class="col-xs-6">
											<div class="checkbox checkbox-success">
						                        <input type="radio" name="radio2" class='styled' id="radio3" value="">
						                        <label for="radio3">
						                            是
						                        </label>
						                    </div>
										</div>
										<div class="col-xs-6">
											<div class="checkbox checkbox-danger">
						                        <input type="radio" name="radio2" id="radio4" value="">
						                        <label for="radio4">
						                            否
						                        </label>
						                    </div>
										</div>
									</div>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>吊顶是否可以从天花板上垂吊</th>	
								<td class='col-xs-7 col-sm-8'>
									<div class='row'>
										<div class="col-xs-6">
											<div class="checkbox checkbox-success">
						                        <input type="radio" name="radio3" class='styled' id="radio5" value="">
						                        <label for="radio5">
						                            是
						                        </label>
						                    </div>
										</div>
										<div class="col-xs-6">
											<div class="checkbox checkbox-danger">
						                        <input type="radio" name="radio3" id="radio6" value="">
						                        <label for="radio6">
						                            否
						                        </label>
						                    </div>
										</div>
									</div>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>有无防火设施和电子设备</th>	
								<td class='col-xs-7 col-sm-8'>
									<div class='row'>
										<div class="col-xs-6">
											<div class="checkbox checkbox-success">
						                        <input type="radio" name="radio4" class='styled' id="radio7" value="">
						                        <label for="radio7">
						                            是
						                        </label>
						                    </div>
										</div>
										<div class="col-xs-6">
											<div class="checkbox checkbox-danger">
						                        <input type="radio" name="radio4" id="radio8" value="">
						                        <label for="radio8">
						                            否
						                        </label>
						                    </div>
										</div>
									</div>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>特殊要求？如有,详细说明</th>	
								<td class='col-xs-7 col-sm-8'>
									<textarea class='form-control' rows='3'></textarea>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>总用电量(w)</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>供电方式</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>供电位置</th>	
								<td class='col-xs-7 col-sm-8'>
									<select class='form-control'>
										<option>吊顶</option>
									</select>
								</td>	
							</tr>

							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>是否同其他柜台拼接</th>	
								<td class='col-xs-7 col-sm-8'>
									<div class='row'>
										<div class="col-xs-6">
											<div class="checkbox checkbox-success">
						                        <input type="radio" name="radio5" class='styled' id="radio9" value="">
						                        <label for="radio9">
						                            是
						                        </label>
						                    </div>
										</div>
										<div class="col-xs-6">
											<div class="checkbox checkbox-danger">
						                        <input type="radio" name="radio5" id="radio10" value="">
						                        <label for="radio10">
						                            否
						                        </label>
						                    </div>
										</div>
									</div>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>柜台安装时从那个门进入,门的大小</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>
							<tr>
								<th class='col-xs-5 col-sm-4 text-sm text-right'>如何搬运,是否需要用电梯及电梯内空间</th>	
								<td class='col-xs-7 col-sm-8'>
									<input type="text" name="" class='form-control'>
								</td>	
							</tr>		        	
			        	</table>
		        	</div>
		        	<hr class="bx">
		        	<h4 class='heading mb-20'>特别注意(如果有必须在图纸上表明)</h4>
		        	<div class='row'>
		        	<table class='table table-bordered table-hover table-striped'>
						<tr>
							<th class='col-xs-5 col-sm-4 text-sm text-right'>商场原有柱子表面是否有包柱结构</th>	
							<td class='col-xs-7 col-sm-8'>
								<div class='row'>
									<div class="col-xs-6">
										<div class="checkbox checkbox-success">
					                        <input type="radio" name="radio6" class='styled' id="radio11" value="">
					                        <label for="radio11">
					                            是
					                        </label>
					                    </div>
									</div>
									<div class="col-xs-6">
										<div class="checkbox checkbox-danger">
					                        <input type="radio" name="radio6" id="radio12" value="">
					                        <label for="radio12">
					                            否
					                        </label>
					                    </div>
									</div>
								</div>
							</td>	
						</tr>

						<tr>
							<th class='col-xs-5 col-sm-4 text-sm text-right'>柜位范围内是否有消防栓等其他消防设施</th>	
							<td class='col-xs-7 col-sm-8'>
								<div class='row'>
									<div class="col-xs-6">
										<div class="checkbox checkbox-success">
					                        <input type="radio" name="radio7" class='styled' id="radio13" value="">
					                        <label for="radio13">
					                            是
					                        </label>
					                    </div>
									</div>
									<div class="col-xs-6">
										<div class="checkbox checkbox-danger">
					                        <input type="radio" name="radio7" id="radio14" value="">
					                        <label for="radio14">
					                            否
					                        </label>
					                    </div>
									</div>
								</div>
							</td>	
						</tr>

						<tr>
							<th class='col-xs-5 col-sm-4 text-sm text-right'>柜位范围内是否有卷帘门及卷帘门开关</th>	
							<td class='col-xs-7 col-sm-8'>
								<div class='row'>
									<div class="col-xs-6">
										<div class="checkbox checkbox-success">
					                        <input type="radio" name="radio8" class='styled' id="radio15" value="">
					                        <label for="radio15">
					                            是
					                        </label>
					                    </div>
									</div>
									<div class="col-xs-6">
										<div class="checkbox checkbox-danger">
					                        <input type="radio" name="radio8" id="radio16" value="">
					                        <label for="radio16">
					                            否
					                        </label>
					                    </div>
									</div>
								</div>
							</td>	
						</tr>

						<tr>
							<th class='col-xs-5 col-sm-4 text-sm text-right'>柜位范围内卷帘门开关是否可以移位</th>	
							<td class='col-xs-7 col-sm-8'>
								<div class='row'>
									<div class="col-xs-6">
										<div class="checkbox checkbox-success">
					                        <input type="radio" name="radio11" class='styled' id="radio17" value="">
					                        <label for="radio17">
					                            是
					                        </label>
					                    </div>
									</div>
									<div class="col-xs-6">
										<div class="checkbox checkbox-danger">
					                        <input type="radio" name="radio11" id="radio18" value="">
					                        <label for="radio18">
					                            否
					                        </label>
					                    </div>
									</div>
								</div>
							</td>	
						</tr>

						<tr>
							<th class='col-xs-5 col-sm-4 text-sm text-right'>柜位范围内是否有检修口(包括天花板部分)</th>	
							<td class='col-xs-7 col-sm-8'>
								<div class='row'>
									<div class="col-xs-6">
										<div class="checkbox checkbox-success">
					                        <input type="radio" name="radio9" class='styled' id="radio19" value="">
					                        <label for="radio19">
					                            是
					                        </label>
					                    </div>
									</div>
									<div class="col-xs-6">
										<div class="checkbox checkbox-danger">
					                        <input type="radio" name="radio9" id="radio20" value="">
					                        <label for="radio20">
					                            否
					                        </label>
					                    </div>
									</div>
								</div>
							</td>	
						</tr>

						<tr>
							<th class='col-xs-5 col-sm-4 text-sm text-right'>柜位范围内是否有水管/电线管道</th>	
							<td class='col-xs-7 col-sm-8'>
								<div class='row'>
									<div class="col-xs-6">
										<div class="checkbox checkbox-success">
					                        <input type="radio" name="radio10" class='styled' id="radio21" value="">
					                        <label for="radio21">
					                            是
					                        </label>
					                    </div>
									</div>
									<div class="col-xs-6">
										<div class="checkbox checkbox-danger">
					                        <input type="radio" name="radio10" id="radio22" value="">
					                        <label for="radio22">
					                            否
					                        </label>
					                    </div>
									</div>
								</div>
							</td>	
						</tr>

						<tr>
							<th class='col-xs-5 col-sm-4 text-sm text-right'>施工时间</th>	
							<td class='col-xs-7 col-sm-8'>
								<div class='row'>
									<div class="col-sm-4">
										<div class="checkbox checkbox-success">
					                        <input type="radio" name="radio12" class='styled' id="radio23" value="">
					                        <label for="radio23">
					                            白天
					                        </label>
					                    </div>
									</div>
									<div class="col-sm-4">
										<div class="checkbox checkbox-warning">
					                        <input type="radio" name="radio12" id="radio24" value="">
					                        <label for="radio24">
					                            晚上
					                        </label>
					                    </div>
									</div>
									<div class="col-sm-4">
										<div class="checkbox checkbox-danger">
					                        <input type="radio" name="radio12" id="radio25" value="">
					                        <label for="radio25">
					                            随时
					                        </label>
					                    </div>
									</div>
								</div>
							</td>	
						</tr>
		        	</table>
		        	</div>
		        	<hr class='bx'>
		        	<div class="row">
		        	<h4 class='heading'>施工事宜：</h4>
		        		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 b-s-2-e3e3e3 p-30">
		        			<div class="row">
		        				<div class="col-xs-12  p-15">
		        					<span>1.进场必须提前几天申请。</span>
		        				</div>
		        			</div>
		        			<div class="row">
		        				<div class="col-xs-12 p-15">
		        					<span>2.办施工手续所需文件(问商场是否有施工需求单,请索要一份)</span>
		        				</div>
		        			</div>
		        		</div>	
		        	</div>
		        	<hr class='bx'>
		        	<div class="row">
		        		<div class="col-sm-8 col-sm-offset-2">
		        			<div class="row">
		        				<div class="col-xs-6">
		        					<a href="javascript:" class='btn btn-default'><i class="fa fa-long-arrow-down text-success" aria-hidden="true"></i>  下载word文档</a>
		        				</div>
		        				<div class="col-xs-6 text-right">
		        					<input type="button" class='btn btn-success' name="" value='上传'>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        	</form>
	        	</div>
        	</div>
        	<div class="row">
                <div class="col-xs-12 text-right">
                   <a href="javascript:" onclick='javascript:history.back(-1);'>返回>></a> 
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
{include file='public/footer'}
