<!--nav-->
{include file="public/header" }
<!--main-->
<div class="main jilt_single">
    <!-- header-img-->
    <div class="header-img ">
        <img src="__PUBLIC__static/index/images/banner.jpg" class="img-responsive " alt=""/>
    </div>
    <!--/*主题*/-->
    <div class="container " >
        <h5 class="page-header bx">
            <span>当前位置：</span>
            <small>月结付款</small>
            <span>>></span>
        </h5>
    </div>

    <div class="container ml-10_media mr-10_media ">
        <!--/*标题*/-->

        <div class="row The-test-panel-head">
            <div class="col-xs-12">
                <span>订单号</span>
                <span>xxxxxxxx</span>
            </div>
        </div>
        <form class="form-signin layui-form" id="jilt_single" method="post" >
            <div class="row The-test-panel-body pl-0 pr-0">
                <div class="col-md-12 ">
                    <!--所需总数-->
                    <div class="row form-group">
                        <label class="col-md-offset-2  col-md-2 ">客户名称</label>
                        <div class="col-md-6">
                            <input type="text" name="customer_name" id="customer_name" value="" class="form-control">
                        </div>
                    </div>
                    <!--维修地址-->
                    <div class="row form-group">
                        <label class="col-md-offset-2 col-md-2 ">维修地址</label>
                        <div class="col-md-6 ">
                            <input type="text" name="target_address" id="target_address" value="" class="form-control">
                        </div>
                    </div>
                    <!--table-->
                    <div class="row sheet border-bottom-1 border-top">
                        <div class="col-md-8 mt-30 p-20 col-md-offset-2">
                            <table class="table  table-bordered">
                                <thead>
                                <tr>
                                    <td>项目</td>
                                    <td> 原价</td>
                                    <td>本订单收费</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>项目一</td>
                                    <td> 50</td>
                                    <td>
                                        50
                                    </td>
                                </tr>
                                <tr>
                                    <td>项目一</td>
                                    <td> 50</td>
                                    <td>
                                        50
                                    </td>
                                </tr>
                                <tr>
                                    <td>项目一</td>
                                    <td> 50</td>
                                    <td>
                                        50
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row border-bottom-1">
                        <div class="col-md-8 mt-10 pb-20 pt-20 col-md-offset-2  line-height-30">
                            <p >
                                <input class="" type="checkbox">试用平台预算价
                            </p>
                            <p>
                                <span>订单编号:&nbsp;</span><span>xxxxxxxxxxxxxxxxxxxxxxxx</span>
                            </p>
                            <p><span>合计:&nbsp;</span><span>xxxxxxxxxxxxxx</span></p>
                        </div>
                    </div>
                    <div class="row mt-10 ">
                        <div class="col-xs-4 col-md-offset-2 col-md-2">
                            <input type="button" value="付款方式" class="btn btn-default border-radius">
                        </div>
                        <div class="col-xs-8 col-md-6">
                            <select name="modules" class="form-control" lay-verify="required" lay-search="">
                                <option value="1">平台月结</option>
                                <option value="">按次收费</option>
                               
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group col-md-offset-4 mt-20">
                    <a href="javascript:;" id="validateBtn" class="btn btn-orange  border-radius form-control" onclick="payment({$total},{$order_number})" >付款</a>
                </div>
            </div>
        </form>
    </div>

</div>
<script>

    layui.use('form', function(){
        var form = layui.form();
        form.render();
    });
    $('#jilt_single').bootstrapValidator({
        message: '这个值是无效的.',
        feedbackIcons: { /*input状态样式图片*/
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            customer_name: {
                message: '客户名称',
                validators: {
                    notEmpty: {
                        message: '名称不能为空'
                    },
                    stringLength: {
                        min: 2,
                        max: 6,
                        message: '最大长度6位最小长度2位',
                    }
                }
            },
            target_address:{
                message: '目标地址',
                validators: {
                    notEmpty: {
                        message: '目标地址不能为空'
                    },
                    stringLength: {
                        min: 2,
                        max: 6,
                        message: '最大长度6位最小长度2位',
                    }
                }
            },
            Appointment_start_time:{
                message: '时间',
                validators: {
                    notEmpty: {
                        message: '时间不能为空'
                    }

                }
            }
        }
    });
    $('#validateBtn').click(function() {

        $('#jilt_single').bootstrapValidator('validate');
        $("i.form-control-feedback").remove();

    });
    $('input[type="text"]').focus(function() {
        $('#jilt_single').bootstrapValidator('validate');
        $("i.form-control-feedback").remove();

    });

</script>
<script>
//月结付款
function payment(total,order_number){
            $.ajax({
              url:'__PUBLIC__is_weixin',
              type:'post',
              data:{},
              dataType:'json',
              success:function(data){
                 if(data==true){
                  location.href="http://www.bj-wang.com/wxpay/pay?total="+total+"&&number="+order_number;
                 }else{
                  $.ajax({
                          url:'__PUBLIC__total',
                          type:'post',
                          data:{total:total,number:order_number},
                          dataType:'json',
                          success:function(data){
                               if(data.code==200){
                                 location.href="http://www.bj-wang.com/wxpay/scan/number/"+order_number;
                               }
                  
                        }     
                    })
            
                 }
              
            }
        })
    }
</script>
{include file="public/footer" }