{include file='public/header'}
{include file="public/style_header"}
<style type="text/css">
@media screen and (min-width: 992px){
	#content{
		margin-top:2em;
	}
	#text{
		padding-left: 4%;
	}
	#btn{
		padding:0.7em 6em;
		margin-top: 3em;
		margin-bottom: 33em;
	}
}
@media screen and (max-width: 768px){
	#btn{
		padding:0.7em 3em;
		margin-top: 2em;
		margin-bottom: 3em;
		margin-left: 20%;
	}
}

</style>

<div class="main">
	<div class="container">
		<div class="panel panel-orange">
			<div class="panel-heading">
				<div class="panel-title">
					个人中心
				</div>
			</div>
			<div class="panel-body">
			<div class="row">
                <div class="col-md-3">
                	<ul id="demo" class="text-center">

                    </ul>
                    <span class='btn text-elg text-orange hidden-lg hidden-md' style='position:absolute;z-index: 999;left:236px;top:-14px' id='menu_btn'>
                        <i class="fa fa-times hide text-orange" aria-hidden="true"></i>
                        <i class="fa fa-bars text-orange" aria-hidden="true"></i>
                    </span>    
                </div>        
                <div class="col-md-9">
                	<div class="panel panel-orange">
				        <div class="panel-heading">
					        <div class="panel-title">
					            <p class="panel-title-p">
					            	钱包密码
					            </p>
					        </div>
					    </div>
						<div class="row" id="content">
							<div class="col-md-2 col-xs-6 mt-10" id="text">
								已验证手机：
							</div>
							<div class="col-md-8 col-xs-12">
								<input type="text" class="form-control" value="{$phone}" placeholder="" id="phone" name="phone">
							</div>
						</div>
				    <!-- 手机验证码 -->
				        <div class="row" id="content">
							<div class="col-md-2 col-xs-6 mt-10" id="text">
								手机验证码：
							</div>
							<div class="col-md-5 col-xs-7">
							    <input type="text" class="form-control" id="code" placeholder="请输入6位验证码" name="">
							</div>
							<div class="col-md-3 col-xs-5">
								<a onclick="sendMessage(this)"  class="btn btn-defalute form-control border-radius" name="" id="btnSendCode"><i>点击获取验证码</i></a>
							</div>
						</div>
					<!-- 钱包密码 -->
					    <div class="row" id="content">
					    	<div class="col-md-2 mt-10" id="text">
					    		钱包密码：
					    	</div>
					    	<div class="col-md-8">
					    		<input type="password" class="form-control" placeholder="请输入钱包密码" name="" id="password" value="">
					    	</div>
					    </div>
					<!-- 确认新密码 -->
					    <div class="row" id="content">
					    	<div class="col-md-2 mt-10" id="text">
					    		确认新密码：
					    	</div>
					    	<div class="col-md-8">
					    		<input type="password" class="form-control" placeholder="再次输入新密码" id="repassword" name="" value="">
					    	</div>
					    </div>
					    <div class="row">
					        <div class="col-md-4"></div>
					    	<div class="col-md-3">
					    		<button class="btn btn-info border-radius" id="btn">确认</button>
					    	</div>
					    </div>
					</div>
                </div>
			</div>
			</div>
		</div>
	</div>
</div>


<script>
	layui.tree({
		elem: '#demo',
		target:"ip"
		//传入元素选择器
		 ,nodes: [<!--{ //节点 -->
			<!-- name: '交易管理' -->
			<!-- ,children: [{ -->
				<!-- name: '我的任务' -->
			<!-- },{ -->
				<!-- name: '施工管理' -->
			<!-- },{ -->
				<!-- name: '评价管理' -->
			<!-- },{ -->
				<!-- name: '投诉管理' -->
			<!-- },{ -->
				<!-- name: '退款管理' -->
			<!-- },{ -->
				<!-- name: '分享推荐' -->
			<!-- }] -->
		<!-- },-->
		{ 
			name: '我的钱包'
			,children: [{
				name: '钱包余额',
				href:"__PUBLIC__purse_center",
				
			},{
				name: '服务保障金',
				href:"__PUBLIC__faith_deposit",
			},{
				name: '钱包充值',
				href:"__PUBLIC__personal_center_pay",
			},{
				name: '保障金充值',
				href:"__PUBLIC__guarantee_pay",
			},{
				name: '密码管理',
				href:"__PUBLIC__password",
			},
			]
		},{
			name: '账户管理',
			
			children: [{
				name: '基本资料',
				href:"__PUBLIC__work_basics",
				target:"ip"
			},{
				name: '我的消息',
				href:"__PUBLIC__messages/all",
				
			},{
				name: '申请月结',
				href:"__PUBLIC__apply_monthly_statement",
				
			}
			]
		},{
			name: '学习培训'
			,children: [{
				name: '学习中心',
				href:"__PUBLIC__studytrain/index",
				
			}
			]
		}]
	});
	$("i.layui-icon").remove();
	$("#demo").addClass("list-group")
	$("#demo>li").addClass("list-group-item");
	var asm=true;
	$("#demo>li>a").click(function () {
		if(asm) {
			$(this).siblings("ul").css("display", "block");
			$(this).siblings("ul").removeClass("layui-show");
			asm=false;
		}else{
			$(this).siblings("ul").css("display", "none");
			$(this).siblings("ul").removeClass("layui-show");
			asm=true;
		}
	});
    var sfn=true;
    $("#menu_btn").click(function () {
        if(sfn){
            $("#leftr").removeClass("left_p");

            sfn=false;
        }else{
            $("#leftr").addClass("left_p");
            sfn=true;
        }
    })
	$("#demo>li a").width("100%");
	$("#demo>li a").height("100%");
	$("#demo>li>a").click(function (e) {
		e.preventDefault();
	});
	$("#demo>li>ul>li").mouseover(function () {
			$(this).find("cite").css("color","#fff")
	});
	$("#demo>li>ul>li").mouseleave(function () {
		$(this).find("cite").css("color","#337ab7")
	})
	$("#demo>li:eq(0)>a").prepend("<i class='glyphicon glyphicon-shopping-cart'></i>");
	$("#demo>li:eq(1)>a").prepend("<i class='fa fa-folder'></i>");
	$("#demo>li:eq(2)>a").prepend("<i class='fa fa-group'></i>");
	$("#demo>li:eq(3)>a").prepend("<i class='fa fa-graduation-cap'></i>");
</script>

<script>
    $(".x_d").mousemove(function () {
        $(this).css("cursor","pointer");
    });
    $(".x_d").click(function () {
        $(this).parent().css("display","none");
    });
	
	$("#demo>li:eq(2)>ul>li>a:eq(0)").attr("target","__blank");
	$("#demo>li:eq(1)>ul>li>a:eq(1)").attr("target","__blank");
</script>
<script>
//立即注册获取验证码
    var InterValObj; //timer变量，控制时间
    var count = 20; //间隔函数，1秒执行
    var curCount; //当前剩余秒数
    function sendMessage(t) {
   var locading = layer.load(3);
   var phone = $("input[name=phone]").val();
       　　 //向后台发送处理数据
            $.ajax({
                type: 'POST',
                url: 'auth/vvcode',
                data: {
                    phone: phone
                },
                timeout:20*1000,
                dataType: 'json',
                error: function(data) {
                    layer.close(locading);
                    msg();
                },
                success: function(data) {
                   
                    if (data.code == 200) {
                        parent.layer.msg(data.msg, {
                            icon: 1,
                            time: 1000
                        }, function() {
                            curCount = count;　　 //设置button效果，开始计时
                            $("#btnSendCode").attr("disabled", "true");
                            $("#btnSendCode").html(curCount + "秒后获取");
                            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                        });
                    } else {
                        parent.layer.close(locading);
                        parent.layer.msg(data.msg,{icon:2,time:1000});
                    }
                }
            });
    }

function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj); //停止计时器
            $("#btnSendCode").removeAttr("disabled"); //启用按钮
            $("#btnSendCode").html("重新发送");
        }else{
            console.log(curCount)
            curCount--;
            $("#btnSendCode").html(curCount + "秒后获取");
        }
    }
</script>
<script>
$('#btn').click(function(){
   var code = $('#code').val();
   var password = $('#password').val();
   var repassword = $('#repassword').val();
    var phone = $('#phone').val();
  if(code==''){
   	layer.msg('请输入手机验证码',{icon:2,time:1000});
   	return false;
   }
   if(password==''){
   	layer.msg('请输入密码',{icon:2,time:1000});
   	return false;
   }
   if(repassword==''){
   	layer.msg('请再输入密码',{icon:2,time:1000});
   	return false;
   }
   if(password!=repassword){
   	layer.msg('两次输入密码不一致',{icon:2,time:1000});
   	return false;
   }

   $.ajax({
   	url:'__PUBLIC__add_password',
   	type:'post',
   	data:{code:code,password:password,phone:phone},
   	dataType:'json',
    success:function(data){
         if(data.code==200){
            layer.msg(data.msg,{icon:1,time:1000},function(){
            	window.location.href="__PUBLIC__core/customer"
            });
         }else{
           	layer.msg(data.msg,{icon:2,time:1000});
         }
      }
   })
})


</script>
{include file='public/footer'}

