
{include file="public/style_header"}
<style type="text/css">
@media screen and (min-width: 992px){
	#content{
		margin-top:2em;
	}
	#text{
		padding-left: 4%;
	}
	#btn{
		padding:0.7em 6em;
		margin-top: 3em;
		margin-bottom: 33em;
	}
}
@media screen and (max-width: 768px){
	#btn{
		padding:0.7em 3em;
		margin-top: 2em;
		margin-bottom: 3em;
		margin-left: 20%;
	}
}

</style>
		<div class="panel border-aspx">
				        <div class="panel-heading bg-orange">
					        <div class="panel-title">
					            	设置密码
					        </div>
					    </div>
					    <div class="panel-body ">
					    	<div class="row mb-20" id="content">
							<div class="col-sm-2 col-xs-6 mt-10" id="text">
								已验证手机：
							</div>
							<div class="col-sm-8 col-xs-12">
								<input type="text" class="form-control" value="{$phone}" placeholder="" id="phone" name="phone">
							</div>
						</div>
				    <!-- 手机验证码 -->
				        <div class="row mb-20" id="content">
							<div class="col-sm-2 col-xs-6 mt-10" id="text">
								手机验证码：
							</div>
							<div class="col-sm-5 col-xs-7">
							    <input type="text" class="form-control" id="code" placeholder="请输入6位验证码" name="">
							</div>
							<div class="col-sm-3 col-xs-5">
								<a onclick="sendMessage(this)"  class="btn btn-defalute form-control border-radius" name="" id="btnSendCode"><i>点击获取验证码</i></a>
							</div>
						</div>
					<!-- 钱包密码 -->
					    <div class="row mb-20" id="content">
					    	<div class="col-sm-2 mt-10" id="text">
					    		钱包密码：
					    	</div>
					    	<div class="col-sm-8">
					    		<input type="password" class="form-control" placeholder="请输入钱包密码" name="" id="password" value="">
					    	</div>
					    </div>
					<!-- 确认新密码 -->
					    <div class="row mb-20" id="content">
					    	<div class="col-sm-2 mt-10" id="text">
					    		确认新密码：
					    	</div>
					    	<div class="col-sm-8">
					    		<input type="password" class="form-control" placeholder="再次输入新密码" id="repassword" name="" value="">
					    	</div>
					    </div>
					    <div class="row mb-20">
					        <div class="col-sm-4"></div>
					    	<div class="col-sm-3">
					    		<button class="btn btn-info border-radius" id="btn">确认</button>
					    	</div>
					    </div>

					    </div>
						
				</div>


<script>






</script>

<script>

</script>
<script>
//立即注册获取验证码
    var InterValObj; //timer变量，控制时间
    var count = 20; //间隔函数，1秒执行
    var curCount; //当前剩余秒数
    function sendMessage(t) {
   var locading = layer.load(3);
   var phone = $("input[name=phone]").val();
       　　 //向后台发送处理数据
            $.ajax({
                type: 'POST',
                url: 'auth/vvcode',
                data: {
                    phone: phone
                },
                timeout:20*1000,
                dataType: 'json',
                error: function(data) {
                    layer.close(locading);
                    msg();
                },
                success: function(data) {
                   
                    if (data.code == 200) {
					layer.close(locading);
                        parent.layer.msg(data.msg, {
                            icon: 1,
                            time: 1000
                        }, function() {
                            curCount = count;　　 //设置button效果，开始计时
                            $("#btnSendCode").attr("disabled", "true");
                            $("#btnSendCode").html(curCount + "秒后获取");
                            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
                        });
                    } else {
                        parent.layer.close(locading);
                        parent.layer.msg(data.msg,{icon:2,time:1000});
                    }
                }
            });
    }

function SetRemainTime() {
        if (curCount == 0) {
            window.clearInterval(InterValObj); //停止计时器
            $("#btnSendCode").removeAttr("disabled"); //启用按钮
            $("#btnSendCode").html("重新发送");
        }else{
            console.log(curCount)
            curCount--;
            $("#btnSendCode").html(curCount + "秒后获取");
        }
    }
</script>
<script>
$('#btn').click(function(){
   var code = $('#code').val();
   var password = $('#password').val();
   var repassword = $('#repassword').val();
    var phone = $('#phone').val();
  if(code==''){
   parent.layer.msg('请输入手机验证码',{icon:2,time:1000});
   	return false;
   }
   if(password==''){
   	parent.layer.msg('请输入密码',{icon:2,time:1000});
   	return false;
   }
   if(repassword==''){
   	parent.layer.msg('请再输入密码',{icon:2,time:1000});
   	return false;
   }
   if(password!=repassword){
   	parent.layer.msg('两次输入密码不一致',{icon:2,time:1000});
   	return false;
   }

   $.ajax({
   	url:'__PUBLIC__add_password',
   	type:'post',
   	data:{code:code,password:password,phone:phone},
   	dataType:'json',
    success:function(data){
         if(data.code==200){
            parent.layer.msg(data.msg,{icon:1,time:1000});
         }else{
           	parent.layer.msg(data.msg,{icon:2,time:1000});
         }
      }
   })
})


</script>


