{include file='public/header'}
<div class='app'>
    <headers></headers>
    <mian></mian>
    <menus></menus>
    <script type="text/x-template" id='mian'>
        <div class='index'>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__dingdandingbiao">
                    <div class="weui-cell__bd">
                        <p>订单定标</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__kehuxingxi">
                    <div class="weui-cell__bd">
                        <p>客户信息</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__zhurenshifu">
                    <div class="weui-cell__bd">
                        <p>主任师傅</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__lianxikehu">
                    <div class="weui-cell__bd">
                        <p>联系客户</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__suaidanpeishifu">
                    <div class="weui-cell__bd">
                        <p>甩单配师傅</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__zhaobangshoushifu">
                    <div class="weui-cell__bd">
                        <p>找帮手师傅</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__login">
                    <div class="weui-cell__bd">
                        <p>登入</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__findpassword">
                    <div class="weui-cell__bd">
                        <p>找回密码1</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__findpassword2">
                    <div class="weui-cell__bd">
                        <p>找回密码2</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__findpassword3">
                    <div class="weui-cell__bd">
                        <p>找回密码3</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__register">
                    <div class="weui-cell__bd">
                        <p>注册</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__fufeizixun_shifuxingxi">
                    <div class="weui-cell__bd">
                        <p>付费咨询-师傅信息</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__putongshifujiedan">
                    <div class="weui-cell__bd">
                        <p>普通师傅接单</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__weixiubaogaomaster">
                    <div class="weui-cell__bd">
                        <p>师傅-维修报告</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__qiantui">
                    <div class="weui-cell__bd">
                        <p>签退</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__qiandao">
                    <div class="weui-cell__bd">
                        <p>签到</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__meiyouxiaoxi">
                    <div class="weui-cell__bd">
                        <p>没有消息</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__infomation">
                    <div class="weui-cell__bd">
                        <p>消息</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__infomationlist">
                    <div class="weui-cell__bd">
                        <p>消息展示列表</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__orderinfomationlist">
                    <div class="weui-cell__bd">
                        <p>订单消息展示列表</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__kehugerenzhongxin">
                    <div class="weui-cell__bd">
                        <p>客户个人中心</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__shifugerenzhongxin">
                    <div class="weui-cell__bd">
                        <p>师傅个人中心</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="__index__shifuchengxinfeng">
                    <div class="weui-cell__bd">
                        <p>师傅诚信分</p>
                    </div>
                    <div class="weui-cell__ft">
                    </div>
                </a>
            </div>
        </div>
    </script>
</div>
{include file='public/menu'} {include file='public/footer'}
<script>
var data = {}
Vue.component('mian', {
        template: '#mian',
        data: function() {
            return data
        },
        methods: {},
        mounted: function() {}
    })
    //头
Vue.component('headers', {
    template: '#header',
    data: function() {
        return {
            title: "首页导航"
        }
    },
    methods: {
        goback: function() {
            window.history.go(-1)
        }
    }
})
Vue.component('menus', {
    template: '#menu',
    data: function() {
        return {}
    }
})
Vue.component('footers', {
    template: '#footers',
    data: function() {
        return {}
    }
})
new Vue({
    el: '.app'
})
</script>
