{include file='public/header'}
  <link rel="stylesheet" href="__indexStatic__css/style/liuyanpeishifu.css">

<div class='app'>
  <headers></headers>
  <mian></mian>
  <menus></menus>
</div>
<template id='mian'>
  <div class="liuyanpeishifu">
    <div class="weui-cells1 weui-cells_form">
    <div class="weui-cell">
      <div class="weui-cell_hd">
          <label class="weui-label">您的称呼：</label>
      </div>
      <div class="weui-cell_bd" style='width:100%'>
        <span class="weui-input">黄晓</span>
        <div class="radio">
              <input type="radio" name="radio" id="radio1" value="nan">
              <label for="radio1">先生</label>
              <input type="radio" name="radio" id="radio2" value="nv">
              <label for="radio2">女士</label>
        </div>
      </div>
    </div> 
    <div class="weui-cell">
      <div class="weui-cell_hd">
        <label class="weui-label">详细地址：</label>
      </div>
      <div class="weui-cell_bd">
        <input type="text" name="address" readonly="" id="address" value="上海市嘉定区安亭镇方泰路">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell_hd">
        <div class="weui-label">楼号-门牌号：</div>
      </div>
      <div class="weui-cell_bd">
        <input type="text" name="menpaihao" readonly="" id="menpaihao" value="3号楼-2325号">
      </div>
    </div>
    <div class="weui-cell">
      <div class="weui-cell_hd">
        <div class="weui-label">服务时间：</div>
      </div>
      <div class="weui-cell_bd">
       <div class="times">
          <input type="text" name="time" readonly="" id="time" value="2017-08-20 12:34">
       </div>
      </div>
    </div>
  </div>
  <div class="backgroundColor"> </div>

    <div class="weui-cell">
      <div class="weui-cell_hd">
        <label class="weui-label">招募留言：</label>
      </div>
      <div class="weui-cell_bd">
        <input type="text"  name="have_message" readonly="" id="have_message" value="亲，名品专柜，干活还涨实力！">
      </div>
    </div>
  <div class="weui-table">
     <div class="table-tr">
       <div class="table-th-item1">
          <span >项目</span>
       </div>
       <div class="table-th-item2">
          <span>项目预算价</span>
       </div>
       <div class="table-th-item3">
          <span>故障详情</span>
       </div>
     </div>
  </div>
  <div class="weui-table2">
     <div class="table-tr2">
       <div class="table-td-item1">
          <span>安装</span>
       </div>
       <div class="table-td-item2">
          <span>￥50.00</span>
       </div>
       <div class="table-td-item3">
          <span><a href="#">故障详情>></a></span>
       </div>
     </div>
  </div>
  <div class="weui-table3">
     <div class="table-tr3">
       <div class="table-td2-item1">
          <span>加急费用</span>
       </div>
       <div class="table-td2-item2">
          <span></span>
       </div>
       <div class="table-td2-item3">
          <span></span>
       </div>
     </div>
  </div>
  <div class="content">
    <div class="xuanshifu">
        <button class="xuanshifu_btn">
          选师傅
        </button>
    </div>
    <div class="total">
        <span class="heji">合&nbsp;&nbsp;&nbsp;计:￥200.00</span>
    </div>
    <div class="read_quality">阅读量：20次</div>
  </div>
  <div class="xie">
    <div class="pinglun">
      <span>写评论</span>
      <span class="icon-bubbles3"></span>
      
    </div>
  </div>
  <div class="weui-cell">
    <div class="weui-cell_hd yuan"></div>
    <div class="weui-cell_bd heading">
      <a href="#">布鲁没谁了</a>
      <p>今天01:10</p>
    </div>
  </div>
  <div class="content1">
    <p>这个项目离我家挺近，报价也合理，这个单我接了</p>
  </div>
  <div class="content2">
    <div class="liulan">
      <span>浏览20次</span>
      <span class="icon-bubble2"></span>
      <span class="icon-thumb_up one"></span>
    </div>
  </div>
  <div class="weui-cell heading2">
    <div class="weui-cell_hd jia">
     <span class="icon-thumb_up two"> </span>
    </div>
    <div class="weui-cell_bd">
     <span><a href="#">时间煮雨也煮</a>、
     <a href="#">抠脚不收费</a></span>
    </div>
  </div>
  <div class="pinglun2">
    <span> <a href="#">爱情如水中月</a>：</span>
    <span>说的对！那你去吧</span>
  </div>
  <div class="textarea">
    <div class="textarea_one">
      <textarea class="weui-textarea" placeholder="评论" rows="1"></textarea>
    </div>
  </div>
  <div class="backgroundColor">
  </div>
    <div class="weui-cell">
    <div class="weui-cell_hd yuan"></div>
    <div class="weui-cell_bd heading">
      <a href="#">布鲁没谁了</a>
      <p>今天01:10</p>
    </div>
  </div>
  <div class="content1">
    <p>这个项目离我家挺近，报价也合理，这个单我接了</p>
  </div>
  <div class="content2">
    <div class="liulan">
      <span>浏览20次</span>
      <span class="icon-bubble2"></span>
      <span class="icon-thumb_up one"></span>
    </div>
  </div>
  <div class="weui-cell heading2">
    <div class="weui-cell_hd jia">
     <span class="icon-thumb_up two"> </span>
    </div>
    <div class="weui-cell_bd">
     <span><a href="#">时间煮雨也煮</a>、
     <a href="#">抠脚不收费</a></span>
    </div>
  </div>
  <div class="pinglun2">
    <span> <a href="#">爱情如水中月</a>：</span>
    <span>说的对！那你去吧</span>
  </div>
  <div class="textarea">
    <div class="textarea_one">
      <textarea class="weui-textarea" placeholder="评论" rows="1"></textarea>
    </div>
  </div>
  </div>
</template>
{include file='public/menu'} {include file='public/footer'}

<script>
  var data = {
    sex: 1
  }
  Vue.component('mian', {
    template: '#mian',
    data: function () {
      return data
    },
    methods: {
      getdata: function (type) {
        var date = new Date();
        if (type == 1) {
          var year = date.getFullYear();
          var mounth = date.getMonth() + 1;
          var dates = date.getDate();
          return year + "-" + mounth + "-" + dates;
        } else {
          var hours = date.getHours();
        }
      },
    },
    mounted: function () {
      $('#time').datetimePicker({
        min: this.getdata(1)
      });
    }
  })
  //头
  Vue.component('headers', {
    template: '#header',
    data: function () {
      return {
        title: "留言配师傅"
      }
    },
    methods: {
      goback: function () {
        window.history.go(-1)
      }
    }
  })
  Vue.component('menus', {
    template: '#menu',
    data: function () {
      return {}
    }
  })
  Vue.component('footers', {
    template: '#footers',
    data: function () {
      return {}
    }
  })
  new Vue({
    el: '.app'
  })
</script>