{include file="public/headerlogin"}
<div class='login'>
<div class='headerlogin'>
    <div class="header-wrapper">
        <div class="header-left" id='goback'>
            <i class='icon-arrow_lift'></i>
            <span class='goback'>返回</span>
        </div>
        <div class="header-content">
        </div>
        <div class="header-right">
            <span class='text'>注册</span>
        </div>
    </div>
</div>

<div class="login-center">
    <div class="login-logo">
        <h2>账号登录</h2>
    </div>
    <div class="login-form">
        <form action="">
            <div class="login-user">
                <input type="text" class='user-input' placeholder="手机号 / 用户名 / 邮箱">
            </div>
            <div class="login-user">
                <input type="password" class='user-input' placeholder="登入密码">
                <i class='icon-Eyes-closed' id='lookpassword'></i>
            </div>
            <div class="login-user-bottom">
                <a href="javascript:;" class="weui-btn weui-btn_plain-warn btn-orange user-bottom">登入</a>
            </div>
            <div class="login-user-text">
                <span class="weui-agree__text">
                    <a href="javascript:void(0);">找回密码</a>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="login-footer">
    <span>登入即代表您同意我们的
        <a href="">服务协议</a> 和
        <a href="">隐私政策</a>
    </span>
</div>
</div>
