{include file="public/headerlogin"}
<div class='signOut'>
    <div class="signOut-top">
        <div class="orderNumber">
            <span>订单号：</span>
            <span>3131313131332313</span>
        </div>
        <div class="price">
            <span>￥<span>1200</span>元</span>
            <br>
            <span class='priceText'>总价</span>
        </div>
    </div>
    <div class="signOut-bottom">
        <div class="siginOut-buttom">
             <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default ">签退</a>
        </div>
        <div class="signOut-location">
            <span><i class='icon-location2'></i>当前位置：<span class='location'>江苏省苏州市昆山市花安路169号中寰广场5楼528室</span></span>
        </div>
    </div>
</div>