.kehuinfo
    font-size: 14px
    .weui-label
        width:90px
    .border-none
        margin-top:0
    .label
        font-weight:500
        font-size: 14px
    .weui-cell
        .raido
            float:right